@import "././resources/styles/__/variables";
@import "././resources/styles/partials/mixins/gallery-news-top";

.gallery.top {
  font-family: $font-family-1;
  font-style: normal;
  padding-bottom: 40px;

  .h1 {
    @include h1;
  }

  .tiles {
    @include tiles;
  }

  .tile {
    @include tile;
  }
}