$container-fluid-xl: 1440px;
$container-fluid-lg: 1280px;
$container-fluid-md: 768px;
$container-fluid-sm: 360px;

$container-fixed-xl: 1180px;
$container-fixed-lg: 1050px;
$container-fixed-md: 720px;
$container-fixed-sm: 340px;

$media-grid-lg: 1422.98px;
$media-grid-md: 1262.98px;
$media-grid-sm: 750.98px;

$color-black: #000000;
$color-gray-900: #27272B;
$color-gray-800: #313138;
$color-gray-700: #4A4A51;
$color-gray-600: #636368;
$color-gray-500: #7C7C81;
$color-gray-400: #959598;
$color-gray-300: #AEAEB1;
$color-gray-200: #C7C7C8;
$color-gray-100: #E0E0E1;
$color-gray-050: #F8F8F8;
$color-white: #FFFFFF;

$color-red-700: #DD2929;
$color-red-500: #E55858;
$color-red-300: #ED8585;

$font-family-1: "Proxima Nova", "Jost", sans-serif;
$font-family-2: "Manrope", sans-serif;