.cart.info {
  width: 575px;
}
@media (max-width: 1422.98px) {
  .cart.info {
    width: 508px;
  }
}
@media (max-width: 1262.98px) {
  .cart.info {
    width: 100%;
  }
}
.cart.info .form-wrapper {
  position: relative;
  padding: 46px 38px 60px 50px;
}
@media (max-width: 1422.98px) {
  .cart.info .form-wrapper {
    padding: 46px 0 60px 36px;
  }
}
@media (max-width: 1262.98px) {
  .cart.info .form-wrapper {
    padding: 36px 0 68px;
  }
}
@media (max-width: 750.98px) {
  .cart.info .form-wrapper {
    padding: 36px 0 72px;
  }
}
.cart.info .form-wrapper::before {
  content: "";
  background-color: #F8F8F8;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: -140px;
}
@media (max-width: 1422.98px) {
  .cart.info .form-wrapper::before {
    right: -125px;
  }
}
@media (max-width: 1262.98px) {
  .cart.info .form-wrapper::before {
    left: -34px;
    right: -34px;
  }
}
@media (max-width: 750.98px) {
  .cart.info .form-wrapper::before {
    left: -20px;
    right: -20px;
  }
}
.cart.info .form-title {
  position: relative;
  z-index: 1;
  margin: 0 0 22px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 1422.98px) {
  .cart.info .form-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 1262.98px) {
  .cart.info .form-title {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (max-width: 750.98px) {
  .cart.info .form-title {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 24;
  }
}
.cart.info .form {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
}
.cart.info .checkboxes-top {
  margin-bottom: 22px;
}
.cart.info .checkboxes-bottom {
  margin-bottom: 40px;
}
.cart.info .inputs {
  margin-bottom: 34px;
}
.cart.info .form-textarea {
  margin-bottom: 30px;
}
.cart.info .form-agree {
  margin-bottom: 30px;
}
.cart.info .checkboxes-head {
  margin-bottom: 12px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.01em;
  font-size: 21px;
  line-height: 26px;
}
.cart.info .btn-submit {
  height: 52px;
}
@media (max-width: 750.98px) {
  .cart.info .btn-submit {
    font-size: 15px;
    height: 42px;
  }
}
