.cart.order {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 563px;
}
@media (max-width: 1422.98px) {
  .cart.order {
    width: 508px;
  }
}
@media (max-width: 1262.98px) {
  .cart.order {
    margin-bottom: 60px;
    width: 100%;
  }
}
.cart.order .to-clear {
  width: 160px;
  height: 42px;
  margin-right: 20px;
}
@media (max-width: 1262.98px) {
  .cart.order .to-clear {
    margin-right: 0;
  }
}
.cart.order .to-clear span {
  font-size: 15px;
}
.cart.order .to-clear svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.cart.order .positions-outer {
  flex-grow: 1;
  position: relative;
}
.cart.order .positions-outer::after {
  content: "";
  z-index: 1;
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  pointer-events: none;
}
@media (max-width: 1262.98px) {
  .cart.order .positions-outer::after {
    display: none;
  }
}
.cart.order .positions-inner {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1262.98px) {
  .cart.order .positions-inner {
    position: static;
  }
}
.cart.order .position {
  margin-bottom: 10px;
  width: 543px;
  background-color: #F8F8F8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1422.98px) {
  .cart.order .position {
    width: 488px;
  }
}
@media (max-width: 1262.98px) {
  .cart.order .position {
    width: 100%;
  }
}
@media (max-width: 750.98px) {
  .cart.order .position {
    flex-direction: column;
    align-items: stretch;
  }
}
.cart.order .position-image {
  padding: 8px;
  width: 128px;
  height: 186px;
}
@media (max-width: 750.98px) {
  .cart.order .position-image {
    width: 100%;
    height: 116px;
  }
}
.cart.order .position-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
}
.cart.order .position-rows {
  flex-grow: 1;
  padding: 18px 24px;
}
.cart.order .position-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart.order .position-title {
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 21px;
  line-height: 30px;
}
