link(rel="stylesheet", href="css/page/new/content.css")
section(class="new content")
  img(src="images/content-new.jpg", alt="")
  p
    | Программа обучения была рассчитана как на начинающих мастеров, так и на специалистов, имеющих значительный опыт изготовления изделий из искусственного камня.
  p
    | Были продемонстрированы основные этапы и технические приемы обработки материала, а также ряд профессиональных тонкостей, позволяющих добиться самого высокого качества готовой поверхности.
  iframe(width="1440", height="500", src="https://www.youtube.com/embed/q0Zb8QqXo0A", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  p
    | Участники семинара высоко оценили уровень мероприятия и практическую ценность полученной информации.