link(rel="stylesheet", href="css/page/new/content.css")
section(class="new content")
  img(src="images/content-new.jpg", alt="")
  p
    | Программа обучения была рассчитана как на начинающих мастеров, так и на специалистов, имеющих значительный опыт изготовления изделий из искусственного камня.
  p
    | Были продемонстрированы основные этапы и технические приемы обработки материала, а также ряд профессиональных тонкостей, позволяющих добиться самого высокого качества готовой поверхности.
  img(src="images/content-new.jpg", alt="")
  p
    | Участники семинара высоко оценили уровень мероприятия и практическую ценность полученной информации.