link(rel="stylesheet", href="css/page/new/top.css")
div(class="container container-fixed")
  section(class="new top")
    div(class="title")
      | Новости
    div(class="type")
      | Мероприятия
    h1(class="h1")
      | 2 марта в нашем учебном центре прошел учебный семинар для обработчиков акрилового камня
    div(class="times")
      div(class="date")
        | 6 сентября 2021 года
      div(class="time")
        | Время на ознакомление: 2 мин