link(rel="stylesheet", href="css/page/gallery/modal.css")
script(src="js/page/gallery/modal.js")
section(class="modal-popup gallery")
  div(class="wrapper")
    div(class="head")
      button(type="button", class="close")
        include ../../partials/svg/close-2
    div(class="body")
      img(alt="", src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")