@import "././resources/styles/__/variables";

.glue {
  font-family: $font-family-1;
  font-style: normal;

  .h1 {
    margin: 0 0 52px;
    color: $color-black;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 48px;
    line-height: 58px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 44px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  .h2 {
    margin: 0 0 24px;
    color: $color-black;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 30px;
    line-height: 36px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 21px;
      line-height: 26px;
    }
  }

  .info {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $color-black;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 17px;
    line-height: 32px;

    @media (max-width: $media-grid-md) {
      font-size: 15px;
      line-height: 28px;
    }

    @media (max-width: $media-grid-sm) {
      flex-direction: column;
      font-size: 14px;
    }
  }

  .left {
    width: 574px;

    @media (max-width: $media-grid-lg) {
      width: 504px;
    }

    @media (max-width: $media-grid-md) {
      width: 324px;
    }

    @media (max-width: $media-grid-sm) {
      order: 2;
      width: 100%;
      margin-top: 30px;
    }
  }

  .left p {
    margin: 0 0 8px;
  }

  .left ul {
    display: block;
    margin: 24px 0 42px;
    padding: 0;

    @media (max-width: $media-grid-md) {
      margin: 32px 0;
    }
  }

  .left li {
    display: block;
    position: relative;
    margin: 0 0 8px 0;
    padding: 0 0 0 32px;
    line-height: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 3px;
      transform: rotate(45deg);
      width: 11px;
      height: 11px;
      border: 1px solid currentColor;
    }
  }

  .alert {
    padding: 26px 32px;
    border: 2px solid $color-red-700;

    @media (max-width: $media-grid-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .right {
    width: 456px;
    height: auto;
    object-fit: cover;

    @media (max-width: $media-grid-md) {
      width: 342px;
    }

    @media (max-width: $media-grid-sm) {
      order: 1;
      width: 100%;
    }
  }

  .table {
    margin-bottom: 60px;
    border: none;
    border-collapse: collapse;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $media-grid-sm) {
      margin-bottom: 44px;
      font-size: 11px;
    }
  }

  .table tr {
    &:nth-child(even) {
      background-color: $color-gray-050;
    }
  }

  .thead td {
    color: $color-gray-500;
  }

  .table td {
    position: relative;
    padding: 20px 0;
    vertical-align: top;

    &:nth-child(1) {
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 600;
      width: 544px;

      @media (max-width: $media-grid-lg) {
        width: 480px;
      }

      @media (max-width: $media-grid-md) {
        width: 324px;
      }

      @media (max-width: $media-grid-sm) {
        width: auto;
      }
    }

    &:nth-child(2) {
      width: 160px;

      @media (max-width: $media-grid-md) {
        width: 170px;
      }

      @media (max-width: $media-grid-sm) {
        width: auto;
      }
    }

    &:nth-child(3) {
      text-align: center;
      width: 270px;

      @media (max-width: $media-grid-lg) {
        width: 180px;
      }

      @media (max-width: $media-grid-md) {
        width: 0;

        span {
          position: absolute;
          transform: translateX(-50%);
          white-space: nowrap;
        }
      }
    }

    &:nth-child(4) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .buttons {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: $media-grid-sm) {
      flex-direction: column;
    }

    .to-home {
      min-width: 234px;
      height: 52px;

      @media (max-width: $media-grid-sm) {
        margin-bottom: 44px;
      }

      svg {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    .to-catalog {
      min-width: 220px;
      height: 52px;

      svg {
        display: block;
        width: 14px;
        height: auto;
        margin-left: 8px;
      }
    }
  }
}