@import "././resources/styles/__/variables";

.breadcrumbs {
  width: 550px !important;

  @media (max-width: $media-grid-lg) {
    width: 500px !important;
  }

  @media (max-width: $media-grid-md) {
    width: 400px !important;
  }

  @media (max-width: $media-grid-sm) {
    width: 100% !important;
  }
}

.study_request {
  font-family: $font-family-1;
  font-style: normal;

  .container {
    position: relative;
    padding-bottom: 85px;

    @media (max-width: $media-grid-md) {
      padding-bottom: 90px;
    }

    @media (max-width: $media-grid-sm) {
      padding-bottom: 104px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $color-gray-800;
      bottom: 0;
      top: -100px;
      right: -130px;
      width: 550px;

      @media (max-width: $media-grid-lg) {
        right: -115px;
        width: 528px;
      }

      @media (max-width: $media-grid-md) {
        right: -24px;
        width: 312px;
      }

      @media (max-width: $media-grid-sm) {
        top: auto;
        right: -10px;
        width: 306px;
        height: 1050px;
      }
    }
  }

  .h1 {
    position: relative;
    z-index: 1;
    margin: 0 0 60px;
    width: 550px;
    display: flex;
    flex-direction: column;
    font-weight: 600;

    @media (max-width: $media-grid-lg) {
      width: 500px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 45px;
      width: 400px;
    }

    @media (max-width: $media-grid-sm) {
      width: 100%;
    }

    .title {
      margin-bottom: 18px;
      color: $color-black;
      letter-spacing: 0.02em;
      font-size: 48px;
      line-height: 58px;

      @media (max-width: $media-grid-md) {
        font-size: 36px;
        line-height: 44px;
      }

      @media (max-width: $media-grid-sm) {
        margin-bottom: 14px;
        font-size: 30px;
        line-height: 36px;
      }
    }

    .subtitle {
      text-transform: uppercase;
      color: $color-gray-300;
      letter-spacing: 0.14em;
      font-size: 13px;
      line-height: 18px;

      @media (max-width: $media-grid-md) {
        font-size: 12px;
      }

      @media (max-width: $media-grid-sm) {
        font-size: 11px;
        line-height: 16px;
      }
    }
  }

  .h2 {
    position: relative;
    z-index: 1;
    margin: 0 0 40px;
    width: 550px;
    color: $color-gray-900;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 30px;
    line-height: 36px;

    @media (max-width: $media-grid-lg) {
      width: 500px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 30px;
      width: 400px;
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $media-grid-sm) {
      width: 100%;
      font-size: 21px;
      line-height: 26px;
    }
  }

  .text {
    color: $color-black;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 17px;
    line-height: 32px;

    @media (max-width: $media-grid-md) {
      font-size: 15px;
      line-height: 28px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  .row {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 50px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 64px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 80px;
    }

    .text {
      margin-right: 290px;
      width: 550px;

      @media (max-width: $media-grid-lg) {
        margin-right: 215px;
        width: 500px;
      }

      @media (max-width: $media-grid-md) {
        margin-right: 55px;
        width: 400px;
      }

      @media (max-width: $media-grid-sm) {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
      }
    }

    .date {
      margin-right: auto;
    }

    .time {
      margin-left: auto;
    }

    .t {
      margin-top: 5px;
      color: $color-white;
      font-weight: 700;
      letter-spacing: 0.02em;
      font-size: 21px;
      line-height: 30px;

      @media (max-width: $media-grid-md) {
        margin-top: 0;
        font-size: 19px;
        line-height: 28px;
      }

      @media (max-width: $media-grid-sm) {
        color: $color-black;
        font-size: 17px;
        line-height: 24px;
      }
    }

    .b {
      margin-top: 7px;
      color: $color-gray-300;
      font-weight: 400;
      letter-spacing: 0.02em;
      font-size: 15px;
      line-height: 28px;

      @media (max-width: $media-grid-md) {
        margin-top: 8px;
        font-size: 14px;
        line-height: 26px;
      }

      @media (max-width: $media-grid-sm) {
        color: $color-gray-500;
        font-size: 13px;
        line-height: 24px;
      }
    }
  }
}