link(rel="stylesheet", href="css/page/where_to_buy/top.css")
script(src="js/page/where_to_buy/top.js")
section(class="where_to_buy top")
  div(class="container container-fixed")
    h1(class="h1")
      | Где купить продукцию Staron
  form(class="where_to_buy form", novalidate="novalidate")
    div(class="container container-fixed")
      div(class="row")
        div(class="label")
          span
            | Поиск дилера
        div(class="city-wrapper")

        div(class="type-wrapper")

        button(type="submit", class="button default")
          span
            | Найти