link(rel="stylesheet", href="css/page/index/benefits.css")
script(src="js/page/index/benefits.js")
section(class="index benefits")
  div(class="container container-fixed")
    h2
      | Наши преимущества
  div(class="container container-fluid benefits-tabs-head-wrapper")
    div(class="benefits-tabs-head")
      button(type="button", class="button default", data-tab="1")
        span
          | Дизайнерам
      button(type="button", class="button secondary", data-tab="2")
        span
          | Производителям
      button(type="button", class="button secondary", data-tab="3")
        span
          | Потребителям
  div(class="container container-fluid benefits-tabs-body-wrapper")
    div(class="list benefits-tabs-body-1")
      div(class="item")
        include ../../partials/svg/benefits-designers-1
        div(class="title")
          | Широкая палитра
        div(class="text")
          | Широкая палитра расцветок: от натуральных до ярких с различными видами включений позволяет подобрать материал для любого интерьера
      div(class="item")
        include ../../partials/svg/benefits-designers-2
        div(class="title")
          | Бесшовное соединение
        div(class="text")
          | Бесшовное соединение делает монолитными поверхности любых размеров
      div(class="item")
        include ../../partials/svg/benefits-designers-3
        div(class="title")
          | Термопластичность
        div(class="text")
          | Термопластичность предоставляет возможность для создания изделий практически любых форм
      div(class="item left")
        include ../../partials/svg/benefits-designers-4
        div(class="title")
          | Светопроницаемость
        div(class="text")
          | Светопропускающая способность, присущая части ассортимента акрилового камня Staron, открывает новые возможности для рекламных конструкций и дизайнерских инсталляций
      div(class="item right")
        include ../../partials/svg/benefits-designers-5
        div(class="title")
          | Совместимость материалов
        div(class="text")
          | Совместимость не только с другими цветами, но и материалами позволяет воплощать самые смелые архитектурные проект

    div(class="list benefits-tabs-body-2 hidden")
      div(class="item")
        include ../../partials/svg/benefits-manufacturers-1
        div(class="title")
          | Легкость обработки
        div(class="text")
          | Не требует дорогостоящего оборудования. Пластичный, не крошится, легко полируется
      div(class="item")
        include ../../partials/svg/benefits-manufacturers-2
        div(class="title")
          | Стабильно высокое качество
        div(class="text")
          | Отсутствие рекламаций от потребителей, 10 лет гарантии на материал
      div(class="item")
        include ../../partials/svg/benefits-manufacturers-3
        div(class="title")
          | Низкая разнотолщинность
        div(class="text")
          | Акриловый камень Staron имеет самую низкую в отрасли разнотолщинность
      div(class="item left")
        include ../../partials/svg/benefits-manufacturers-4
        div(class="title")
          | Безопасно для здоровья
        div(class="text")
          | В составе отсутствуют недружественные человеку вещества
      div(class="item right")
        include ../../partials/svg/benefits-manufacturers-5
        div(class="title")
          | Предсказуемый результат
        div(class="text")
          | Благодаря неизменному составу из высококачественных компонентов

    div(class="list benefits-tabs-body-3 hidden")
      div(class="item")
        include ../../partials/svg/benefits-consumers-1
        div(class="title")
          | Износостойкость
        div(class="text")
          | Обусловлена высокими плотностью и твёрдостью материала
      div(class="item")
        include ../../partials/svg/benefits-consumers-2
        div(class="title")
          | Устойчивость к появлению пятен
        div(class="text")
          | Благодаря отсутствию пор красящие вещества остаются на поверхности и легко смываются
      div(class="item")
        include ../../partials/svg/benefits-consumers-3
        div(class="title")
          | Устойчивость к ультрафиолету
        div(class="text")
          | Под воздействием солнечных лучей камень не меняет свои свойства и цвет
      div(class="item")
        include ../../partials/svg/benefits-consumers-4
        div(class="title")
          | Гигиеничность
        div(class="text")
          | Отсутствие пор и швов препятствует скоплению грязи, появлению плесени и грибков
      div(class="item")
        include ../../partials/svg/benefits-consumers-5
        div(class="title")
          | Ремонтопригодность
        div(class="text")
          | Повреждённое изделие можно восстановить до состояния нового
      div(class="item")
        include ../../partials/svg/benefits-consumers-6
        div(class="title")
          | Простота ухода
        div(class="text")
          | Загрязнения удаляются влажной тряпкой или мыльным раствором
      div(class="item left")
        include ../../partials/svg/benefits-consumers-7
        div(class="title")
          | Термостойкость
        div(class="text")
          | Выдерживает температуры до 130°, однако для раскалённых кастрюль и сковородок следует использовать подставки
      div(class="item right")
        include ../../partials/svg/benefits-consumers-8
        div(class="title")
          | Негигроскопичность
        div(class="text")
          | Материал не впитывает влагу, поэтому не претерпевает никаких изменений даже при длительном контакте с водой