link(rel="stylesheet", href="css/page/index/benefits.css")
section(class="benefits")
    h2
        | Наши преимущества
    div(class="list")
        div(class="item")
            svg
            div(class="title")
                | Широкая палитра
            div(class="text")
                | От натуральных до ярких с различными видами включений - материал для любого интерьера
        div(class="item")
            svg
            div(class="title")
                | Бесшовное соединение
            div(class="text")
                | Бесшовное соединение делает монолитными поверхности любых размеров
        div(class="item")
            svg
            div(class="title")
                | Термопластичность
            div(class="text")
                | Большие возможности для создания изделий практически любых форм
        div(class="item")
            svg
            div(class="title")
                | Светопроницаемость
            div(class="text")
                | Светопропускающая способность открывает новые возможности для дизайна и рекламы
        div(class="item")
            svg
            div(class="title")
                | Совместимость материалов
            div(class="text")
                | Совместимость не только с другими цветами, но и другими материалами