link(rel="stylesheet", href="css/page/index/production.css")
section(class="index production")
  div(class="container container-fixed")
    h2
      | Продукция
    div(class="buttons buttons-top")
      a(href="catalog.html", class="button default btn-catalog")
        span
          | Каталог продукции Staron
      a(href="gallery.html", class="button secondary btn-gallery")
        span
          | Галерея
      a(href="3d.html", class="button secondary btn-3d")
        span
          | 3D-визуализатор
        include ../../partials/svg/3d

  div(class="container container-fluid")
    div(class="images-grid")
      img(src="images/content-home-production-1.jpg", alt="", class="image image-1")
      img(src="images/content-home-production-2.jpg", alt="", class="image image-2")
      img(src="images/content-home-production-3.jpg", alt="", class="image image-3")
      img(src="images/content-home-production-4.jpg", alt="", class="image image-4")
      img(src="images/content-home-production-5.jpg", alt="", class="image image-5")
      img(src="images/content-home-production-6.jpg", alt="", class="image image-6")


  div(class="container container-fixed")
    div(class="buttons buttons-bottom")
      a(href="catalog.html", class="button default btn-show-more")
        span
          | Показать больше
      a(href="catalog.html", class="button transparent btn-go-catalog")
        span
          | Перейти в каталог
        include ../../partials/svg/arrow-right
