link(rel="stylesheet", href="css/page/index/scroll.css")
script(src="js/page/index/scroll.js")
section(class="index scroll")
  button(type="button", class="scroll-btn")
    include ../../partials/svg/scroll-button