link(rel="stylesheet", href="css/page/index/trend-right.css")

div(class="title")
  div(class="title-left")
    div(class="collection-text")
      | Коллекция
    div(class="collection-title")
  div(class="title-right")
    div(class="product-text")
      | Выбранный продукт
    div(class="product-title")
each item in items
  div(class="text-wrap hidden", data-id=`${item.id}`)
    | !{item.text}
div(class="quantity-wrapper")
  |


div(class="buttons")
  button(type="button", class="button circuit-inverse add-to-order")
    span
      | Добавить в заказ
  a(href="#", class="button transparent-inverse go-to-product")
    span
      | Перейти к продукту
    include ../../partials/svg/arrow-right