-
  trend = {
    popular: {
      0: {
        id: 1,
        tile: 'images/content-home-trend-popular-1.jpg',
        length: '3681',
        width: '761',
        thickness: '11',
        square: '2,1',
        weight: '62,1',
        collection: 'Supreme',
        product: 'Natural Bridge',
        text: '<p>Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      1: {
        id: 2,
        tile: 'images/content-home-trend-popular-2.jpg',
        length: '3682',
        width: '762',
        thickness: '12',
        square: '2,2',
        weight: '62,2',
        collection: 'Supreme 2',
        product: 'Natural Bridge 2',
        text: '<p>2 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      2: {
        id: 3,
        tile: 'images/content-home-trend-popular-3.jpg',
        length: '3683',
        width: '763',
        thickness: '13',
        square: '2,3',
        weight: '62,3',
        collection: 'Supreme 3',
        product: 'Natural Bridge 3',
        text: '<p>3 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',

      },
      3: {
        id: 4,
        tile: 'images/content-home-trend-popular-4.jpg',
        length: '3684',
        width: '764',
        thickness: '14',
        square: '2,4',
        weight: '62,4',
        collection: 'Supreme 4',
        product: 'Natural Bridge 4',
        text: '<p>4 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      4: {
        id: 5,
        tile: 'images/content-home-trend-popular-5.jpg',
        length: '3685',
        width: '765',
        thickness: '15',
        square: '2,5',
        weight: '62,5',
        collection: 'Supreme 5',
        product: 'Natural Bridge 5',
        text: '<p>5 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      5: {
        id: 6,
        tile: 'images/content-home-trend-popular-6.jpg',
        length: '3686',
        width: '766',
        thickness: '16',
        square: '2,6',
        weight: '62,6',
        collection: 'Supreme 6',
        product: 'Natural Bridge 6',
        text: '<p>6 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
    },
    stock: {
      0: {
        id: 1,
        tile: 'images/content-home-trend-popular-1.jpg',
        length: '3681',
        width: '761',
        thickness: '11',
        square: '2,1',
        weight: '62,1',
        collection: 'Supreme',
        product: 'Natural Bridge',
        text: '<p>Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      1: {
        id: 2,
        tile: 'images/content-home-trend-popular-2.jpg',
        length: '3682',
        width: '762',
        thickness: '12',
        square: '2,2',
        weight: '62,2',
        collection: 'Supreme 2',
        product: 'Natural Bridge 2',
        text: '<p>2 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      2: {
        id: 3,
        tile: 'images/content-home-trend-popular-3.jpg',
        length: '3683',
        width: '763',
        thickness: '13',
        square: '2,3',
        weight: '62,3',
        collection: 'Supreme 3',
        product: 'Natural Bridge 3',
        text: '<p>3 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      3: {
        id: 4,
        tile: 'images/content-home-trend-popular-4.jpg',
        length: '3684',
        width: '764',
        thickness: '14',
        square: '2,4',
        weight: '62,4',
        collection: 'Supreme 4',
        product: 'Natural Bridge 4',
        text: '<p>4 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      4: {
        id: 5,
        tile: 'images/content-home-trend-popular-5.jpg',
        length: '3685',
        width: '765',
        thickness: '15',
        square: '2,5',
        weight: '62,5',
        collection: 'Supreme 5',
        product: 'Natural Bridge 5',
        text: '<p>5 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
      5: {
        id: 6,
        tile: 'images/content-home-trend-popular-6.jpg',
        length: '3686',
        width: '766',
        thickness: '16',
        square: '2,6',
        weight: '62,6',
        collection: 'Supreme 6',
        product: 'Natural Bridge 6',
        text: '<p>6 Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений</p>',
        link: 'product.html',
      },
    },
  };

link(rel="stylesheet", href="css/page/index/trend.css")
script(src="js/page/index/trend.js")
link(rel="stylesheet", href="css/page/index/trend-left.css")
link(rel="stylesheet", href="css/page/index/trend-right.css")
script(src="js/page/index/trend-right.js")

section(class="index trend")
  div(class="container container-fixed")
    h2
      | В тренде
    div(class="trend-tabs-head tabs-head")
      button(type="button", class="tabs-button active", data-tab="1")
        | Популярное
      button(type="button", class="tabs-button", data-tab="2")
        | Акции

    div(class="trend-tabs-body trend-tabs-body-1")
      div(class="left")
        div(class="left-wrapper")
          - items = trend.popular;
          include trend-left
      div(class="right")
        - items = trend.popular;
        include trend-right

    div(class="trend-tabs-body trend-tabs-body-2 hidden")
      div(class="left")
        div(class="left-wrapper")
          - items = trend.stock;
          include trend-left
      div(class="right")
        - items = trend.stock;
        include trend-right