-
    trend = {
        popular: {
            0: {
                id: 1,
                tile: 'p 1',
                length: '3681',
                width: '761',
                thickness: '11',
                square: '2,1',
                weight: '62,1',
            },
            1: {
                id: 2,
                tile: 'p 2',
                length: '3682',
                width: '762',
                thickness: '12',
                square: '2,2',
                weight: '62,2',
            },
            2: {
                id: 3,
                tile: 'p 3',
                length: '3683',
                width: '763',
                thickness: '13',
                square: '2,3',
                weight: '62,3',
            },
            3: {
                id: 4,
                tile: 'p 4',
                length: '3684',
                width: '764',
                thickness: '14',
                square: '2,4',
                weight: '62,4',
            },
            4: {
                id: 5,
                tile: 'p 5',
                length: '3685',
                width: '765',
                thickness: '15',
                square: '2,5',
                weight: '62,5',
            },
            5: {
                id: 6,
                tile: 'p 6',
                length: '3686',
                width: '766',
                thickness: '16',
                square: '2,6',
                weight: '62,6',
            },
        },
        stock: {
            0: {
                id: 1,
                tile: 's 1',
                length: '3681',
                width: '761',
                thickness: '11',
                square: '2,1',
                weight: '62,1',
            },
            1: {
                id: 2,
                tile: 's 2',
                length: '3682',
                width: '762',
                thickness: '12',
                square: '2,2',
                weight: '62,2',
            },
            2: {
                id: 3,
                tile: 's 3',
                length: '3683',
                width: '763',
                thickness: '13',
                square: '2,3',
                weight: '62,3',
            },
            3: {
                id: 4,
                tile: 's 4',
                length: '3684',
                width: '764',
                thickness: '14',
                square: '2,4',
                weight: '62,4',
            },
            4: {
                id: 5,
                tile: 's 5',
                length: '3685',
                width: '765',
                thickness: '15',
                square: '2,5',
                weight: '62,5',
            },
            5: {
                id: 6,
                tile: 's 6',
                length: '3686',
                width: '766',
                thickness: '16',
                square: '2,6',
                weight: '62,6',
            },
        },
    };

link(rel="stylesheet", href="css/page/index/trend.css")
script(src="js/page/index/trend.js")
section(class="trend")
    div(class="container container-fixed")
        h2
            | В тренде
        div(class="trend-tabs-head tabs-head")
            button(type="button", class="tabs-button active", data-tab="1")
                | Популярное
            button(type="button", class="tabs-button", data-tab="2")
                | Акции

        div(class="trend-tabs-body trend-tabs-body-1")
            div(class="left")
                div(class="left-wrapper")
                    - items = trend.popular;
                    include trend-left
            div(class="right")
                - test = '1';
                include trend-right

        div(class="trend-tabs-body trend-tabs-body-2 hidden")
            div(class="left")
                div(class="left-wrapper")
                    - items = trend.stock;
                    include trend-left
            div(class="right")
                - test = '2';
                include trend-right