@import "././resources/styles/__/variables";

.visualisation-3d.bottom {
  font-family: $font-family-1;
  font-style: normal;
  margin-bottom: 36px;

  @media (max-width: $media-grid-md) {
    margin-bottom: 50px;
  }

  @media (max-width: $media-grid-sm) {
    margin-bottom: 40px;
  }

  .selects {
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: $media-grid-lg) {
      grid-column-gap: 18px;
    }

    @media (max-width: $media-grid-md) {
      grid-column-gap: 16px;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $media-grid-sm) {
      grid-template-columns: 1fr;
    }
  }

  .select {
    position: relative;

    &:last-child {
      @media (max-width: $media-grid-md) {
        grid-column-start: 1;
        grid-column-end: span 2;
      }

      @media (max-width: $media-grid-sm) {
        grid-column-start: 1;
        grid-column-end: span 1;
      }
    }
  }

  .summary {
    position: relative;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid $color-black;

    &.disabled {
      cursor: not-allowed;
    }

    svg {
      pointer-events: none;
      display: block;
      width: 12px;
      height: auto;
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .select[open] .summary svg {
    transform: translateY(-50%);
  }

  .select-placeholder {
    padding-right: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 17px;
    line-height: 56px;

    @media (max-width: $media-grid-md) {
      line-height: 60px;
    }

    @media (max-width: $media-grid-sm) {
      line-height: 54px;
    }
  }

  .select:not([open]) {

    .select-placeholder {
      color: $color-gray-500;
    }

    @media (hover: hover) {
      .summary:not(.disabled):hover .select-placeholder {
        color: $color-gray-900;
      }
    }

    .summary:not(.disabled):active .select-placeholder {
      color: $color-gray-900;
    }
  }

  .select[open] {

    .select-placeholder {
      color: $color-red-700;
    }
  }

  .select-title {
    display: flex;
    padding-right: 24px;
    height: 56px;

    @media (max-width: $media-grid-md) {
      height: 60px;
    }

    @media (max-width: $media-grid-sm) {
      height: 54px;
    }
  }

  .select-color .select-title, .select-product .select-title {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .select-title-color {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 4px;
  }

  .select-collection .select-title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .select-title-text {
    color: $color-gray-500;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .select-title-value {
    color: $color-black;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 17px;
    line-height: 24px;
  }

  .select-body {
    margin-top: 1px;
    cursor: default;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $color-white;
    box-shadow: 0 25px 25px rgba(0, 0, 0, .12);
    padding: 20px;
  }

  .colors, .products {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(5, 1fr);
  }

  .products {
    @media (max-width: $media-grid-md) {
      grid-template-columns: repeat(10, 1fr);
    }

    @media (max-width: $media-grid-sm) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .color, .product {
    border-radius: 4px;
    width: 100%;
    height: 61px;

    @media (max-width: $media-grid-lg) {
      height: 53px;
    }

    &:not(.active) {
      cursor: pointer;
    }

    &.active {
      position: relative;

      &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-left-style: solid;
        border-bottom-style: solid;
        transform: rotate(-48deg) translate(-1px, -11px);
      }

      &::before {
        z-index: 1;
        width: 23px;
        height: 11px;
        border-left-width: 4px;
        border-bottom-width: 4px;
        border-color: #000000;

      }

      &::after {
        z-index: 2;
        width: 20px;
        height: 10px;
        border-left-width: 2px;
        border-bottom-width: 2px;
        border-color: #FFFFFF;
      }
    }
  }

  .color {
    @media (max-width: $media-grid-md) {
      height: 55px;
    }

    @media (max-width: $media-grid-sm) {
      height: 50px;
    }
  }

  .product {
    @media (max-width: $media-grid-md) {
      height: 55px;
    }

    @media (max-width: $media-grid-sm) {
      height: 50px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .collections {
    display: grid;
    grid-gap: 10px 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5px;
  }

  .collection {
    color: $color-black;
    letter-spacing: 0.02em;
    font-size: 15px;
    line-height: 28px;

    &:not(.active) {
      font-weight: 400;
      cursor: pointer;
    }

    &.active {
      font-weight: 600;
    }
  }
}