@import "././resources/styles/global/_variables";

.footer {
  background-color: $color-gray-900;
  font-family: $font-family-primary;
  a {
    text-align: center;
    text-decoration: none;
  }

  button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 138px;
    height: 350px;
  }

  .footer-part {
    padding: 65px 0 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.left {
      flex-basis: 50%;
      flex-grow: 1;
      align-items: flex-start;
      text-align: left;
    }

    &.center {
      flex-shrink: 0;
      background-color: $color-gray-800;
      width: 462px;
      align-items: center;
      text-align: center;

      .social {
        width: 134px;
        margin: 7px 0 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-gray-500;

          @media (pointer: coarse) {
            &:active {
              color: $color-white;
            }
          }

          @media (hover: hover) {
            &:hover {
              color: $color-white;
            }
          }
        }
      }

      .logo {
        display: flex;
        margin-bottom: auto;
        color: $color-white;
      }

      .copy {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: $color-white;
      }
    }

    &.right {
      flex-basis: 50%;
      flex-grow: 1;
      align-items: flex-end;
      text-align: right;

      .button {
        width: 220px;
        height: 48px;
        margin-bottom: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-gray-800;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        color: $color-white;

        @media (pointer: coarse) {
          &:active {
            background-color: $color-gray-700;
          }
        }

        @media (hover: hover) {
          &:hover {
            background-color: $color-gray-700;
          }
        }
      }

      .link {
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: $color-gray-200;

        @media (pointer: coarse) {
          &:active {
            color: $color-white;
          }
        }

        @media (hover: hover) {
          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }
}