@import "././resources/styles/global/_variables";

.footer {
  background-color: $color-gray-900;
  font-family: $font-family-primary;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: $color-gray-800;

    @media (max-width: $media-grid-md) {
      height: 170px;
    }

    @media (max-width: $media-grid-sm) {
      height: 240px;
    }
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 350px;

    @media (max-width: $media-grid-md) {
      height: auto;
      flex-wrap: wrap;
    }
  }
}

.footer-part {
  padding: 65px 0 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media (max-width: $media-grid-md) {
    padding: 30px 0;
  }

  &.left {
    order: 1;
    flex-basis: 50%;
    flex-grow: 1;
    align-items: flex-start;
    text-align: left;

    @media (max-width: $media-grid-sm) {
      padding-bottom: 24px;
    }

    .link {
      margin-right: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-style: normal;
      color: $color-gray-200;

      @media (pointer: coarse) {
        &:active {
          color: $color-white;
        }
      }

      @media (hover: hover) {
        &:hover {
          color: $color-white;
        }
      }

      &.top {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 17px;
        line-height: 32px;

        @media (max-width: $media-grid-md) {
          font-size: 15px;
        }

        @media (max-width: $media-grid-sm) {
          font-size: 14px;
          line-height: 24px;
        }
      }

      &.bottom {
        margin-top: auto;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;

        @media (max-width: $media-grid-md) {
          font-size: 14px;
        }

        @media (max-width: $media-grid-sm) {
          line-height: 22px;
        }

        div {
          padding-top: 2px;

          @media (max-width: $media-grid-md) {
            & > div {
              display: inline;
            }
          }
        }
      }

      svg {
        flex-shrink: 0;
        margin-right: 10px;

        @media (max-width: $media-grid-sm) {
          width: 24px;
          height: 24px;
          margin-right: 15px;
        }
      }
    }
  }

  &.center {
    order: 2;
    flex-shrink: 0;
    background-color: $color-gray-800;
    width: 462px;
    align-items: center;
    text-align: center;

    @media (max-width: $media-grid-lg) {
      width: 402px;
    }

    @media (max-width: $media-grid-md) {
      order: 3;
      background-color: transparent;
      width: 100%;
      height: 170px;
      z-index: 1;
      padding: 0;
      flex-direction: row;
      align-items: center;
    }

    @media (max-width: $media-grid-sm) {
      height: 240px;
      padding: 40px 0 44px;
      flex-direction: column;
    }

    .social {
      width: 134px;
      margin: 7px 0 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $media-grid-md) {
        margin: 0;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-gray-500;

        @media (pointer: coarse) {
          &:active {
            color: $color-white;
          }
        }

        @media (hover: hover) {
          &:hover {
            color: $color-white;
          }
        }
      }
    }

    .logo {
      display: flex;
      margin-bottom: auto;
      color: $color-white;

      @media (max-width: $media-grid-md) {
        margin: 0;
      }
    }

    .copy {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: $color-white;

      @media (max-width: $media-grid-md) {
        width: 134px;
        text-align: right;
      }

      @media (max-width: $media-grid-sm) {
        text-align: center;
      }
    }
  }

  &.right {
    order: 3;
    flex-basis: 50%;
    flex-grow: 1;
    align-items: flex-end;
    text-align: right;

    @media (max-width: $media-grid-md) {
      order: 2;
    }

    @media (max-width: $media-grid-sm) {
      padding-top: 0;
      align-items: flex-start;
    }

    .button {
      width: 220px;
      height: 48px;
      margin-bottom: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-gray-800;
      font-weight: normal;
      font-size: 17px;
      line-height: 21px;
      color: $color-white;

      @media (max-width: $media-grid-sm) {
        width: 168px;
        margin-bottom: 12px;
      }

      @media (pointer: coarse) {
        &:active {
          background-color: $color-gray-700;
        }
      }

      @media (hover: hover) {
        &:hover {
          background-color: $color-gray-700;
        }
      }
    }

    .link {
      margin-top: 24px;
      margin-left: 40px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: $color-gray-200;

      @media (max-width: $media-grid-lg) {
        margin-top: 10px;
      }

      @media (max-width: $media-grid-md) {
        margin-top: 15px;
        font-size: 14px;
      }

      @media (max-width: $media-grid-sm) {
        margin-left: 0;
        margin-top: 8px;
        line-height: 26px;
      }

      @media (pointer: coarse) {
        &:active {
          color: $color-white;
        }
      }

      @media (hover: hover) {
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}