link(rel="stylesheet", href="css/page/study_request/modal.css")
section(class="modal-popup study_request_modal")
  div(class="wrapper")
    div(class="head")
      h4(class="h4")
        | Спасибо за заявку
      button(type="button", class="close")
        include ../../partials/svg/close-1
    div(class="body")
      a(href="study.html", class="button default")
        span
          | Хорошо