@import "././resources/styles/__/variables";

.where_to_buy.bottom {

  .dealers {
    max-height: 884px;
    overflow-x: hidden;
    overflow-y: auto;

    @media (max-width: $media-grid-md) {
      margin-bottom: 45px;
      max-height: 100%;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 30px;
    }
  }

  .dealer {
    margin-bottom: 10px;
    padding: 19px 29px 9px;
    width: 542px;
    border: 3px solid transparent;
    background-color: $color-gray-100;
    font-family: $font-family-1;
    font-style: normal;

    @media (max-width: $media-grid-lg) {
      width: 480px;
    }

    @media (max-width: $media-grid-md) {
      padding-top: 17px;
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      padding: 21px 20px 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      border-color: $color-gray-500;
      background-color: $color-white;
    }

    .title {
      margin-bottom: 6px;
      color: $color-black;
      font-weight: 700;
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.02em;

      @media (max-width: $media-grid-md) {
        font-size: 19px;
        line-height: 28px;
      }

      @media (max-width: $media-grid-sm) {
        font-size: 17px;
        line-height: 24px;
      }
    }

    &.active .title {
      color: $color-red-700;
    }

    .subtitle {
      margin-bottom: 20px;
      color: $color-gray-500;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.14em;
      text-transform: uppercase;

      @media (max-width: $media-grid-md) {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 16px;
      }

      @media (max-width: $media-grid-sm) {
        font-size: 11px;
      }
    }

    .contacts {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
    }

    .items {
      flex-grow: 1;
      flex-basis: 50%;
      position: relative;
      padding-left: 32px;
      margin-bottom: 10px;
      color: $color-black;

      @media (max-width: $media-grid-sm) {
        flex-basis: 100%;
      }

      svg {
        position: absolute;
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
      }
    }

    .item {
      color: $color-black;
      font-weight: 400;
      font-size: 17px;
      line-height: 28px;
      letter-spacing: 0.02em;

      @media (max-width: $media-grid-lg) {
        font-size: 16px;
        line-height: 24px;
      }

      @media (max-width: $media-grid-md) {
        font-size: 15px;
      }

      @media (max-width: $media-grid-sm) {
        margin-bottom: 4px;
        font-size: 14px;
      }

      a {
        color: $color-black;
        text-decoration: none;

        @media (hover: hover) {
          &:hover {
            color: $color-gray-600;
          }
        }

        &:active {
          color: $color-gray-800;
        }
      }
    }
  }

}