link(rel="stylesheet", href="css/footer-right.css")
div(class="footer-part right")
    button(type="button", class="button", data-selector="application")
        span
            | Оставить заявку

    a(href="index.html", class="link")
        | Политика конфиденциальности

    a(href="index.html", class="link")
        | Политика обработки персональных данных