link(rel="stylesheet", href="css/layout/footer-to-top.css")
script(src="js/layout/footer-to-top.js")
div(class="footer-to-top")
  button(type="button", class="button default")
    include ../partials/svg/chevrone-top
    span
      | Наверх