link(rel="stylesheet", href="css/layout/footer-left.css")
div(class="footer-part left")
  a(href="tel:+74952236440", class="link top")
    include ../partials/svg/phone
    span
      | +7 495 223 64 40

  a(href="mailto:office@koros-alianse.ru", class="link top")
    include ../partials/svg/email
    span
      | office@koros-alianse.ru

  a(href="404.html", class="link bottom", target="_blank")
    include ../partials/svg/address
    div
      div
        | 142000, Россия,
      div
        | г. Домодедово мкр. Северный,
      div
        | ул. Логистическая 8