link(rel="stylesheet", href="css/layout/header--lang.css")
script(src="js/layout/header--lang.js")
details(class="details lang")
  summary(class="link lang")
    span
      | Рус
    svg(width="14", height="9", viewBox="0 0 14 9", fill="none", xmlns="http://www.w3.org/2000/svg")
      path(d="M11.8994 1.94922L6.94967 6.89897L1.99992 1.94922", stroke="currentColor", stroke-width="2", stroke-linecap="square")
  div(class="dropdown-outer lang")
    nav(class="dropdown-inner lang")
      span
        | Рус
      a(href="index.html")
        | Eng
      a(href="index.html")
        | Ger