-
  links = {
    0: {
      title: 'Продукция',
      url: 'catalog.html',
    },
    1: {
      title: 'Где купить',
      url: 'where_to_buy.html',
    },
    2: {
      title: 'Обучение',
      url: 'study.html',
    },
    3: {
      title: 'Оплата и доставка',
      url: 'payment_and_delivery.html',
    },
    4: {
      title: 'О компании',
      url: '404.html',
    },
  };

link(rel="stylesheet", href="css/layout/header-bottom.css")
div(class="header-bottom")
  nav
    each link in links
      a(href=`${link.url}`)
        span
          | #{link.title}
  a(href="index.html", class="logo")
    include ../partials/svg/logo-radianz