link(rel="stylesheet", href="css/layout/header-large_menu.css")
script(src="js/layout/header-large_menu.js")
div(class="header-large_menu hidden")
    div(class="container container-fixed")
        include header-large_menu-head
        include header-large_menu-tablet

        nav(class="header-large_menu-body")
            div(class="column-1")
                ul()
                    li
                        a(href="index.html")
                            | Продукция
                    li
                        a(href="index.html")
                            | Где купить
                    li
                        a(href="index.html")
                            | Обучение
                    li
                        a(href="index.html")
                            | Оплата и доставка
                    li
                        a(href="index.html")
                            | О компании

            div(class="column-2")
                ul()
                    li
                        a(href="index.html")
                            | Коллекции
                    li
                        a(href="index.html")
                            | Клей
                    li
                        a(href="index.html")
                            | 3D визуализатор
                    li
                        a(href="index.html")
                            | Эксплуатация и уход за камнем
                    li
                        a(href="index.html")
                            | Документация
                    li
                        a(href="index.html")
                            | Галерея работ

                ul()
                    li
                        a(href="index.html")
                            | Koros Stone
                    li
                        a(href="index.html")
                            | Lotte
                    li
                        a(href="index.html")
                            | Новости
                    li
                        a(href="index.html")
                            | Видео
                    li
                        a(href="index.html")
                            | Контакты

            div(class="column-3")
                ul()
                    li
                        a(href="index.html")
                            | Supreme
                    li
                        a(href="index.html")
                            | Tempest
                    li
                        a(href="index.html")
                            | Aspen
                    li
                        a(href="index.html")
                            | Metallic
                    li
                        a(href="index.html")
                            | Mosaic
                    li
                        a(href="index.html")
                            | Pebble
                    li
                        a(href="index.html")
                            | Sanded
                    li
                        a(href="index.html")
                            | Solid
                    li
                        a(href="index.html")
                            | Quarry

    div(class="container container-fixed")
        include header-large_menu-foot