-
    links = {
        0: {
            title: 'Продукция',
            url: 'index.html',
        },
        1: {
            title: 'Где купить',
            url: 'index.html',
        },
        2: {
            title: 'Обучение',
            url: 'index.html',
        },
        3: {
            title: 'Оплата и доставка',
            url: 'index.html',
        },
        3: {
            title: 'О компании',
            url: 'index.html',
        },
    };

link(rel="stylesheet", href="css/layout/header-bottom.css")
div(class="header-bottom")
    nav
        each link in links
            a(href=`${link.url}`)
                span
                    | #{link.title}
    a(href="index.html", class="logo")
        include ../partials/svg/logo-radianz