link(rel="stylesheet", href="css/layout/header-large_menu-foot.css")
div(class="header-large_menu-foot")
  div(class="header-large_menu-foot-top")
    a(href="index.html")
      span(class="l")
        | Кварцевый камень
      include ../partials/svg/logo-radianz

  div(class="header-large_menu-foot-bottom")
    a(href="404.html")
      | Политика конфиденциальности
    a(href="404.html")
      | Политика обработки персональных данных