link(rel="stylesheet", href="css/layout/header-large_menu.css")
script(src="js/layout/header-large_menu.js")
div(class="header-large_menu hidden")
  div(class="container container-fixed")
    include header-large_menu-head
    include header-large_menu-tablet

    nav(class="header-large_menu-body")
      div(class="column column-1")
        ul(class="ul-1")
          li(data-column="1", data-ul="1", data-li="1")
            a(href="catalog.html")
              | Продукция
            include ../partials/svg/chevrone-right
          li(data-column="1", data-ul="1", data-li="2")
            a(href="where_to_buy.html")
              | Где купить
            include ../partials/svg/chevrone-right
          li(data-column="1", data-ul="1", data-li="3")
            a(href="study.html")
              | Обучение
            include ../partials/svg/chevrone-right
          li(data-column="1", data-ul="1", data-li="4")
            a(href="payment_and_delivery.html")
              | Оплата и доставка
            include ../partials/svg/chevrone-right
          li(data-column="1", data-ul="1", data-li="5")
            a(href="404.html")
              | О компании
            include ../partials/svg/chevrone-right

      div(class="column column-2")
        h5(class="tablet-sub-menu-head hidden")
          include ../partials/svg/arrow-left
          span

        ul(class="ul-1 hidden", data-parent="1.1.1")
          li(data-column="2", data-ul="1", data-li="1")
            a(href="catalog.html")
              | Коллекции
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="1", data-li="2")
            a(href="glue.html")
              | Клей
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="1", data-li="3")
            a(href="3d.html")
              | 3D визуализатор
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="1", data-li="4")
            a(href="exploitation_and_care.html")
              | Эксплуатация и уход за камнем
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="1", data-li="5")
            a(href="docs-sizes.html")
              | Документация
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="1", data-li="6")
            a(href="gallery.html")
              | Галерея работ
            include ../partials/svg/chevrone-right

        ul(class="ul-2 hidden", data-parent="1.1.5")
          li(data-column="2", data-ul="2", data-li="1")
            a(href="about_koros.html")
              | Koros Stone
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="2", data-li="2")
            a(href="about_lotte.html")
              | Lotte
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="2", data-li="3")
            a(href="news.html")
              | Новости
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="2", data-li="4")
            a(href="404.html")
              | Видео
            include ../partials/svg/chevrone-right
          li(data-column="2", data-ul="2", data-li="5")
            a(href="contacts.html")
              | Контакты
            include ../partials/svg/chevrone-right

      div(class="column column-3")
        h5(class="tablet-sub-menu-head hidden")
          include ../partials/svg/arrow-left
          span

        ul(class="ul-1 hidden", data-parent="2.1.1")
          li(data-column="3", data-ul="1", data-li="1")
            a(href="collection.html")
              | Supreme
          li(data-column="3", data-ul="1", data-li="2")
            a(href="collection.html")
              | Tempest
          li(data-column="3", data-ul="1", data-li="3")
            a(href="collection.html")
              | Aspen
          li(data-column="3", data-ul="1", data-li="4")
            a(href="collection.html")
              | Metallic
          li(data-column="3", data-ul="1", data-li="5")
            a(href="collection.html")
              | Mosaic
          li(data-column="3", data-ul="1", data-li="6")
            a(href="collection.html")
              | Pebble
          li(data-column="3", data-ul="1", data-li="7")
            a(href="collection.html")
              | Sanded
          li(data-column="3", data-ul="1", data-li="8")
            a(href="collection.html")
              | Solid
          li(data-column="3", data-ul="1", data-li="9")
            a(href="collection.html")
              | Quarry

  div(class="container container-fixed")
    include header-large_menu-foot