link(rel="stylesheet", href="css/layout/modal-application_success.css")
section(class="modal-popup application_success")
  div(class="wrapper")
    div(class="head")
      h4(class="h4")
        | Спасибо за обращение
      button(type="button", class="close")
        include ../partials/svg/close-1
    div(class="body")
      button(type="button", class="button default close")
        span
          | Хорошо