link(rel="stylesheet", href="css/layout/modal-application.css")
script(src="js/layout/modal-application.js")
section(class="modal-popup application")
    div(class="wrapper")
        div(class="head")
            h4(class="h4")
                | Оформление заявки
            button(type="button", class="button close")
                svg(width="38", height="38", viewBox="0 0 38 38", fill="none", xmlns="http://www.w3.org/2000/svg")
                    line(x1="36.5684", y1="2.0938", x2="2.0918", y2="36.5705", stroke="currentColor", stroke-width="2")
                    line(x1="35.8613", y1="36.5704", x2="2.3846", y2="2.0937", stroke="currentColor", stroke-width="2")

        form(class="body form application")
            section(class="left")
                h5(class="h5")
                    | Ваши данные



            section(class="right")

                button(type="submit", class="button submit")
                    span
                        | Отправить заявку
