link(rel="stylesheet", href="css/layout/modal.css")
script(src="js/layout/modal.js")
div(class="modal-backdrop")
  include ../layout/modal-application
  include ../layout/modal-application_success
  include ../page/study_request/modal
  include ../page/collection/modal
  include ../page/cart/modal
  include ../page/gallery/modal
  include ../partials/docs/modal