link(rel="stylesheet", href="css/page/payment_and_delivery/bottom.css")
section(class="payment_and_delivery bottom")
  div(class="container container-fixed")
    div(class="content")
      div(class="left")
        h2(class="h2")
          | Появились вопросы?
        div(class="text")
          | Будем рады вам ответить!
      button(type="button", class="right button default application")
        span
          | Напишите нам