link(rel="stylesheet", href="css/page/payment_and_delivery/middle.css")
section(class="payment_and_delivery middle")
  div(class="container container-fixed")
    h2(class="h2")
      | Доставка
    div(class="text")
      | Доставка по Москве и Московской области от 1 листа бесплатно.
    div(class="tiles")
      div(class="tile")
        svg(width="86", height="86", viewBox="0 0 86 86", fill="none", xmlns="http://www.w3.org/2000/svg")
          rect(width="86", height="86", fill="white")
          path(d="M43 30.5L36.125 41.75H49.875L43 30.5ZM43 35.3L45.4125 39.25H40.575L43 35.3ZM49.875 44.25C46.7625 44.25 44.25 46.7625 44.25 49.875C44.25 52.9875 46.7625 55.5 49.875 55.5C52.9875 55.5 55.5 52.9875 55.5 49.875C55.5 46.7625 52.9875 44.25 49.875 44.25ZM49.875 53C48.15 53 46.75 51.6 46.75 49.875C46.75 48.15 48.15 46.75 49.875 46.75C51.6 46.75 53 48.15 53 49.875C53 51.6 51.6 53 49.875 53ZM31.75 54.875H41.75V44.875H31.75V54.875ZM34.25 47.375H39.25V52.375H34.25V47.375Z", fill="#323232")
        span
          | Выбери интересующий продукт
      div(class="tile")
        svg(width="86", height="86", viewBox="0 0 86 86", fill="none", xmlns="http://www.w3.org/2000/svg")
          rect(width="86", height="86", fill="white")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M53 31.75H33C31.625 31.75 30.5 32.875 30.5 34.25V51.75C30.5 53.125 31.625 54.25 33 54.25H53C54.375 54.25 55.5 53.125 55.5 51.75V34.25C55.5 32.875 54.375 31.75 53 31.75ZM53 51.75H33V34.25H53V51.75Z", fill="#323232")
          path(fill-rule="evenodd", clip-rule="evenodd", d="M52.2625 41.025L50.4875 39.25L46.525 43.2125L44.7625 41.4375L43 43.2L46.525 46.75L52.2625 41.025Z", fill="#323232")
          path(d="M40.5 36.75H34.25V39.25H40.5V36.75Z", fill="#323232")
          path(d="M40.5 41.75H34.25V44.25H40.5V41.75Z", fill="#323232")
          path(d="M40.5 46.75H34.25V49.25H40.5V46.75Z", fill="#323232")
        span
          | Заполни форму обратной связи
      div(class="tile")
        svg(width="86", height="86", viewBox="0 0 86 86", fill="none", xmlns="http://www.w3.org/2000/svg")
          rect(width="86", height="86", fill="white")
          path(d="M36.75 41.75H39.25V44.25H36.75V41.75ZM54.25 35.5V53C54.25 54.375 53.125 55.5 51.75 55.5H34.25C32.8625 55.5 31.75 54.375 31.75 53L31.7625 35.5C31.7625 34.125 32.8625 33 34.25 33H35.5V30.5H38V33H48V30.5H50.5V33H51.75C53.125 33 54.25 34.125 54.25 35.5ZM34.25 38H51.75V35.5H34.25V38ZM51.75 53V40.5H34.25V53H51.75ZM46.75 44.25H49.25V41.75H46.75V44.25ZM41.75 44.25H44.25V41.75H41.75V44.25Z", fill="#323232")
        span
          | Согласуй дату доставки с нашим специалистом