link(rel="stylesheet", href="css/page/payment_and_delivery/top.css")
section(class="payment_and_delivery top")
  div(class="container container-fixed")
    h1(class="h1")
      | Оплата и доставка
    h2(class="h2")
      | Оплата
    div(class="text")
      | Оплата производится по счёту. Счёт выставляется в рублях по курсу ЦБ РФ,
      | действителен в течение 3х дней со дня выставления.