-
  collections = [
    {
      title: 'Cotton White',
      text: '<p>1. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.</p><p>Наиболее востребованы для частных интерьеров.</p>',
      link: 'product.html',
      images: [
        'images/content-collection-1.jpg',
      ],
      props: [
        'длина (мм): 3111',
        'толщина (мм): 10',
        'вес плиты (кг): 11,1',
        'ширина (мм): 110',
        'площадь (м2): 1,1',
      ],
    },
    {
      title: 'Impala Black',
      text: '2. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-2.jpg',
        'images/content-collection-13.jpg',
        'images/content-collection-14.jpg',
      ],
      props: [
        'длина (мм): 3222',
        'толщина (мм): 2',
        'вес плиты (кг): 22,2',
        'ширина (мм): 220',
        'площадь (м2): 2,2',
      ],
    },
    {
      title: 'Metallic White',
      text: '3. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-3.jpg',
        'images/content-collection-15.jpg',
        'images/content-collection-16.jpg',
      ],
      props: [
        'длина (мм): 3333',
        'толщина (мм): 3',
        'вес плиты (кг): 33,3',
        'ширина (мм): 330',
        'площадь (м2): 3,3',
      ],
    },
    {
      title: 'Tempest Black',
      text: '4. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-10.jpg',
        'images/content-collection-1.jpg',
        'images/content-collection-2.jpg',
      ],
      props: [
        'длина (мм): 3444',
        'толщина (мм): 4',
        'вес плиты (кг): 44,4',
        'ширина (мм): 440',
        'площадь (м2): 4,4',
      ],
    },
    {
      title: 'Pebble White',
      text: '5. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-5.jpg',
        'images/content-collection-3.jpg',
        'images/content-collection-6.jpg',
      ],
      props: [
        'длина (мм): 3555',
        'толщина (мм): 5',
        'вес плиты (кг): 55,5',
        'ширина (мм): 550',
        'площадь (м2): 5,5',
      ],
    },
    {
      title: 'Sanded Red',
      text: '6. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-6.jpg',
        'images/content-collection-7.jpg',
        'images/content-collection-8.jpg',
      ],
      props: [
        'длина (мм): 3680',
        'толщина (мм): 6',
        'вес плиты (кг): 66,6',
        'ширина (мм): 660',
        'площадь (м2): 6,6',
      ],
    },
    {
      title: 'Solid White',
      text: '7. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-7.jpg',
        'images/content-collection-9.jpg',
        'images/content-collection-10.jpg',
      ],
      props: [
        'длина (мм): 3777',
        'толщина (мм): 7',
        'вес плиты (кг): 77,7',
        'ширина (мм): 770',
        'площадь (м2): 7,7',
      ],
    },
    {
      title: 'Mosaic Red',
      text: '8. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-8.jpg',
        'images/content-collection-11.jpg',
        'images/content-collection-12.jpg',
      ],
      props: [
        'длина (мм): 3888',
        'толщина (мм): 88',
        'вес плиты (кг): 88,8',
        'ширина (мм): 880',
        'площадь (м2): 8,8',
      ],
    },
    {
      title: 'Quarry Black',
      text: '9. Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска. Наиболее востребованы для частных интерьеров.',
      link: 'product.html',
      images: [
        'images/content-collection-9.jpg',
        'images/content-collection-13.jpg',
        'images/content-collection-14.jpg',
      ],
      props: [
        'длина (мм): 3999',
        'толщина (мм): 99',
        'вес плиты (кг): 99,9',
        'ширина (мм): 990',
        'площадь (м2): 9,9',
      ],
    },
  ];
link(rel="stylesheet", href="css/page/collection/cards.css")
script(src="js/page/collection/cards.js")
section(class="collection_cards", data-all="11", data-limit="9", data-title="Supreme")
  each collection in collections
    div(class="card")
      ul(class="images hidden")
        each image in collection.images
          li
            = image
      ul(class="properties hidden")
        each prop in collection.props
          li
            = prop
      div(class="text hidden")
        = collection.text
      span(class="title")
        = collection.title
      a(href=`${collection.link}`, class="button circuit btn-link")
        span(class="span-md")
          | В карточку товара
        span(class="span-sm")
          | В карточку
        include ../../partials/svg/arrow-bottom
      button(type="button", class="button circuit btn-popup")
        span
          | Быстрый просмотр
        include ../../partials/svg/modal
      img(src=`${collection.images[0]}`, alt=`${collection.title}`, class="img")