link(rel="stylesheet", href="css/page/collection/filter.css")
script(src="js/page/collection/filter.js")
section(class="collection_filter")
  div(class="filters")
    button(type="button", class="btn-filter-title")
      span
        | Фильтры по продукции
      include ../../partials/svg/filter

    div(class="links")
      a(href="exploitation_and_care.html", class="link")
        span
          | Эксплуатация и уход
        include ../../partials/svg/triangle
      a(href="404.html", class="link")
        span
          | Документация
        include ../../partials/svg/triangle

  button(type="button", class="button circuit filter_reset")
    span
      | Сбросить фильтры
    include ../../partials/svg/reset