link(rel="stylesheet", href="css/page/collection/modal.css")
script(src="js/page/collection/modal.js")
section(class="modal-popup collection_modal")
  div(class="wrapper")
    div(class="head")
      div(class="logo")
        include ../../partials/svg/logo-staron
      button(type="button", class="close")
        include ../../partials/svg/close-2
    div(class="body")
      div(class="images")
        img(class="img-small img-0", alt="", src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        img(class="img-small img-1", alt="", src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        img(class="img-small img-2", alt="", src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        img(class="img-big", alt="", src="")

      div(class="texts")
