link(rel="stylesheet", href="css/partials/docs/content-guarantee.css")
section(class="docs-guarantee content")
  div(class="links")
    span
      | Частное использование
    a(href="docs-guarantee-commercial.html")
      | Коммерческое использование
  h2
    | Переносимая, ограниченная 10-летняя гарантия на плиты из композитного материала Staron для частного применения.
  p
    | Плиты из композитного материала Staron® постоянной установки изготавливаются компанией LOTTE ADVANCED MATERIALS для изначального владельца. Плиты из композитного материала Staron® должны обрабатываться и монтироваться работником/монтажником с сертификацией Staron® и использоваться согласно руководству по обработке LOTTE ADVANCED MATERIALS, уход за ними также должен осуществляться согласно этому руководству. Компания LOTTE ADVANCED MATERIALS ремонтирует или заменяет на собственное усмотрение это изделие, если вследствие дефекта изготовления на нем появляются дефекты в течение первых десяти (10) лет после первичного монтажа. Это включает в себя претензии на фактические расходы, если изделие ремонтируется или заменяется. Хотя LOTTE ADVANCED MATERIALS старается производить ремонт или поставку на замену по возможности одинакового цветового оттенка, LOTTE ADVANCED MATERIALS не может гарантировать, что в случае ремонта или поставки на замену будет доступен в точности такой же цветовой оттенок. Всю информацию по подаче заявки на возмещение ущерба в рамках этой ограниченной гарантии можно получить в магазине, на фирме, которая занимается обработкой/установкой плит или непосредственно у нас.
  p
    | Эта ограниченная гарантия может быть передана в течение 10 лет после первоначальной установки только в том случае, если новый владелец письменно уведомляет LOTTE ADVANCED MATERIALS.
  h2
    | Настоящая гарантия не распространяется на следующее:
  ul
    li
      | Второстепенные кондиции, такие как пятна, царапины, следы от воды и ожоги
    li
      | Несоблюдение инструкций LOTTE ADVANCED MATERIALS, включая изготовление, установку, уход, техническое обслуживание и т.п.
    li
      | Любые изделия, перемещенные с места их первоначального монтажа
    li
      | Видимость шва, выполненного каким-либо клеем, герметиком или другими аксессуарами
    li
      | Цветовое отличие по сравнению с образцом
    li
      | Цветовое отличие между разными партиями
    li
      | Точное цветовое совпадение в результате замены или ремонта изделия не гарантируется
    li
      | Повреждение, вызванное отличием фундаментной опоры от предписанной
    li
      | Неправильное использование, использование не по назначению (включая повреждение от ударной нагрузки и контакта с химическими реагентами, не предназначенными для использования с изделием)
    li
      | Отсутствие разницы в цвете и интенсивности прожилок между листами в коллекции SUPREME (Узорчатость текстуры может сильно отличаться как от листа к листу, так и в пределах одного листа. Особое внимание следует обратить на каждый шов и на места примыканий).
    li
      | Ненадлежащие изготовление, установка, обработка или техобслуживание
    li
      | Профессиональное мастерство изготовителей или монтажников
    li
      | Повреждение, вызванное чрезмерным нагревом или действием другого природного фактора
    li
      | Ущерб, проистекающий из дефекта, отличного от производственного
    li
      | Любое изделие, установленное или расположенное на открытом воздухе, например, на открытых кухнях, рабочих поверхностях для барбекю, или в нагреваемых помещениях, таких как сауны, парные и душевые поддоны
    li
      | Изделия в коробках, включая компоненты, изготовленные из Staron®
    li
      | Любое изделие, установленное в жилом автофургоне
    li
      | Любое изделие, изготовленное и установленное в коммерческих целях
    li
      | Изготовление, установка, модификация или ремонт, произведенные не силами Staron® CFI (Certified Fabricator Installer), а сторонним исполнителем

  div(class="info")
    include ../../partials/svg/info
    div
      | Эта ограниченная гарантия может быть передана в течение 10 лет после первоначальной установки только в том случае, если новый владелец письменно уведомляет LOTTE ADVANCED MATERIALS.

  p
    | LOTTE ADVANCED MATERIALS по собственному усмотрению будет определять, предоставлять ли необходимые для ремонта материалы или производить замену в связи с производственными дефектами изделия. Кроме того, что указано в настоящей ограниченной гарантии, LOTTE ADVANCED MATERIALS не дает никаких гарантий, явных или подразумеваемых, в отношении изделия, включая, но не ограничиваясь указанным, любую подразумеваемую гарантию товарного качества или пригодности для определенной цели, и все подобные гарантии настоящим безоговорочно отклоняются. LOTTE ADVANCED MATERIALS не гарантирует, что изделие удовлетворит требования конечных пользователей. LOTTE ADVANCED MATERIALS не несет ответственности за случайные, косвенные, непрямые, особые, штрафные или показательные убытки любого рода, включая утрату деловой репутации, упущенную выгоду, утрату клиентуры или другие косвенные экономические убытки, включая, кроме прочего, нанесение ущерба имуществу, независимо от того, основано ли такое требование на толковании контракта, небрежности, правонарушающем действии (включая строгую ответственность) или по иным основаниям, в результате нарушения какой-либо гарантии независимо от того, была ли LOTTE ADVANCED MATERIALS поставлена в известность, имела другие основания знать или фактически знала о возможности таких убытков.

  div(class="info")
    include ../../partials/svg/info
    div
      | Некоторые страны, штаты и провинции не допускают исключения или ограничения изложенного выше, в силу чего вышеизложенные исключения или ограничения могут не применяться в отношении вас. эта ограниченная гарантия предоставляет вам отдельные законные права. вы можете также иметь другие права, которые будут отличаться от страны к стране, от штата к штату или от провинции к провинции.

  h2
    | Гарантийное обслуживание
  p
    | Чтобы подать запрос на гарантийное обслуживание, обратитесь к своему оригинальному изготовителю/установщику. Чтобы получить обслуживание по этой ограниченной гарантии, от вас потребуется предъявить оригинал товарного/кассового чека или представить доказательство покупки и установки плит из композитного матариала Staron®, которое явно подтверждает покупку изделия и дату установки. Чтобы получить дополнительную информацию об этой гарантии, следует связаться по указанному ниже адресу:

  dl
    dt
      | Адрес
    dd
      | 142000, Россия, г. Домодедово мкр. Северный, ул. Логистическая 8
    dt
      | Телефон
    dd
      | 8(495) 223-64-40 (многоканальный)
    dt
      | E-mail
    dd
      | office@koros-alianse.ru
    dt
      | Часы работы
    dd
      | Понедельник - пятница: с 09:00 до 18:00 без обеда
      br
      | суббота - воскресенье: выходной
    dt
      | Почтовый адрес для корреспонденции
    dd
      | 142000, Московская обл., г. Домодедово, а/я 191
