.visualisation-3d.top {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
}
.visualisation-3d.top .cards {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.visualisation-3d.top .card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 220px;
}
@media (max-width: 1422.98px) {
  .visualisation-3d.top .card {
    width: 194px;
  }
}
@media (max-width: 1262.98px) {
  .visualisation-3d.top .card {
    align-items: center;
    width: 132px;
  }
}
.visualisation-3d.top .card:not(:first-child) {
  margin-left: 15px;
}
@media (max-width: 1262.98px) {
  .visualisation-3d.top .card:not(:first-child) {
    margin-left: 10px;
  }
}
.visualisation-3d.top .card:not(.active) {
  cursor: pointer;
}
.visualisation-3d.top .card span {
  margin-bottom: 10px;
  display: block;
  color: #27272B;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 1262.98px) {
  .visualisation-3d.top .card span {
    font-size: 12px;
  }
}
@media (max-width: 750.98px) {
  .visualisation-3d.top .card span {
    font-size: 11px;
    line-height: 16px;
  }
}
.visualisation-3d.top .card img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
  filter: grayscale(100%);
}
@media (max-width: 1422.98px) {
  .visualisation-3d.top .card img {
    height: 140px;
  }
}
@media (max-width: 1262.98px) {
  .visualisation-3d.top .card img {
    height: 96px;
  }
}
.visualisation-3d.top .card.active img {
  filter: none;
}
@media (hover: hover) {
  .visualisation-3d.top .card:hover img {
    filter: none;
  }
}
.visualisation-3d.top .card:active img {
  filter: none;
}
