.product.info {
  width: 536px;
  padding-bottom: 90px;
  min-height: 900px;
  background-color: darkkhaki;
}
@media (max-width: 1422.98px) {
  .product.info {
    width: 466px;
  }
}
@media (max-width: 1262.98px) {
  .product.info {
    width: 300px;
    padding-bottom: 104px;
  }
}
@media (max-width: 750.98px) {
  .product.info {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 202px;
  }
}
