section(class="info")
  div(class="left")
    p
      | Произведен в Южной Корее.
    p
      | Обеспечивает прочное, долговечное и ударостойкое соединение. Преимущества:
    ul
      li
        | Полностью полимеризуется
      li
        | Не содержит фталат
      li
        | Благодаря жидкому состоянию отлично наносятся на любые поверхности и заполняет щели
      li
        | Быстро отвердевает при комнатной температуре
      li
        | Можно подвергать шлифованию
      li
        | Стоек к воздействию окружающей среды и химикатам
      li
        | Устойчив к ультрафиолету
      li
        | Не желтеет со временем

    div(class="alert")
      | Для каждой коллекции подобран свой клей и его можно найти в карточке товара

  img(src="images/glue.png", alt="", class="right")