-
  table = [
    [
      'Вязкость (Сантипуаз) - Брукфилд РВФ (шпиндель 7; 20 об / мин)',
      '20 000~22 000',
      '',
      '6 000~8 000',
    ],
    [
      'Цвет',
      'Прозрачный',
      '',
      'Серовато-белый',
    ],
    [
      'Плотность',
      '9.1 фунтов на галлон 1090 кг/м3',
      '',
      '9.5 фунтов на галлон 1138 кг/м3',
    ],
    [
      'Соотношение смеси по объему',
      '10',
      '',
      '1',
    ],
    [
      'Температура вспышки',
      '',
      '50℉ (10℃)',
      '',
    ],
    [
      'Смешанная вязкость (сантипуаз)',
      '',
      '16 000 ~ 20 000',
      '',
    ],
    [
      'Время работы (минуты)',
      '',
      '10 при t = 22℃',
      '',
    ],
    [
      'Время монтажа (минуты)',
      '',
      '15 при t = 22℃',
      '',
    ],
    [
      'Время фиксирования (минуты)',
      '',
      '25 при t = 22℃',
      '',
    ],
    [
      'Растворители в продукте',
      '',
      'отсутствуют',
      '',
    ],
  ];
section(class="liquid")
  h2(class="h2")
    | Физические свойства (в жидком состоянии)
  table(class="table")
    tbody
      tr(class="thead")
        td
          span
        td
          span
            | Часть А (клей)
        td
          span
        td
          span
            | Часть В (отвердитель)
      each tr in table
        tr
          each td in tr
            td
              span
                = td
