-
  table = [
    [
      'Прочность стыкового соединения',
      'Литой полиэстер',
      '',
      '4,000 psi (27,6 МПа)',
    ],
    [
      'Литой акрил',
      '',
      '',
      '4,000 psi (27,6 МПа)',
    ],
    [
      'Искусств. мрамор',
      '',
      '',
      'превосходит материал',
    ],
    [
      'Деформационное сжатие',
      'Литой полиэстер',
      '',
      'превосходит материал',
    ],
    [
      'Сопротивление ультрафиолетовому излучению',
      '',
      'очень хорошее',
      '',
    ],
    [
      'Термическое сопротивление',
      '',
      'очень хорошее',
      '',
    ],
    [
      'Диапазон рабочих температур',
      '',
      '4℃ ~ 121℃',
      '',
    ],
  ];
section(class="solid")
  h2(class="h2")
    | Физические свойства (в отвердевшем состоянии)
  table(class="table")
    tbody
      each tr in table
        tr
          each td in tr
            td
              span
                = td