@import "././resources/styles/__/variables";

@mixin buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $media-grid-sm) {
    flex-direction: column;
  }

  .button {
    padding-left: 12px;
    padding-right: 12px;
    height: 52px;

    @media (max-width: $media-grid-sm) {
      padding-left: 0;
      padding-right: 0;
      height: 42px;
      font-size: 15px;
    }
  }

  .btn-home {
    margin-right: auto;
    order: 1;

    @media (max-width: $media-grid-sm) {
      width: 100%;
      order: 3;
    }

    span {
      margin-right: 3px;
    }

    svg {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }

  .btn-less {
    margin-left: auto;
    order: 2;

    @media (max-width: $media-grid-sm) {
      width: 180px;
      margin-bottom: 10px;
      order: 1;
    }

    span {
      margin-left: 3px;
    }

    svg {
      margin-left: 5px;
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }
  }

  .btn-more {
    margin-left: 12px;
    order: 3;

    @media (max-width: $media-grid-sm) {
      width: 180px;
      margin-left: auto;
      margin-bottom: 42px;
      order: 2;
    }

    span {
      margin-left: 3px;
    }

    svg {
      margin-left: 5px;
      width: 20px;
      height: 20px;
    }
  }
}