@import "././resources/styles/__/variables";

.index.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;

  @media (max-width: $media-grid-md) {
    height: 130px;
  }

  .scroll-btn {
    width: 31px;
    color: $color-gray-800;

    @media (max-width: $media-grid-md) {
      width: 24px;
    }

    @media (max-width: $media-grid-sm) {
      width: 20px;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-red-700;
      }
    }

    &:active {
      color: $color-red-500;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }
}