@import "././resources/styles/__/variables";

.index.trend .right {
  .title {
    margin-bottom: 42px;
    font-family: $font-family-1;
    font-style: normal;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: $media-grid-lg) {
      flex-wrap: wrap;
      margin-bottom: 52px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 48px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  .title-left {
    flex-shrink: 0;
    margin-right: 12px;
    color: $color-gray-500;

    @media (max-width: $media-grid-lg) {
      margin-bottom: 32px;
    }

    @media (max-width: $media-grid-md) {
      margin-right: 0;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 18px;
      text-align: center;
    }
  }

  .collection-text {
    margin-bottom: 2px;
    font-weight: 400;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;

    @media (max-width: $media-grid-md) {
      font-size: 10px;
      line-height: 14px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 0;
      font-size: 9px;
    }
  }

  .collection-title {
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 48px;
    line-height: 58px;

    @media (max-width: $media-grid-md) {
      font-size: 36px;
      line-height: 42px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .title-right {
    flex-shrink: 0;
    position: relative;
    padding: 0 16px;
    color: $color-white;
    text-align: center;

    &::before, &::after {
      content: "";
      position: absolute;
      width: 12px;
      border-top: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
      top: 7px;
      bottom: -3px;
    }

    &::before {
      left: 0;
      border-left: 3px solid $color-white;
    }

    &::after {
      right: 0;
      border-right: 3px solid $color-white;
    }
  }

  .product-text {
    margin-bottom: 18px;
    font-weight: 400;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;

    @media (max-width: $media-grid-md) {
      font-size: 10px;
      line-height: 14px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 4px;
      font-size: 9px;
      text-align: center;
    }
  }

  .product-title {
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 30px;
    line-height: 36px;

    @media (max-width: $media-grid-md) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 19px;
      line-height: 24px;
    }
  }

  .text-wrapper {
    margin-bottom: 72px;
    font-family: $font-family-1;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    color: $color-white;
    letter-spacing: 0.02em;
    overflow: hidden;

    @media (max-width: $media-grid-lg) {
      margin-bottom: 52px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 22px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 26px;
      font-size: 13px;
    }

    p {
      margin: 0 0 8px;
    }
  }

  .quantity-wrapper {
    margin-bottom: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $media-grid-lg) {
      margin-bottom: 64px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 32px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 28px;
    }
  }

  .quantity-left {
    margin-top: 2px;
    height: 48px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: $color-gray-700;
    font-family: $font-family-1;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0.02em;
    text-align: center;

    @media (max-width: $media-grid-lg) {
      width: 176px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 40px;
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 32px;
    }
  }

  .quantity-minus, .quantity-plus {
    cursor: pointer;
    padding: 0 0 2px;
    width: 44px;
    line-height: 42px;
    color: $color-gray-500;
    user-select: none;

    @media (hover: hover) {
      &:hover {
        color: $color-white;
      }
    }

    &:active {
      color: $color-white;
    }
  }

  .quantity-number {
    line-height: 32px;
    color: $color-white;
  }

  .quantity-right {
    width: 236px;

    @media (max-width: $media-grid-lg) {
      width: 196px;
    }

    @media (max-width: $media-grid-md) {
      width: 100%;
    }
  }

  .quantity-progress {
    touch-action: none;
    position: relative;
    height: 24px;
    margin-bottom: 8px;

    &::before, .progress-line {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-width: 2px;
      border-style: solid;
    }

    &::before {
      z-index: 0;
      width: 100%;
      border-color: $color-gray-700;
    }

    .progress-line {
      z-index: 1;
      border: 2px solid $color-gray-200;
    }
  }

  .progress-point {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 99999px;
    border: 2px solid $color-white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    background-color: $color-gray-800;
  }

  .progress-numbers {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progress-number {
    flex-basis: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    font-family: $font-family-1;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: $color-gray-500;
    text-align: center;

    &.active {
      color: $color-white;
    }
  }

  .buttons {
    display: flex;
    flex-flow: row wrap;
  }

  .add-to-order {
    width: 220px;
    height: 52px;

    @media (max-width: $media-grid-lg) {
      width: 176px;
    }

    @media (max-width: $media-grid-md) {
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      height: 42px;
      font-size: 15px;
    }
  }

  .go-to-product {
    margin-left: 16px;
    width: 220px;
    height: 52px;

    @media (max-width: $media-grid-lg) {
      margin-left: 14px;
      width: 208px;
    }

    @media (max-width: $media-grid-md) {
      margin-left: 0;
      margin-top: 16px;
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      height: 42px;
      font-size: 15px;
    }

    svg {
      margin-left: 6px;
    }
  }
}