@import "././resources/styles/__/variables";

.new.content {
  display: grid;
  grid-template-columns: 1fr 928px 1fr;

  @media (max-width: $media-grid-md) {
    grid-template-columns: 1fr 720px 1fr;
  }

  @media (max-width: $media-grid-sm) {
    display: block;
    max-width: 340px;
    margin: 0 auto;
  }

  font-family: $font-family-1;
  font-style: normal;
  color: $color-black;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 21px;
  line-height: 34px;

  @media (max-width: $media-grid-md) {
    font-size: 19px;
    line-height: 30px;
  }

  @media (max-width: $media-grid-sm) {
    font-size: 17px;
    line-height: 28px;
  }

  & > * {
    grid-column-start: 2;
    grid-column-end: span 1;

    @media (max-width: $media-grid-sm) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  img, iframe {
    display: block;
    margin: 0 auto 32px;
    grid-column-start: 1;
    grid-column-end: span 3;
    max-width: 100%;
    width: $container-fluid-xl;
    max-height: 500px;

    @media (max-width: $media-grid-lg) {
      width: $container-fluid-lg;
      max-height: 400px;
    }

    @media (max-width: $media-grid-md) {
      margin-bottom: 24px;
    }

    @media (max-width: $media-grid-sm) {
      margin: 0 -10px 16px;
      max-width: calc(100% + 20px);
      max-height: 200px;
    }
  }

  img {
    object-fit: contain;
  }

  p {
    margin: 0 0 16px;
  }
}