.footer-to-top {
  display: none;
  left: 50%;
  transform: translateX(600px);
}
@media (max-width: 1422.98px) {
  .footer-to-top {
    transform: translateX(520px);
  }
}
.footer-to-top.fixed, .footer-to-top.absolute {
  display: block;
}
@media (max-width: 1262.98px) {
  .footer-to-top.fixed, .footer-to-top.absolute {
    display: none;
  }
}
.footer-to-top.fixed {
  position: fixed;
  bottom: 10px;
}
.footer-to-top.absolute {
  position: absolute;
  bottom: 360px;
}
.footer-to-top .button {
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-to-top .button span {
  text-transform: uppercase;
}
.footer-to-top .button svg {
  margin-bottom: 10px;
}
