.header-large_menu {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  min-height: 100px;
  background-color: #313138;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.06));
}
@media (max-width: 1262.98px) {
  .header-large_menu {
    background-color: #27272B;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}

.header-large_menu-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 35px 0 25px;
}
@media (max-width: 1262.98px) {
  .header-large_menu-body {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }
}
.header-large_menu-body ul, .header-large_menu-body li {
  padding: 0;
  margin: 0;
}
.header-large_menu-body .column li {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column li {
    height: 50px;
  }
}
.header-large_menu-body .column li a {
  position: relative;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  color: #7C7C81;
  text-decoration: none;
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column li a {
    color: #C7C7C8;
  }
}
@media (pointer: coarse) {
  .header-large_menu-body .column li a:active {
    color: #FFFFFF;
  }
  .header-large_menu-body .column li a:active::after {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -4px;
    height: 2px;
    background-color: #DD2929;
  }
}
@media (hover: hover) {
  .header-large_menu-body .column li a:hover {
    color: #FFFFFF;
  }
  .header-large_menu-body .column li a:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 1px;
    background-color: #DD2929;
  }
}
.header-large_menu-body .column li svg {
  color: transparent;
}
.header-large_menu-body .column li.active a {
  color: #FFFFFF;
}
.header-large_menu-body .column li.active a::after {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -4px;
  height: 2px;
  background-color: #DD2929;
}
.header-large_menu-body .column li.active svg {
  color: #FFFFFF;
}
.header-large_menu-body .column-1 {
  width: 312px;
}
@media (max-width: 1422.98px) {
  .header-large_menu-body .column-1 {
    width: 296px;
  }
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column-1 {
    width: 100%;
  }
}
.header-large_menu-body .column-2 {
  padding-left: 36px;
  width: 348px;
}
@media (max-width: 1422.98px) {
  .header-large_menu-body .column-2 {
    width: 332px;
  }
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column-2 {
    padding-left: 0;
    width: 100%;
  }
}
.header-large_menu-body .column-3 {
  padding-left: 48px;
  flex-grow: 1;
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column-3 {
    padding-left: 0;
  }
}
.header-large_menu-body .column-1 ul {
  display: block;
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column-1 ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.header-large_menu-body .column-2 ul {
  display: block;
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column-2 ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 38px;
  }
}
.header-large_menu-body .column-3 ul {
  display: grid;
  gap: 0 8px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
@media (max-width: 1262.98px) {
  .header-large_menu-body .column-3 ul {
    padding-left: 38px;
  }
}
.header-large_menu-body .tablet-sub-menu-head {
  margin: 30px 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.header-large_menu-body .tablet-sub-menu-head svg {
  cursor: pointer;
  flex-shrink: 0;
}
.header-large_menu-body .tablet-sub-menu-head span {
  padding-left: 14px;
  cursor: pointer;
}
