.header-top {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 1262.98px) {
  .header-top {
    height: 56px;
  }
}
.header-top .button {
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313138;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
}
@media (pointer: coarse) {
  .header-top .button:active {
    background-color: #4A4A51;
  }
}
@media (hover: hover) {
  .header-top .button:hover {
    background-color: #4A4A51;
  }
}
@media (max-width: 1262.98px) {
  .header-top .button {
    font-size: 14px;
    line-height: 17px;
  }
}
.header-top .button.active {
  background-color: #636368;
}
.header-top .button svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 1262.98px) {
  .header-top .button svg {
    width: 20px;
    height: 20px;
  }
}
.header-top .button.hamburger {
  flex-basis: 105px;
  flex-shrink: 1;
  flex-grow: 1;
}
@media (max-width: 1422.98px) {
  .header-top .button.hamburger {
    flex-basis: 94px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .button.hamburger {
    flex-basis: 56px;
  }
}
.header-top .button.cart {
  flex-basis: 122px;
  flex-shrink: 1;
  flex-grow: 1;
}
@media (max-width: 1262.98px) {
  .header-top .button.cart {
    flex-basis: 56px;
  }
}
.header-top .button.application {
  width: 220px;
  height: 52px;
  margin: 0 10px 0 16px;
}
@media (max-width: 1262.98px) {
  .header-top .button.application {
    width: 145px;
    height: 36px;
    margin: 0 2px 0 10px;
  }
}
@media (max-width: 750.98px) {
  .header-top .button.application {
    display: none;
  }
}
.header-top .link {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #313138;
}
@media (max-width: 1262.98px) {
  .header-top .link {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (pointer: coarse) {
  .header-top .link:active {
    color: #DD2929;
  }
}
@media (hover: hover) {
  .header-top .link:hover {
    color: #DD2929;
  }
}
.header-top .link.phone {
  margin: 0 22px;
}
@media (max-width: 1262.98px) {
  .header-top .link.phone {
    margin: 0 10px;
  }
}
@media (max-width: 750.98px) {
  .header-top .link.phone {
    margin: 0 16px;
  }
}
.header-top .link.phone svg {
  width: 32px;
  height: 32px;
}
@media (max-width: 1262.98px) {
  .header-top .link.phone svg {
    width: 24px;
    height: 24px;
  }
}
.header-top .link.phone span {
  margin-left: 6px;
}
@media (max-width: 1262.98px) {
  .header-top .link.phone span {
    display: none;
  }
}
.header-top .link.lang {
  width: 88px;
  height: 40px;
}
@media (max-width: 1262.98px) {
  .header-top .link.lang {
    width: 48px;
    height: 20px;
  }
}
.header-top .link.lang span {
  margin-right: 8px;
  text-transform: uppercase;
}
@media (pointer: coarse) {
  .header-top .link.lang:active svg {
    color: #313138;
  }
}
@media (hover: hover) {
  .header-top .link.lang:hover svg {
    color: #313138;
  }
}
.header-top .logo {
  display: flex;
  margin-left: 34px;
  margin-right: auto;
  color: #000000;
}
@media (max-width: 1422.98px) {
  .header-top .logo {
    margin-left: 30px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .logo {
    margin-left: 19px;
  }
}
@media (max-width: 750.98px) {
  .header-top .logo {
    margin-left: 17px;
  }
}
.header-top .logo svg {
  height: 40px;
  width: auto;
}
@media (max-width: 1262.98px) {
  .header-top .logo svg {
    height: 24px;
  }
}
.header-top .center {
  width: 1213px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1422.98px) {
  .header-top .center {
    width: 1064px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .center {
    width: 656px;
  }
}
@media (max-width: 750.98px) {
  .header-top .center {
    width: 248px;
  }
}
.header-top .details {
  position: relative;
  margin: 0 18px;
}
@media (max-width: 1262.98px) {
  .header-top .details {
    margin: 0 20px;
  }
}
@media (max-width: 750.98px) {
  .header-top .details {
    display: none;
  }
}
.header-top .details[open] .link.lang {
  color: #DD2929;
}
.header-top .details[open] .link.lang svg {
  color: #313138;
  transform: rotateX(180deg);
}
.header-top .dropdown-outer {
  position: absolute;
  z-index: 1;
}
.header-top .dropdown-outer.lang {
  padding-top: 9px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.header-top .dropdown-inner {
  position: relative;
}
.header-top .dropdown-inner.lang {
  width: 94px;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
.header-top .dropdown-inner.lang::after, .header-top .dropdown-inner.lang::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -9px;
  background-color: #FFFFFF;
  left: 39px;
  width: 18px;
  height: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
}
.header-top .dropdown-inner.lang::before {
  z-index: 1;
  box-shadow: none;
}
.header-top .dropdown-inner.lang span, .header-top .dropdown-inner.lang a {
  margin: 4px;
}
.header-top .dropdown-inner.lang span {
  color: #DD2929;
}
.header-top .dropdown-inner.lang a {
  color: #7C7C81;
}
@media (pointer: coarse) {
  .header-top .dropdown-inner.lang a:active {
    color: #27272B;
  }
}
@media (hover: hover) {
  .header-top .dropdown-inner.lang a:hover {
    color: #27272B;
  }
}
