.header {
  background-color: #27272B;
  font-family: "Proxima Nova", "Jost", sans-serif;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}
.header a {
  text-align: center;
  text-decoration: none;
}
.header button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  text-align: center;
}
