.header-top {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 1262.98px) {
  .header-top {
    height: 56px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .button {
    font-size: 14px;
    line-height: 17px;
  }
}
.header-top .button svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 1262.98px) {
  .header-top .button svg {
    width: 20px;
    height: 20px;
  }
}
.header-top .button.hamburger {
  flex-basis: 105px;
  flex-shrink: 1;
  flex-grow: 1;
}
@media (max-width: 1422.98px) {
  .header-top .button.hamburger {
    flex-basis: 94px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .button.hamburger {
    flex-basis: 56px;
  }
}
.header-top .button.cart {
  flex-basis: 122px;
  flex-shrink: 1;
  flex-grow: 1;
}
@media (max-width: 1262.98px) {
  .header-top .button.cart {
    flex-basis: 56px;
  }
}
.header-top .button.application {
  width: 220px;
  height: 52px;
  margin: 0 10px 0 16px;
}
@media (max-width: 1262.98px) {
  .header-top .button.application {
    width: 145px;
    height: 36px;
    margin: 0 2px 0 10px;
  }
}
@media (max-width: 750.98px) {
  .header-top .button.application {
    display: none;
  }
}
.header-top .link {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #313138;
}
@media (max-width: 1262.98px) {
  .header-top .link {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (hover: hover) {
  .header-top .link:hover {
    color: #DD2929;
  }
}
.header-top .link:active {
  color: #DD2929;
}
.header-top .link.search {
  margin-right: 11px;
}
.header-top .link.phone {
  margin: 0 22px 0 11px;
}
@media (max-width: 1262.98px) {
  .header-top .link.phone {
    margin: 0 10px;
  }
}
@media (max-width: 750.98px) {
  .header-top .link.phone {
    margin: 0 16px;
  }
}
.header-top .link.phone svg {
  width: 32px;
  height: 32px;
}
@media (max-width: 1262.98px) {
  .header-top .link.phone svg {
    width: 24px;
    height: 24px;
  }
}
.header-top .link.phone span {
  margin-left: 6px;
}
@media (max-width: 1262.98px) {
  .header-top .link.phone span {
    display: none;
  }
}
.header-top .logo {
  display: flex;
  margin-left: 34px;
  margin-right: auto;
  color: #000000;
}
@media (max-width: 1422.98px) {
  .header-top .logo {
    margin-left: 30px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .logo {
    margin-left: 19px;
  }
}
@media (max-width: 750.98px) {
  .header-top .logo {
    margin-left: 17px;
  }
}
.header-top .logo svg {
  height: 40px;
  width: auto;
}
@media (max-width: 1262.98px) {
  .header-top .logo svg {
    height: 24px;
  }
}
.header-top .center {
  width: 1213px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1422.98px) {
  .header-top .center {
    width: 1064px;
  }
}
@media (max-width: 1262.98px) {
  .header-top .center {
    width: 656px;
  }
}
@media (max-width: 750.98px) {
  .header-top .center {
    width: 248px;
  }
}
.header-top .form.search {
  position: relative;
  display: block;
  width: 448px;
}
@media (max-width: 1422.98px) {
  .header-top .form.search {
    width: 304px;
  }
}
.header-top .form.search input[type=search] {
  height: 52px;
  width: 100%;
  padding-left: 20px;
  padding-right: 42px;
  border: 1px solid #313138;
  border-radius: 2px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  color: #313138;
}
.header-top .form.search input[type=search]::-moz-placeholder {
  opacity: 1;
  font-weight: 400;
  color: #AEAEB1;
}
.header-top .form.search input[type=search]:-ms-input-placeholder {
  opacity: 1;
  font-weight: 400;
  color: #AEAEB1;
}
.header-top .form.search input[type=search]::placeholder {
  opacity: 1;
  font-weight: 400;
  color: #AEAEB1;
}
.header-top .form.search button {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}
.header-top .details {
  margin: 0 18px;
}
@media (max-width: 1262.98px) {
  .header-top .details {
    margin: 0 20px;
  }
}
@media (max-width: 750.98px) {
  .header-top .details {
    display: none;
  }
}
@media (pointer: coarse) {
  .header-top .details .link.lang:active svg {
    color: #313138;
  }
}
@media (hover: hover) {
  .header-top .details .link.lang:hover svg {
    color: #313138;
  }
}
.header-top .details[open] .link.lang {
  color: #DD2929;
}
.header-top .details[open] .link.lang svg {
  color: #313138;
}
