.link.lang {
  width: 88px;
  height: 40px;
}
@media (max-width: 1262.98px) {
  .link.lang {
    width: 48px;
    height: 20px;
  }
}
.link.lang span {
  margin-right: 8px;
  text-transform: uppercase;
}

.details {
  position: relative;
}
.details[open] .link.lang svg {
  transform: rotateX(180deg);
}

.dropdown-outer {
  position: absolute;
  z-index: 3;
}
.dropdown-outer.lang {
  padding-top: 9px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1262.98px) {
  .dropdown-outer.lang {
    padding-top: 15px;
  }
}

.dropdown-inner {
  position: relative;
}
.dropdown-inner.lang {
  width: 94px;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
.dropdown-inner.lang::after, .dropdown-inner.lang::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -9px;
  background-color: #FFFFFF;
  left: 39px;
  width: 18px;
  height: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
}
.dropdown-inner.lang::before {
  z-index: 1;
  box-shadow: none;
}
.dropdown-inner.lang span, .dropdown-inner.lang a {
  margin: 6px 4px;
}
.dropdown-inner.lang span {
  color: #DD2929;
}
.dropdown-inner.lang a {
  color: #7C7C81;
}
@media (hover: hover) {
  .dropdown-inner.lang a:hover {
    color: #27272B;
  }
}
.dropdown-inner.lang a:active {
  color: #27272B;
}
