.modal-popup.application_success {
  display: none;
  max-width: 490px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  padding: 50px;
}
@media (max-width: 1262.98px) {
  .modal-popup.application_success {
    padding: 32px;
  }
}
@media (max-width: 750.98px) {
  .modal-popup.application_success {
    max-width: 360px;
    padding: 24px;
  }
}
.modal-popup.application_success.opened {
  display: block;
}
.modal-popup.application_success .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.modal-popup.application_success .h4 {
  margin: 0;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 750.98px) {
  .modal-popup.application_success .h4 {
    font-size: 22px;
  }
}
.modal-popup.application_success .close:not(.button) {
  flex-shrink: 0;
  margin-left: 4px;
  color: #000000;
}
@media (pointer: coarse) {
  .modal-popup.application_success .close:not(.button):active {
    color: #7C7C81;
  }
}
@media (hover: hover) {
  .modal-popup.application_success .close:not(.button):hover {
    color: #7C7C81;
  }
}
.modal-popup.application_success .body .button {
  width: 218px;
  height: 52px;
}
@media (max-width: 750.98px) {
  .modal-popup.application_success .body .button {
    font-size: 15px;
    width: 144px;
    height: 42px;
  }
}
