@import "././resources/styles/__/variables";
@import "././resources/styles/partials/mixins/gallery-news-top";

.news.top {
  font-family: $font-family-1;
  font-style: normal;

  .h1 {
    @include h1;
  }

  .details {
    margin-bottom: 45px;

    @media (max-width: $media-grid-sm) {
      margin-bottom: 32px;
    }
  }

  .details-head {
    cursor: pointer;
    width: 138px;
    height: 52px;

    @media (max-width: $media-grid-sm) {
      width: 124px;
      height: 42px;
      font-size: 15px;
    }

    svg {
      display: block;
      margin-right: 5px;
      width: 20px;
      height: 20px;

      @media (max-width: $media-grid-sm) {
        width: 16px;
        height: 16px;
      }
    }
  }

  .details-body {
    margin-top: 32px;

    @media (max-width: $media-grid-sm) {
      margin-top: 24px;
    }
  }

  .tiles {
    @include tiles;
  }

  .tile {
    @include tile;
  }
}