.index.benefits h2 {
  margin: 0 0 52px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.02em;
  color: #27272B;
}
@media (max-width: 1262.98px) {
  .index.benefits h2 {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 750.98px) {
  .index.benefits h2 {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
  }
}
.index.benefits .benefits-tabs-head-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 24px;
}
.index.benefits .benefits-tabs-head {
  display: flex;
}
.index.benefits .benefits-tabs-head .button {
  flex-grow: 1;
  flex-basis: 33%;
  height: 145px;
}
@media (max-width: 1262.98px) {
  .index.benefits .benefits-tabs-head .button {
    height: 100px;
  }
}
@media (max-width: 750.98px) {
  .index.benefits .benefits-tabs-head .button {
    height: 60px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.index.benefits .benefits-tabs-head .button:not(:first-child) {
  margin-left: 16px;
}
.index.benefits .benefits-tabs-head .button.default {
  cursor: default;
}
@media (hover: hover) {
  .index.benefits .benefits-tabs-head .button.default:hover {
    background-color: #313138;
    border-color: #313138;
    color: #FFFFFF;
  }
}
.index.benefits .benefits-tabs-head .button.default:active {
  background-color: #313138;
  border-color: #313138;
  color: #FFFFFF;
}
.index.benefits .benefits-tabs-body-wrapper {
  margin-bottom: 146px;
  overflow: hidden;
}
@media (max-width: 1262.98px) {
  .index.benefits .benefits-tabs-body-wrapper {
    margin-bottom: 80px;
  }
}
@media (max-width: 750.98px) {
  .index.benefits .benefits-tabs-body-wrapper {
    margin-bottom: 90px;
    max-width: 340px;
  }
}
.index.benefits .list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -8px;
}
.index.benefits .item {
  width: 366px;
  padding: 0 8px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 750.98px) {
  .index.benefits .item {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.index.benefits .item.left {
  margin-left: calc((100% - 32px)/3 - 173px);
}
@media (max-width: 1422.98px) {
  .index.benefits .item.left {
    margin-left: calc((100% - 32px)/3 - 172px);
  }
}
@media (max-width: 1262.98px) {
  .index.benefits .item.left {
    margin-left: auto;
  }
}
.index.benefits .item.right {
  margin-right: calc((100% - 32px)/3 - 173px);
}
@media (max-width: 1422.98px) {
  .index.benefits .item.right {
    margin-right: calc((100% - 32px)/3 - 172px);
  }
}
@media (max-width: 1262.98px) {
  .index.benefits .item.right {
    margin-right: auto;
  }
}
.index.benefits .item svg {
  display: block;
  margin: 62px auto 36px;
  width: 42px;
  height: 42px;
  color: #27272B;
}
@media (max-width: 750.98px) {
  .index.benefits .item svg {
    margin: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 33px;
    left: 18px;
  }
}
.index.benefits .item .title, .index.benefits .item .text {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  color: #313138;
  text-align: center;
}
@media (max-width: 750.98px) {
  .index.benefits .item .title, .index.benefits .item .text {
    text-align: left;
    padding-left: 48px;
  }
}
.index.benefits .item .title {
  min-height: 42px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 1262.98px) {
  .index.benefits .item .title {
    font-size: 21px;
    line-height: 24px;
  }
}
@media (max-width: 750.98px) {
  .index.benefits .item .title {
    margin: 30px 0 12px;
    min-height: auto;
    font-size: 17px;
    line-height: 20px;
  }
}
.index.benefits .item .text {
  min-height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
@media (max-width: 1262.98px) {
  .index.benefits .item .text {
    min-height: 70px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 750.98px) {
  .index.benefits .item .text {
    min-height: auto;
  }
}
