.index.trend .right .title {
  margin-bottom: 42px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 1422.98px) {
  .index.trend .right .title {
    flex-wrap: wrap;
    margin-bottom: 52px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .title {
    margin-bottom: 48px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .title {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
}
.index.trend .right .title-left {
  flex-shrink: 0;
  margin-right: 12px;
  color: #7C7C81;
}
@media (max-width: 1422.98px) {
  .index.trend .right .title-left {
    margin-bottom: 32px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .title-left {
    margin-right: 0;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .title-left {
    margin-bottom: 18px;
    text-align: center;
  }
}
.index.trend .right .collection-text {
  margin-bottom: 2px;
  font-weight: 400;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
}
@media (max-width: 1262.98px) {
  .index.trend .right .collection-text {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .collection-text {
    margin-bottom: 0;
    font-size: 9px;
  }
}
.index.trend .right .collection-title {
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 1262.98px) {
  .index.trend .right .collection-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .collection-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.index.trend .right .title-right {
  flex-shrink: 0;
  position: relative;
  padding: 0 16px;
  color: #FFFFFF;
  text-align: center;
}
.index.trend .right .title-right::before, .index.trend .right .title-right::after {
  content: "";
  position: absolute;
  width: 12px;
  border-top: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  top: 7px;
  bottom: -3px;
}
.index.trend .right .title-right::before {
  left: 0;
  border-left: 3px solid #FFFFFF;
}
.index.trend .right .title-right::after {
  right: 0;
  border-right: 3px solid #FFFFFF;
}
.index.trend .right .product-text {
  margin-bottom: 18px;
  font-weight: 400;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
}
@media (max-width: 1262.98px) {
  .index.trend .right .product-text {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .product-text {
    margin-bottom: 4px;
    font-size: 9px;
    text-align: center;
  }
}
.index.trend .right .product-title {
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 30px;
  line-height: 36px;
}
@media (max-width: 1262.98px) {
  .index.trend .right .product-title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .product-title {
    font-size: 19px;
    line-height: 24px;
  }
}
.index.trend .right .text-wrapper {
  margin-bottom: 72px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  overflow: hidden;
}
@media (max-width: 1422.98px) {
  .index.trend .right .text-wrapper {
    margin-bottom: 52px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .text-wrapper {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .text-wrapper {
    margin-bottom: 26px;
    font-size: 13px;
  }
}
.index.trend .right .text-wrapper p {
  margin: 0 0 8px;
}
.index.trend .right .quantity-wrapper {
  margin-bottom: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1422.98px) {
  .index.trend .right .quantity-wrapper {
    margin-bottom: 64px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .quantity-wrapper {
    margin-bottom: 32px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .quantity-wrapper {
    margin-bottom: 28px;
  }
}
.index.trend .right .quantity-left {
  margin-top: 2px;
  height: 48px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-color: #4A4A51;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (max-width: 1422.98px) {
  .index.trend .right .quantity-left {
    width: 176px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .quantity-left {
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .quantity-left {
    margin-bottom: 32px;
  }
}
.index.trend .right .quantity-minus, .index.trend .right .quantity-plus {
  cursor: pointer;
  padding: 0 0 2px;
  width: 44px;
  line-height: 42px;
  color: #7C7C81;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (hover: hover) {
  .index.trend .right .quantity-minus:hover, .index.trend .right .quantity-plus:hover {
    color: #FFFFFF;
  }
}
.index.trend .right .quantity-minus:active, .index.trend .right .quantity-plus:active {
  color: #FFFFFF;
}
.index.trend .right .quantity-number {
  line-height: 32px;
  color: #FFFFFF;
}
.index.trend .right .quantity-right {
  width: 236px;
}
@media (max-width: 1422.98px) {
  .index.trend .right .quantity-right {
    width: 196px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .quantity-right {
    width: 100%;
  }
}
.index.trend .right .quantity-progress {
  touch-action: none;
  position: relative;
  height: 24px;
  margin-bottom: 8px;
}
.index.trend .right .quantity-progress::before, .index.trend .right .quantity-progress .progress-line {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-width: 2px;
  border-style: solid;
}
.index.trend .right .quantity-progress::before {
  z-index: 0;
  width: 100%;
  border-color: #4A4A51;
}
.index.trend .right .quantity-progress .progress-line {
  z-index: 1;
  border: 2px solid #C7C7C8;
}
.index.trend .right .progress-point {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 99999px;
  border: 2px solid #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  background-color: #313138;
}
.index.trend .right .progress-numbers {
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index.trend .right .progress-number {
  flex-basis: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #7C7C81;
  text-align: center;
}
.index.trend .right .progress-number.active {
  color: #FFFFFF;
}
.index.trend .right .buttons {
  display: flex;
  flex-flow: row wrap;
}
.index.trend .right .add-to-order {
  width: 220px;
  height: 52px;
}
@media (max-width: 1422.98px) {
  .index.trend .right .add-to-order {
    width: 176px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .add-to-order {
    width: 100%;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .add-to-order {
    height: 42px;
    font-size: 15px;
  }
}
.index.trend .right .go-to-product {
  margin-left: 16px;
  width: 220px;
  height: 52px;
}
@media (max-width: 1422.98px) {
  .index.trend .right .go-to-product {
    margin-left: 14px;
    width: 208px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .right .go-to-product {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
}
@media (max-width: 750.98px) {
  .index.trend .right .go-to-product {
    height: 42px;
    font-size: 15px;
  }
}
.index.trend .right .go-to-product svg {
  margin-left: 6px;
}
