.index.trend {
  background-color: #F8F8F8;
}
.index.trend h2 {
  margin: 116px 0 42px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  line-height: 80px;
  color: #27272B;
}
@media (max-width: 1262.98px) {
  .index.trend h2 {
    margin: 102px 0 30px;
    font-size: 36px;
  }
}
@media (max-width: 750.98px) {
  .index.trend h2 {
    margin: 112px 0 48px;
    font-size: 30px;
    line-height: 36px;
  }
}
.index.trend .trend-tabs-head {
  position: relative;
  z-index: 1;
}
.index.trend .tabs-head {
  display: flex;
}
.index.trend .tabs-button {
  padding-bottom: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 1262.98px) {
  .index.trend .tabs-button {
    font-size: 21px;
    line-height: 24px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .tabs-button {
    font-size: 17px;
    line-height: 20px;
  }
}
.index.trend .tabs-button:not(.active) {
  border-bottom-color: transparent;
  color: #7C7C81;
}
@media (hover: hover) {
  .index.trend .tabs-button:not(.active):hover {
    color: #27272B;
  }
}
.index.trend .tabs-button:not(.active):active {
  color: #27272B;
}
.index.trend .tabs-button.active {
  cursor: default;
  border-bottom-color: #DD2929;
  color: #000000;
}
.index.trend .tabs-button:not(:first-child) {
  margin-left: 55px;
}
@media (max-width: 1262.98px) {
  .index.trend .tabs-button:not(:first-child) {
    margin-left: 32px;
  }
}
.index.trend .trend-tabs-body {
  display: flex;
}
@media (max-width: 750.98px) {
  .index.trend .trend-tabs-body {
    flex-direction: column;
    align-items: stretch;
  }
}
.index.trend .trend-tabs-body .left {
  position: relative;
  flex-shrink: 0;
  padding: 172px 0 70px;
  width: 620px;
  min-height: 820px;
}
@media (max-width: 1422.98px) {
  .index.trend .trend-tabs-body .left {
    padding: 172px 0 70px;
    width: 552px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .trend-tabs-body .left {
    padding: 105px 0 112px;
    width: 316px;
    min-height: 922px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .trend-tabs-body .left {
    padding: 50px 0 54px;
    width: auto;
    min-height: auto;
    height: 516px;
  }
}
.index.trend .trend-tabs-body .right {
  flex-shrink: 0;
  margin: -20px 0 -8px;
  width: 682px;
  padding: 78px 138px 78px 88px;
  background-color: #313138;
  border-radius: 3px;
}
@media (max-width: 1422.98px) {
  .index.trend .trend-tabs-body .right {
    width: 604px;
    padding: 78px 124px 78px 80px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .trend-tabs-body .right {
    margin: 0;
    padding: 105px 34px 112px 84px;
    width: 418px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .trend-tabs-body .right {
    margin: 0 -20px -2px;
    padding: 45px 20px 80px;
    width: auto;
  }
}
