.index.trend .left .left-wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  margin: 0 -48px 0 -16px;
  grid-gap: 80px 30px;
  grid-template-columns: 224px 432px;
  grid-template-rows: 128px 206px;
}
@media (max-width: 1422.98px) {
  .index.trend .left .left-wrapper {
    margin: 0 -26px 0 -16px;
    grid-gap: 36px 28px;
    grid-template-columns: 196px 370px;
    grid-template-rows: 128px 206px;
  }
}
@media (max-width: 1262.98px) {
  .index.trend .left .left-wrapper {
    margin: 0 -26px 0 0;
    grid-gap: 30px;
    grid-template-columns: 342px;
    grid-template-rows: 50px 342px 228px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .left .left-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    grid-gap: 30px 14px;
    grid-template-columns: 38px 268px;
    grid-template-rows: 268px 118px;
  }
}
@media (max-width: 339px) {
  .index.trend .left .left-wrapper {
    grid-gap: 30px 8px;
  }
}
.index.trend .left .tiles {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 1262.98px) {
  .index.trend .left .tiles {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
}
@media (max-width: 750.98px) {
  .index.trend .left .tiles {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
.index.trend .left .tile {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: darkseagreen;
}
.index.trend .left .tile img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.index.trend .left .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
}
.index.trend .left .spec-wrapper {
  padding-left: 16px;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}
@media (max-width: 1262.98px) {
  .index.trend .left .spec-wrapper {
    grid-row-start: 3;
  }
}
@media (max-width: 750.98px) {
  .index.trend .left .spec-wrapper {
    padding-left: 0;
    grid-column-end: span 2;
    grid-row-start: 2;
    display: grid;
    grid-gap: 4px 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(3, 22px);
  }
}
.index.trend .left .spec-title {
  margin-bottom: 16px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.14em;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1262.98px) {
  .index.trend .left .spec-title {
    font-size: 12px;
    line-height: 44px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media (max-width: 750.98px) {
  .index.trend .left .spec-title {
    font-size: 11px;
    line-height: 40px;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
}
.index.trend .left .spec-item {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  color: #7C7C81;
  letter-spacing: 0.02em;
}
@media (max-width: 1262.98px) {
  .index.trend .left .spec-item {
    font-size: 14px;
  }
}
@media (max-width: 750.98px) {
  .index.trend .left .spec-item {
    font-size: 13px;
    line-height: 22px;
  }
}
.index.trend .left .spec-item:not(:last-child) {
  margin-bottom: 6px;
}
@media (max-width: 750.98px) {
  .index.trend .left .spec-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.index.trend .left .target-tile {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  width: 100%;
  height: 100%;
  background-color: darkseagreen;
}
@media (max-width: 1262.98px) {
  .index.trend .left .target-tile {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
}
@media (max-width: 750.98px) {
  .index.trend .left .target-tile {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
}
