@import "././resources/styles/__/variables";

.cart.info {
  width: 575px;

  @media (max-width: $media-grid-lg) {
    width: 508px;
  }

  @media (max-width: $media-grid-md) {
    width: 100%;
  }

  .form-wrapper {
    position: relative;
    padding: 46px 38px 60px 50px;

    @media (max-width: $media-grid-lg) {
      padding: 46px 0 60px 36px;
    }

    @media (max-width: $media-grid-md) {
      padding: 36px 0 68px;
    }

    @media (max-width: $media-grid-sm) {
      padding: 36px 0 72px;
    }

    &::before {
      content: "";
      background-color: $color-gray-050;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: -140px;

      @media (max-width: $media-grid-lg) {
        right: -125px;
      }

      @media (max-width: $media-grid-md) {
        left: -34px;
        right: -34px;
      }

      @media (max-width: $media-grid-sm) {
        left: -20px;
        right: -20px;
      }
    }
  }

  .form-title {
    position: relative;
    z-index: 1;
    margin: 0 0 22px;
    color: $color-black;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 24px;
    line-height: 30px;

    @media (max-width: $media-grid-lg) {
      margin-bottom: 32px;
    }

    @media (max-width: $media-grid-md) {
      font-size: 21px;
      line-height: 26px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 20px;
      font-size: 19px;
      line-height: 24;
    }
  }

  .form {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;


  }

  .checkboxes-top {
    margin-bottom: 22px;
  }

  .checkboxes-bottom {
    margin-bottom: 40px;
  }

  .inputs {
    margin-bottom: 34px;
  }

  .field {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid $color-gray-900;
    padding-bottom: 10px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    svg {
      color: transparent;
      display: block;
      width: 17px;
      height: auto;
      position: absolute;
      top: 28px;
      right: 3px;
    }

    &.error svg {
      color: $color-red-700;
    }
  }

  .label {
    color: $color-gray-500;
    font-size: 14px;
    line-height: 22px;

    @media (max-width: $media-grid-md) {
      font-size: 13px;
    }
  }

  .input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: none;
    display: block;
    background-color: transparent;
    color: $color-black;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;

    @media (max-width: $media-grid-md) {
      font-size: 15px;
      line-height: 22px;
    }

    &::placeholder {
      opacity: 1;
      font-weight: 400;
      color: $color-gray-300;
    }
  }

  .form-textarea {
    margin-bottom: 30px;
  }

  .form-agree {
    margin-bottom: 30px;
  }

  .checkboxes-head {
    margin-bottom: 12px;
    color: $color-black;
    font-weight: 600;
    letter-spacing: 0.01em;
    font-size: 21px;
    line-height: 26px;


  }


  .btn-submit {
    height: 52px;

    @media (max-width: $media-grid-sm) {
      font-size: 15px;
      height: 42px;
    }
  }
}