@import "././resources/styles/__/variables";

.cart.order {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 563px;

  @media (max-width: $media-grid-lg) {
    width: 508px;
  }

  @media (max-width: $media-grid-md) {
    margin-bottom: 60px;
    width: 100%;
  }

  .to-clear {
    width: 160px;
    height: 42px;
    margin-right: 20px;

    @media (max-width: $media-grid-md) {
      margin-right: 0;
    }

    span {
      font-size: 15px;
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
  }

  .positions-outer {
    flex-grow: 1;
    position: relative;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      height: 150px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      pointer-events: none;

      @media (max-width: $media-grid-md) {
        display: none;
      }
    }
  }

  .positions-inner {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (max-width: $media-grid-md) {
      position: static;
    }
  }

  .position {
    margin-bottom: 10px;
    width: 543px;
    background-color: $color-gray-050;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: $media-grid-lg) {
      width: 488px;
    }

    @media (max-width: $media-grid-md) {
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .position-image {
    padding: 8px;
    width: 128px;
    height: 186px;

    @media (max-width: $media-grid-sm) {
      width: 100%;
      height: 116px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
    }
  }

  .position-rows {
    flex-grow: 1;
    padding: 18px 24px;
  }

  .position-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .position-title {
    color: $color-black;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 21px;
    line-height: 30px;
  }

  .position-delete {
    display: block;
    margin-left: 5px;
    color: $color-gray-800;

    @media (hover: hover) {
      &:hover {
        color: $color-gray-500;
      }
    }

    &:active {
      color: $color-gray-600;
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  .position-row-2 {
    margin-bottom: 5px;
  }

  .position-collection {
    color: $color-gray-500;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.14em;
    font-size: 13px;
    line-height: 32px;
  }

  .position-row-3, .position-row-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-grid-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .position-row-3 {
    margin-bottom: 24px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 20px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 16px;
    }
  }

  .l {
    color: $color-black;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $media-grid-md) {
      font-size: 13px;
    }
  }

  .position-row-3 .r {
    width: 142px;

    @media (max-width: $media-grid-lg) {
      width: 100px;
    }

    @media (max-width: $media-grid-md) {
      width: 142px;
    }

    @media (max-width: $media-grid-sm) {
      width: 134px;
      margin-top: 10px;
    }
  }

  .quantity {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: $color-white;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;

    &-minus, &-plus {
      width: 32px;
      cursor: pointer;
      user-select: none;
      color: $color-gray-500;

      @media (hover: hover) {
        &:hover {
          color: $color-gray-800;
        }
      }

      &:active {
        color: $color-black;
      }
    }

    &-number {
      color: $color-gray-900;
    }
  }

  .position-row-4 .r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 142px;

    @media (max-width: $media-grid-sm) {
      width: 156px;
      margin-top: 6px;
    }
  }

  .r input[type="checkbox"] {
    display: none;
  }

  .r .label {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 24px;
    color: $color-gray-500;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 13px;
    line-height: 18px;

    &::before {
      border-color: $color-gray-500;
    }

    &::after {
      border-color: $color-red-700;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-gray-900;
      }

      &:hover::before {
        border-color: $color-gray-900;
      }

      &:hover::after {
        border-color: $color-red-300;
      }
    }

    &:active::after {
      border-color: $color-red-300;
    }
  }

  .r .label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
  }

  input[type="checkbox"]:checked + .label {
    color: $color-gray-900;

    &::before {
      border-color: $color-gray-900;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 6px;
      width: 8px;
      height: 5px;
      border-left-style: solid;
      border-bottom-style: solid;
      border-left-width: 2px;
      border-bottom-width: 2px;
      transform: rotate(-48deg);
    }
  }
}