.docs-pdf-company.content {
  padding-top: 8px;
}
.docs-pdf-company.content .h2 {
  margin: 0 0 24px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 30px;
  line-height: 36px;
}
@media (max-width: 1262.98px) {
  .docs-pdf-company.content .h2 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
}
.docs-pdf-company.content .item {
  margin-bottom: 20px;
  background-color: #F8F8F8;
  padding: 30px 28px;
}
@media (max-width: 1262.98px) {
  .docs-pdf-company.content .item {
    padding: 20px;
  }
}
@media (max-width: 750.98px) {
  .docs-pdf-company.content .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.docs-pdf-company.content .img {
  float: left;
  margin-right: 28px;
  width: 72px;
  height: auto;
  display: block;
}
@media (max-width: 1262.98px) {
  .docs-pdf-company.content .img {
    margin-right: 20px;
    width: 56px;
  }
}
@media (max-width: 750.98px) {
  .docs-pdf-company.content .img {
    width: 48px;
    float: none;
  }
}
.docs-pdf-company.content .title {
  margin-bottom: 16px;
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 1262.98px) {
  .docs-pdf-company.content .title {
    font-size: 15px;
    line-height: 22px;
  }
}
@media (max-width: 750.98px) {
  .docs-pdf-company.content .title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    flex-basis: 50%;
    flex-grow: 1;
  }
}
.docs-pdf-company.content .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 750.98px) {
  .docs-pdf-company.content .buttons {
    margin-top: 12px;
    flex-grow: 1;
  }
}
.docs-pdf-company.content .btn-pdf {
  height: 42px;
  padding: 2px 15px;
  color: #313138;
  font-size: 15px;
  line-height: 18px;
}
@media (max-width: 750.98px) {
  .docs-pdf-company.content .btn-pdf {
    padding: 0;
    flex-grow: 1;
  }
}
.docs-pdf-company.content .btn-pdf svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.docs-pdf-company.content .btn-pdf + .btn-pdf {
  margin-left: 16px;
}
