@import "././resources/styles/__/variables";

.footer-to-top {

  // todo fixed
  position: fixed;
  bottom: 400px;
  left: 50%;
  transform: translateX(($container-fixed-xl * 0.5 + 10px));

  @media (max-width: $media-grid-lg) {
    transform: translateX(($container-fixed-lg * 0.5 - 5px));
  }

  @media (max-width: $media-grid-md) {
    display: none;
  }

  .button {
    width: 102px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      text-transform: uppercase;
    }
  }
}