@import "././resources/styles/__/variables";

.header-large_menu {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  min-height: 100px;
  background-color: $color-gray-800;
  color: $color-white;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.06));

  @media (max-width: $media-grid-md) {
    background-color: $color-gray-900;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}

.header-large_menu-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 35px 0 25px;

  @media (max-width: $media-grid-md) {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

  .column {

    li {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $media-grid-md) {
        height: 50px;
      }

      a {
        position: relative;
        font-family: $font-family-1;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        line-height: 30px;
        color: $color-gray-500;
        text-decoration: none;

        @media (max-width: $media-grid-md) {
          color: $color-gray-200;
        }

        @media (pointer: coarse) {
          &:active {
            color: $color-white;

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: -1px;
              right: -1px;
              bottom: -4px;
              height: 2px;
              background-color: $color-red-700;
            }
          }
        }

        @media (hover: hover) {
          &:hover {
            color: $color-white;

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -10px;
              height: 1px;
              background-color: $color-red-700;
            }
          }
        }
      }

      svg {
        color: transparent;
      }
    }

    li.active {

      a {
        color: $color-white;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: -1px;
          right: -1px;
          bottom: -4px;
          height: 2px;
          background-color: $color-red-700;
        }
      }

      svg {
        color: $color-white;
      }
    }
  }

  .column-1 {
    width: 312px;

    @media (max-width: $media-grid-lg) {
      width: 296px;
    }

    @media (max-width: $media-grid-md) {
      width: 100%;
    }
  }

  .column-2 {
    padding-left: 36px;
    width: 348px;

    @media (max-width: $media-grid-lg) {
      width: 332px;
    }

    @media (max-width: $media-grid-md) {
      padding-left: 0;
      width: 100%;
    }
  }

  .column-3 {
    padding-left: 48px;
    flex-grow: 1;

    @media (max-width: $media-grid-md) {
      padding-left: 0;
    }
  }

  .column-1 ul {
    display: block;

    @media (max-width: $media-grid-md) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .column-2 ul {
    display: block;

    @media (max-width: $media-grid-md) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 38px;
    }
  }

  .column-3 ul {
    display: grid;
    gap: 0 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    @media (max-width: $media-grid-md) {
      padding-left: 38px;
    }
  }

  .tablet-sub-menu-head {
    margin: 30px 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: $font-family-1;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $color-white;

    svg {
      cursor: pointer;
      flex-shrink: 0;
    }

    span {
      padding-left: 14px;
      cursor: pointer;
    }
  }
}