@import "././resources/styles/__/variables";

.header {
  background-color: $color-gray-900;
  font-family: $font-family-1;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  a {
    text-align: center;
    text-decoration: none;
  }

  button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    text-align: center;
  }
}