@import "././resources/styles/__/variables";
@import "././resources/styles/__/mixins";

$dropdown-lang-arrow-size: 9px;

.header-top {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  @media (max-width: $media-grid-md) {
    height: 56px;
  }

  .button {
    @include button;

    @media (max-width: $media-grid-md) {
      font-size: 14px;
      line-height: 17px;
    }

    &.active {
      background-color: $color-gray-600;
    }

    svg {
      width: 24px;
      height: 24px;

      @media (max-width: $media-grid-md) {
        width: 20px;
        height: 20px;
      }
    }

    &.hamburger {
      flex-basis: 105px;
      flex-shrink: 1;
      flex-grow: 1;

      @media (max-width: $media-grid-lg) {
        flex-basis: 94px;
      }

      @media (max-width: $media-grid-md) {
        flex-basis: 56px;
      }
    }

    &.cart {
      flex-basis: 122px;
      flex-shrink: 1;
      flex-grow: 1;

      @media (max-width: $media-grid-md) {
        flex-basis: 56px;
      }
    }

    &.application {
      width: 220px;
      height: 52px;
      margin: 0 10px 0 16px;

      @media (max-width: $media-grid-md) {
        width: 145px;
        height: 36px;
        margin: 0 2px 0 10px;
      }

      @media (max-width: $media-grid-sm) {
        display: none;
      }
    }
  }

  .link {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: $color-gray-800;

    @media (max-width: $media-grid-md) {
      font-size: 15px;
      line-height: 18px;
    }

    @media (pointer: coarse) {
      &:active {
        color: $color-red-700;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: $color-red-700;
      }
    }

    &.search {
      margin-right: 11px;
    }

    &.phone {
      margin: 0 22px 0 11px;

      @media (max-width: $media-grid-md) {
        margin: 0 10px;
      }

      @media (max-width: $media-grid-sm) {
        margin: 0 16px;
      }

      svg {
        width: 32px;
        height: 32px;

        @media (max-width: $media-grid-md) {
          width: 24px;
          height: 24px;
        }
      }

      span {
        margin-left: 6px;

        @media (max-width: $media-grid-md) {
          display: none;
        }
      }
    }

    &.lang {
      width: 88px;
      height: 40px;

      @media (max-width: $media-grid-md) {
        width: 48px;
        height: 20px;
      }

      span {
        margin-right: 8px;
        text-transform: uppercase;
      }

      @media (pointer: coarse) {
        &:active svg {
          color: $color-gray-800;
        }
      }

      @media (hover: hover) {
        &:hover svg {
          color: $color-gray-800;
        }
      }
    }
  }

  .logo {
    display: flex;
    margin-left: 34px;
    margin-right: auto;
    color: $color-black;

    @media (max-width: $media-grid-lg) {
      margin-left: 30px;
    }

    @media (max-width: $media-grid-md) {
      margin-left: 19px;
    }

    @media (max-width: $media-grid-sm) {
      margin-left: 17px;
    }

    svg {
      height: 40px;
      width: auto;

      @media (max-width: $media-grid-md) {
        height: 24px;
      }
    }
  }

  .center {
    width: 1213px;
    flex-shrink: 0;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-grid-lg) {
      width: 1064px;
    }

    @media (max-width: $media-grid-md) {
      width: 656px;
    }

    @media (max-width: $media-grid-sm) {
      width: 248px;
    }
  }

  .details {
    position: relative;
    margin: 0 18px;

    @media (max-width: $media-grid-md) {
      margin: 0 20px;
    }

    @media (max-width: $media-grid-sm) {
      display: none;
    }

    &[open] .link.lang {
      color: $color-red-700;

      svg {
        color: $color-gray-800;
        transform: rotateX(180deg);
      }
    }
  }

  .dropdown-outer {
    position: absolute;
    z-index: 1;

    &.lang {
      padding-top: 9px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .dropdown-inner {
    position: relative;

    &.lang {
      width: 94px;
      padding: 8px 4px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      font-family: $font-family-1;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 21px;
      text-transform: uppercase;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      background-color: $color-white;

      &::after, &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: ($dropdown-lang-arrow-size * -1);
        background-color: $color-white;
        left: 39px;
        width: ($dropdown-lang-arrow-size * 2);
        height: ($dropdown-lang-arrow-size * 2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transform: rotate(45deg);
      }

      &::before {
        z-index: 1;
        box-shadow: none;
      }

      span, a {
        margin: 4px;
      }

      span {
        color: $color-red-700;
      }

      a {
        color: $color-gray-500;

        @media (pointer: coarse) {
          &:active {
            color: $color-gray-900;
          }
        }

        @media (hover: hover) {
          &:hover {
            color: $color-gray-900;
          }
        }
      }
    }
  }

  .form.search {
    position: relative;
    display: block;
    width: 448px;

    @media (max-width: $media-grid-lg) {
      width: 304px;
    }

    input[type=search] {
      height: 52px;
      width: 100%;
      padding-left: 20px;
      padding-right: 42px;
      border: 1px solid $color-gray-800;
      border-radius: 2px;
      font-family: $font-family-1;
      font-weight: 600;
      font-style: normal;
      font-size: 15px;
      line-height: 22px;
      color: $color-gray-800;

      &::placeholder {
        opacity: 1;
        font-weight: 400;
        color: $color-gray-300;
      }
    }

    button {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}