@import "././resources/styles/__/variables";

.header-large_menu-tablet {
  display: none;

  @media (max-width: $media-grid-md) {
    display: block;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 26px;

    @media (max-width: $media-grid-sm) {
      flex-direction: column;
      margin-bottom: 12px;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-gray-200;
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    @media (max-width: $media-grid-sm) {
      margin-bottom: 12px;
    }

    @media (pointer: coarse) {
      &:active {
        color: $color-white;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: $color-white;
      }
    }

    span {
      margin-left: 10px;
    }
  }

  .form.search {
    position: relative;
    margin-bottom: 12px;

    input[type=search] {
      height: 52px;
      width: 100%;
      padding-left: 20px;
      padding-right: 38px;
      background-color: $color-gray-800;
      border:none;
      border-radius: 2px;
      font-family: $font-family-1;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 22px;
      color: $color-white;
      letter-spacing: 0.02em;

      &::placeholder {
        opacity: 1;
        font-weight: 400;
        color: $color-gray-300;
      }
    }

    button {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      color: $color-gray-300;

      @media (pointer: coarse) {
        &:active {
          color: $color-white;
        }
      }

      @media (hover: hover) {
        &:hover {
          color: $color-white;
        }
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}