@import "././resources/styles/__/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #FFFFFF;
  flex-grow: 1;
  margin-top: 150px;

  @media (max-width: $media-grid-md) {
    margin-top: 104px;
  }
}