.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;


  background-color: rgba(141, 141, 141, 0.8);
  backdrop-filter: blur(10px);

  &.opened {
    display: flex;
  }

  .modal-popup {
    margin: auto;
  }
}