@import "././resources/styles/__/variables";

.contacts.bottom {
  padding: 58px 0 80px;

  @media (max-width: $media-grid-md) {
    padding-bottom: 90px;
  }

  .h2 {
    margin-bottom: 36px;
  }

  .row {
    @media (max-width: $media-grid-md) {
      flex-direction: column;
    }
  }


  .l {
    margin-right: 64px;
    width: 574px;

    @media (max-width: $media-grid-lg) {
      margin-right: 58px;
      width: 504px;
    }

    @media (max-width: $media-grid-md) {
      margin-right: 0;
      margin-bottom: 26px;
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 24px;
    }
  }

  .items {
    width: 330px;
    display: grid;
    grid-gap: 36px 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);

    @media (max-width: $media-grid-md) {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    @media (max-width: $media-grid-sm) {
      grid-row-gap: 24px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
}