link(rel="stylesheet", href="css/page/search/empty.css")
section(class="search empty")
  div(class="light")
    h2(class="h2")
      | К сожалению по введённому запросу ничего не найдено
    div(class="text")
      | Попробуйте ввести другой поисковой запрос либо найти интересующий вас продукт в
      |
      a(href="catalog.html")
        | нашем каталоге
  div(class="content")
    div(class="left")
      h2(class="h2")
        | Есть вопрос?
      div(class="text")
        | Мы с радостью на него ответим
    button(type="button", class="right button default application")
      span
        | Напишите нам
