-
  links = {
    0: {
      title: '1',
      url: '404.html',
    },
    1: {
      title: '2',
      url: '404.html',
    },
    2: {
      title: '3',
      url: '404.html',
    },
    3: {
      title: '4',
      url: '404.html',
    },
    4: {
      title: '5',
      url: '404.html',
    },
    5: {
      title: '6',
      url: '404.html',
    },
    6: {
      title: '7',
      url: '404.html',
    },
    7: {
      title: '8',
      url: '404.html',
    },
  };
link(rel="stylesheet", href="css/page/search/results.css")
script(src="js/page/search/results.js")
section(class="search results")
  each link in links
    a(href=`${link.url}`)
      span
        | #{link.title}