link(rel="stylesheet", href="css/page/search/top.css")
script(src="js/page/search/top.js")
section(class="search top")
  h1(class="h1")
    span(class="title")
      | Поиск
    span(class="subtitle")
      | Результаты поиска по запросу:
  form(class="form search", novalidate="novalidate", data-search-page="search.html")
    input(type="search", placeholder="Что вы ищите?", value="плита акриловая")
    button(type="submit" class="link")
      include ../../partials/svg/search