link(rel="stylesheet", href="css/page/search/top.css")
section(class="search top")
  h1(class="h1")
    span(class="title")
      | Поиск
    span(class="subtitle")
      | Результаты поиска по запросу:
  form(class="form search", novalidate="novalidate", data-search-page="search.html")
    input
    | todo