link(rel="stylesheet", href="css/partials/docs/bottom.css")
section(class="docs bottom")
  div(class="info")
    div(class="left")
      h2(class="h2")
        | Появились вопросы?
      div(class="text")
        | Будем рады вам ответить!
    button(type="button", class="right button default application")
      span
        | Напишите нам
  div(class="buttons")
    a(href="index.html", class="button secondary to-home")
      include ../../partials/svg/arrow-left
      span
        | Вернуться на главную
    a(href=`${next}`, class="button secondary to-next")
      span
        | Читать далее
      include ../../partials/svg/chevrone-right