link(rel="stylesheet", href="css/partials/docs/top.css")
script(src="js/partials/docs/top.js")
section(class="docs top")
  div(class="title")
    | Документация
  h1(class="h1")
    = h1
  div(class="text")
    | В данном разделе вы найдете всю интересующую вас документацию и техническую
    |
    | информацию продуктов Staron компании Lotte chemical.
  button(type="button", class="btn")
    include ../../partials/svg/docs-aside