@import "././resources/styles/__/variables";

.payment_and_delivery.bottom {
  padding: 60px 0 90px;

  @media (max-width: $media-grid-sm) {
    padding: 45px 0 80px;
  }

  .content {
    padding: 40px;
    width: 810px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-gray-050;

    @media (max-width: $media-grid-lg) {
      padding: 40px 30px;
      width: 640px;
    }

    @media (max-width: $media-grid-md) {
      padding: 50px 40px;
      width: 100%;
    }

    @media (max-width: $media-grid-sm) {
      padding: 28px 26px;
      flex-direction: column;
    }
  }

  .h2 {
    margin: 0 0 4px;
  }

  .text {
    margin: 0;
  }

  .right {
    width: 310px;
    height: 70px;

    @media (max-width: $media-grid-lg) {
      width: 220px;
    }

    @media (max-width: $media-grid-md) {
      width: 190px;
      height: 52px;
    }

    @media (max-width: $media-grid-sm) {
      margin-top: 16px;
      width: 152px;
      height: 42px;
      font-size: 15px;
    }
  }
}