@import "././resources/styles/__/variables";

.payment_and_delivery.top {
  .h1 {
    margin: 0 0 60px;
    font-family: $font-family-1;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
    color: $color-black;
    letter-spacing: 0.02em;

    @media (max-width: $media-grid-md) {
      margin-bottom: 44px;
      font-size: 36px;
      line-height: 44px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 38px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  .h2 {
    margin: 0 0 40px;

    @media (max-width: $media-grid-md) {
      margin-bottom: 30px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 16px;
    }
  }

  .text {
    margin: 0 0 60px;
    max-width: 460px;

    @media (max-width: $media-grid-md) {
      max-width: 100%;
    }
  }
}