link(rel="stylesheet", href="css/page/study/bottom.css")
section(class="study--bottom")
  div(class="container container-fixed")
    div(class="row")
      div
        div(class="title")
          | Адрес центра
        div(class="text text-svg")
          include ../../partials/svg/address
          span
            | Московская область, г. Домодедово, мкр. Северный, ул. Логистическая, 8
      div
        div(class="title")
          | Расписание
        div(class="text text-svg")
          include ../../partials/svg/calendar
          strong
            | 19 февраля 2022 года
          span
            | Дата ближайшего мероприятия
      div
        div(class="title")
          | Запишитесь
        div(class="text")
          span
            | Для того, чтобы принять участие, заполните форму участия на нашем сайте