@import "././resources/styles/__/variables";

*, *::after, *::before {
  box-sizing: border-box;
}

label, input, textarea, button, select, a, summary {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, button:focus, input:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  outline: none !important;
  border: 0 !important;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
}

svg {
  display: block;
}

body.body {
  &.closed {
    overflow: hidden;
  }
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &-fixed {
    padding-left: 10px;
    padding-right: 10px;
    max-width: $container-fixed-xl;

    @media (max-width: $media-grid-lg) {
      max-width: $container-fixed-lg;
    }

    @media (max-width: $media-grid-md) {
      max-width: $container-fixed-md;
    }

    @media (max-width: $media-grid-sm) {
      max-width: $container-fixed-sm;
    }
  }

  &-fluid {
    max-width: $container-fluid-xl;

    @media (max-width: $media-grid-lg) {
      max-width: $container-fluid-lg;
    }

    @media (max-width: $media-grid-md) {
      max-width: $container-fluid-md;
    }

    @media (max-width: $media-grid-sm) {
      max-width: $container-fluid-sm;
    }
  }
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.hidden {
  display: none !important;
}

.button {
  padding: 0;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-1;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  user-select: none;

  &.default {
    background-color: $color-gray-800;
    border-color: $color-gray-800;
    color: $color-white;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-700;
        border-color: $color-gray-700;
        color: $color-white;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-600;
      border-color: $color-gray-600;
      color: $color-white;
    }
  }

  &.default-inverse {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-gray-600;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-050;
        border-color: $color-gray-050;
        color: $color-gray-600;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-100;
      border-color: $color-gray-100;
      color: $color-black;
    }
  }

  &.circuit {
    background-color: $color-white;
    border-color: $color-gray-800;
    color: $color-gray-800;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-300;
        border-color: $color-gray-300;
        color: $color-white;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-400;
      border-color: $color-gray-400;
      color: $color-white;
    }
  }

  &.circuit-inverse {
    background-color: $color-gray-800;
    border-color: $color-gray-200;
    color: $color-gray-200;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-800;
        border-color: $color-gray-100;
        color: $color-gray-100;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-800;
      border-color: $color-white;
      color: $color-white;
    }
  }

  &.transparent {
    background-color: $color-white;
    border-color: $color-white;
    color: $color-gray-800;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-050;
        border-color: $color-gray-050;
        color: $color-gray-800;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-100;
      border-color: $color-gray-100;
      color: $color-gray-800;
    }
  }

  &.transparent-inverse {
    background-color: $color-gray-800;
    border-color: $color-gray-800;
    color: $color-gray-200;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-700;
        border-color: $color-gray-700;
        color: $color-white;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-600;
      border-color: $color-gray-600;
      color: $color-white;
    }
  }

  &.accent {
    background-color: $color-red-700;
    border-color: $color-red-700;
    color: $color-white;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-red-500;
        border-color: $color-red-500;
        color: $color-white;
      }
    }

    &:not(:disabled):active {
      background-color: $color-red-300;
      border-color: $color-red-300;
      color: $color-white;
    }
  }

  &.secondary {
    background-color: $color-gray-050;
    border-color: $color-gray-050;
    color: $color-gray-800;

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: $color-gray-100;
        border-color: $color-gray-100;
        color: $color-gray-800;
      }
    }

    &:not(:disabled):active {
      background-color: $color-gray-200;
      border-color: $color-gray-200;
      color: $color-gray-800;
    }
  }
}