.doc.middle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.doc.middle .content {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  flex-grow: 1;
  max-width: calc(100% - 338px - 60px);
}
@media (max-width: 1422.98px) {
  .doc.middle .content {
    max-width: calc(100% - 298px - 50px);
  }
}
@media (max-width: 1262.98px) {
  .doc.middle .content {
    max-width: calc(100% - 225px - 31px);
  }
}
@media (max-width: 750.98px) {
  .doc.middle .content {
    max-width: 100%;
  }
}

.doc.middle .docs.aside {
  padding: 38px 20px 38px 0;
  margin-right: 60px;
  width: 338px;
  flex-shrink: 0;
}
@media (max-width: 1422.98px) {
  .doc.middle .docs.aside {
    margin-right: 50px;
    width: 298px;
  }
}
@media (max-width: 1262.98px) {
  .doc.middle .docs.aside {
    padding-right: 15px;
    margin-right: 31px;
    width: 225px;
  }
}
@media (max-width: 750.98px) {
  .doc.middle .docs.aside {
    display: none;
  }
}
.doc.middle .docs.aside::before {
  display: block;
  content: "";
  background-color: #F8F8F8;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: -140px;
}
@media (max-width: 1422.98px) {
  .doc.middle .docs.aside::before {
    left: -125px;
  }
}
@media (max-width: 1262.98px) {
  .doc.middle .docs.aside::before {
    left: -34px;
  }
}
@media (max-width: 750.98px) {
  .doc.middle .docs.aside::before {
    display: none;
  }
}

.docs.aside {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.docs.aside .link, .docs.aside .title {
  position: relative;
  z-index: 1;
}
.docs.aside .link:not(:last-child) {
  margin-bottom: 10px;
}
.docs.aside .lvl-1:not(:last-child) {
  padding-bottom: 10px;
}
.docs.aside .lvl-2 + .lvl-1 {
  padding-top: 10px;
}
.docs.aside .title {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
}
.docs.aside .title svg {
  display: block;
  width: 14px;
  height: auto;
  margin-left: 8px;
  transform: rotate(180deg);
}
.docs.aside .title span, .docs.aside .lvl-1 a, .docs.aside .lvl-2 a {
  letter-spacing: 0.02em;
  text-decoration: none;
}
.docs.aside .title span, .docs.aside .lvl-1 span, .docs.aside .lvl-1 a {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 1262.98px) {
  .docs.aside .title span, .docs.aside .lvl-1 span, .docs.aside .lvl-1 a {
    font-size: 15px;
    line-height: 22px;
  }
}
.docs.aside .lvl-2 span, .docs.aside .lvl-2 a {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
@media (max-width: 1262.98px) {
  .docs.aside .lvl-2 span, .docs.aside .lvl-2 a {
    font-size: 14px;
    line-height: 24px;
  }
}
.docs.aside .link span {
  color: #DD2929;
}
.docs.aside .lvl-1 a, .docs.aside .lvl-2 a {
  text-decoration: none;
  color: #000000;
}
@media (hover: hover) {
  .docs.aside .lvl-1 a:hover, .docs.aside .lvl-2 a:hover {
    color: #4A4A51;
  }
}
.docs.aside .lvl-1 a:active, .docs.aside .lvl-2 a:active {
  color: #7C7C81;
}
