.docs.top {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  position: relative;
  padding: 0 0 40px;
}
@media (max-width: 1422.98px) {
  .docs.top {
    padding-bottom: 36px;
  }
}
@media (max-width: 1262.98px) {
  .docs.top {
    padding-bottom: 44px;
  }
}
@media (max-width: 750.98px) {
  .docs.top {
    padding-bottom: 36px;
  }
}
.docs.top .title {
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 1262.98px) {
  .docs.top .title {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 750.98px) {
  .docs.top .title {
    font-size: 30px;
    line-height: 36px;
  }
}
.docs.top .h1 {
  padding-right: 42px;
  margin: 18px 0 60px;
  color: #AEAEB1;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 1422.98px) {
  .docs.top .h1 {
    margin-bottom: 50px;
  }
}
@media (max-width: 1262.98px) {
  .docs.top .h1 {
    font-size: 12px;
  }
}
@media (max-width: 750.98px) {
  .docs.top .h1 {
    margin-bottom: 44px;
    font-size: 11px;
    line-height: 16px;
  }
}
.docs.top .text {
  max-width: 700px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 1422.98px) {
  .docs.top .text {
    max-width: 610px;
  }
}
@media (max-width: 1262.98px) {
  .docs.top .text {
    max-width: 100%;
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 750.98px) {
  .docs.top .text {
    font-size: 14px;
    line-height: 26px;
  }
}
.docs.top .btn {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 41px;
  width: 40px;
  height: 40px;
  background-color: #F8F8F8;
  color: #27272B;
}
@media (max-width: 750.98px) {
  .docs.top .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (hover: hover) {
  .docs.top .btn:hover {
    color: #7C7C81;
  }
}
.docs.top .btn:active {
  color: #DD2929;
}
.docs.top .btn svg {
  display: block;
  width: 24px;
  height: 24px;
}
