.error-404 {
  padding: 1px 0;
  margin-bottom: 60px;
  position: relative;
  min-height: 654px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1262.98px) {
  .error-404 {
    min-height: 500px;
  }
}
@media (max-width: 750.98px) {
  .error-404 {
    min-height: 416px;
  }
}
.error-404 .h1 {
  margin: 0 0 26px;
  width: 400px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.25px;
  color: #000000;
}
@media (max-width: 750.98px) {
  .error-404 .h1 {
    margin-bottom: 64px;
  }
}
.error-404 .h1 .strong {
  font-size: 114px;
  line-height: 126px;
}
@media (max-width: 1262.98px) {
  .error-404 .h1 .strong {
    font-size: 72px;
    line-height: 80px;
  }
}
@media (max-width: 750.98px) {
  .error-404 .h1 .strong {
    font-size: 56px;
    line-height: 64px;
  }
}
.error-404 .h1 .small {
  font-size: 56px;
  line-height: 62px;
}
@media (max-width: 1262.98px) {
  .error-404 .h1 .small {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 750.98px) {
  .error-404 .h1 .small {
    font-size: 24px;
    line-height: 26px;
  }
}
.error-404 .subtitle {
  width: 600px;
  margin-bottom: 40px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 1262.98px) {
  .error-404 .subtitle {
    width: 346px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 750.98px) {
  .error-404 .subtitle {
    width: 100%;
    font-size: 21px;
    line-height: 26px;
  }
}
.error-404 .text {
  width: 700px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 1262.98px) {
  .error-404 .text {
    width: 346px;
    font-size: 15px;
    line-height: 26px;
  }
}
@media (max-width: 750.98px) {
  .error-404 .text {
    width: 100%;
    font-size: 14px;
  }
}
.error-404 .a {
  color: #DD2929;
  text-decoration: underline;
}
@media (hover: hover) {
  .error-404 .a:hover {
    text-decoration: none;
  }
}
.error-404 .a:active {
  text-decoration: none;
}
.error-404 .picture {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 490px;
}
@media (max-width: 1422.98px) {
  .error-404 .picture {
    left: 400px;
  }
}
@media (max-width: 1262.98px) {
  .error-404 .picture {
    left: 320px;
    height: 320px;
    width: auto;
  }
}
@media (max-width: 750.98px) {
  .error-404 .picture {
    left: 150px;
    height: 160px;
    width: auto;
    top: 0;
    transform: none;
  }
}
