.catalog-h1 {
  margin: 0 0 58px;
  color: #000000;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 1262.98px) {
  .catalog-h1 {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 750.98px) {
  .catalog-h1 {
    font-size: 30px;
    line-height: 36px;
  }
}

.catalog-wrapper {
  margin-bottom: 92px;
}
@media (max-width: 1262.98px) {
  .catalog-wrapper {
    margin-bottom: 106px;
  }
}
@media (max-width: 750.98px) {
  .catalog-wrapper {
    margin-bottom: 58px;
  }
}
