.exploitation_and_care {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
}
.exploitation_and_care .title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #27272B;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .title {
    font-size: 21px;
    line-height: 26px;
  }
}
.exploitation_and_care .subtitle {
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  color: #4A4A51;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .subtitle {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .subtitle {
    font-size: 15px;
    line-height: 22px;
  }
}
.exploitation_and_care .text {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #27272B;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .text {
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .text {
    font-size: 14px;
    line-height: 24px;
  }
}
.exploitation_and_care .columns svg {
  margin-bottom: 26px;
  display: block;
  width: 86px;
  height: 86px;
}
@media (max-width: 750.98px) {
  .exploitation_and_care .columns svg {
    width: 60px;
    height: 60px;
  }
}
.exploitation_and_care .columns .text {
  margin: 0 0 30px;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .columns .text {
    margin-bottom: 20px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .columns .text {
    margin-bottom: 15px;
  }
}
.exploitation_and_care .columns .text:last-child {
  margin-bottom: 0;
}
.exploitation_and_care .h3 {
  margin: 0 0 35px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .h3 {
    margin-bottom: 18px;
    font-size: 21px;
    line-height: 26px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .h3 {
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 24px;
  }
}
.exploitation_and_care .h4 {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .h4 {
    font-size: 19px;
    line-height: 24px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .h4 {
    font-size: 17px;
    line-height: 20px;
  }
}
.exploitation_and_care .item {
  margin-bottom: 11px;
  padding-left: 24px;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  color: #27272B;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care .item {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care .item {
    font-size: 13px;
  }
}
.exploitation_and_care .item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  transform: rotate(45deg);
  width: 11px;
  height: 11px;
  border: 1px solid currentColor;
}
