.payment_and_delivery .h2 {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #27272B;
  letter-spacing: 0.02em;
}
@media (max-width: 1262.98px) {
  .payment_and_delivery .h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 750.98px) {
  .payment_and_delivery .h2 {
    font-size: 21px;
    line-height: 24px;
  }
}
.payment_and_delivery .text {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 32px;
  color: #27272B;
  letter-spacing: 0.02em;
}
@media (max-width: 1262.98px) {
  .payment_and_delivery .text {
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 750.98px) {
  .payment_and_delivery .text {
    font-size: 14px;
    line-height: 24px;
  }
}
