.study_directions {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
}
.study_directions .container {
  position: relative;
}
.study_directions .container::before {
  content: "";
  position: absolute;
  background-color: #313138;
  bottom: 0;
  top: -100px;
  right: -130px;
  width: 600px;
}
@media (max-width: 1422.98px) {
  .study_directions .container::before {
    right: -115px;
    width: 528px;
  }
}
@media (max-width: 1262.98px) {
  .study_directions .container::before {
    right: -24px;
    width: 312px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .container::before {
    top: 300px;
    right: -10px;
    width: 306px;
  }
}
.study_directions .h1 {
  position: relative;
  z-index: 1;
  margin: 0 0 60px;
  width: 500px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
@media (max-width: 1262.98px) {
  .study_directions .h1 {
    margin-bottom: 45px;
    width: 400px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .h1 {
    width: 100%;
  }
}
.study_directions .h1 .title {
  margin-bottom: 18px;
  color: #000000;
  letter-spacing: 0.02em;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 1262.98px) {
  .study_directions .h1 .title {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .h1 .title {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 36px;
  }
}
.study_directions .h1 .subtitle {
  text-transform: uppercase;
  color: #AEAEB1;
  letter-spacing: 0.14em;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 1262.98px) {
  .study_directions .h1 .subtitle {
    font-size: 12px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .h1 .subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}
.study_directions .h2 {
  position: relative;
  z-index: 1;
  margin: 0 0 40px;
  width: 500px;
  color: #27272B;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 30px;
  line-height: 36px;
}
@media (max-width: 1262.98px) {
  .study_directions .h2 {
    margin-bottom: 30px;
    width: 400px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .h2 {
    width: 100%;
    font-size: 21px;
    line-height: 26px;
  }
}
.study_directions .h3 {
  position: relative;
  z-index: 1;
  margin: 0 0 36px;
  width: 500px;
  color: #27272B;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 1262.98px) {
  .study_directions .h3 {
    margin-bottom: 24px;
    width: 400px;
    font-size: 15px;
    line-height: 22px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .h3 {
    margin-bottom: 60px;
    width: 100%;
  }
}
.study_directions .h3 strong {
  font-weight: 400;
  color: #DD2929;
}
.study_directions .subtitle-text {
  position: relative;
  z-index: 1;
  margin: 0 0 52px;
  width: 500px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 32px;
}
@media (max-width: 1262.98px) {
  .study_directions .subtitle-text {
    margin-bottom: 45px;
    width: 400px;
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 750.98px) {
  .study_directions .subtitle-text {
    margin-bottom: 30px;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
  }
}
