.breadcrumbs {
  width: 550px !important;
}
@media (max-width: 1422.98px) {
  .breadcrumbs {
    width: 500px !important;
  }
}
@media (max-width: 1262.98px) {
  .breadcrumbs {
    width: 400px !important;
  }
}
@media (max-width: 750.98px) {
  .breadcrumbs {
    width: 100% !important;
  }
}

.study_request {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
}
.study_request .container {
  position: relative;
  padding-bottom: 85px;
}
@media (max-width: 1262.98px) {
  .study_request .container {
    padding-bottom: 90px;
  }
}
@media (max-width: 750.98px) {
  .study_request .container {
    padding-bottom: 104px;
  }
}
.study_request .container::before {
  content: "";
  position: absolute;
  background-color: #313138;
  bottom: 0;
  top: -100px;
  right: -130px;
  width: 550px;
}
@media (max-width: 1422.98px) {
  .study_request .container::before {
    right: -115px;
    width: 528px;
  }
}
@media (max-width: 1262.98px) {
  .study_request .container::before {
    right: -24px;
    width: 312px;
  }
}
@media (max-width: 750.98px) {
  .study_request .container::before {
    top: auto;
    right: -10px;
    width: 306px;
    height: 1050px;
  }
}
.study_request .h1 {
  position: relative;
  z-index: 1;
  margin: 0 0 60px;
  width: 550px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
@media (max-width: 1422.98px) {
  .study_request .h1 {
    width: 500px;
  }
}
@media (max-width: 1262.98px) {
  .study_request .h1 {
    margin-bottom: 45px;
    width: 400px;
  }
}
@media (max-width: 750.98px) {
  .study_request .h1 {
    width: 100%;
  }
}
.study_request .h1 .title {
  margin-bottom: 18px;
  color: #000000;
  letter-spacing: 0.02em;
  font-size: 48px;
  line-height: 58px;
}
@media (max-width: 1262.98px) {
  .study_request .h1 .title {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 750.98px) {
  .study_request .h1 .title {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 36px;
  }
}
.study_request .h1 .subtitle {
  text-transform: uppercase;
  color: #AEAEB1;
  letter-spacing: 0.14em;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 1262.98px) {
  .study_request .h1 .subtitle {
    font-size: 12px;
  }
}
@media (max-width: 750.98px) {
  .study_request .h1 .subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}
.study_request .h2 {
  position: relative;
  z-index: 1;
  margin: 0 0 40px;
  width: 550px;
  color: #27272B;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 30px;
  line-height: 36px;
}
@media (max-width: 1422.98px) {
  .study_request .h2 {
    width: 500px;
  }
}
@media (max-width: 1262.98px) {
  .study_request .h2 {
    margin-bottom: 30px;
    width: 400px;
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 750.98px) {
  .study_request .h2 {
    width: 100%;
    font-size: 21px;
    line-height: 26px;
  }
}
.study_request .text {
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 32px;
}
@media (max-width: 1262.98px) {
  .study_request .text {
    font-size: 15px;
    line-height: 28px;
  }
}
@media (max-width: 750.98px) {
  .study_request .text {
    font-size: 14px;
    line-height: 26px;
  }
}
.study_request .row {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 50px;
}
@media (max-width: 1262.98px) {
  .study_request .row {
    margin-bottom: 64px;
  }
}
@media (max-width: 750.98px) {
  .study_request .row {
    margin-bottom: 80px;
  }
}
.study_request .row .text {
  margin-right: 290px;
  width: 550px;
}
@media (max-width: 1422.98px) {
  .study_request .row .text {
    margin-right: 215px;
    width: 500px;
  }
}
@media (max-width: 1262.98px) {
  .study_request .row .text {
    margin-right: 55px;
    width: 400px;
  }
}
@media (max-width: 750.98px) {
  .study_request .row .text {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}
.study_request .row .date {
  margin-right: auto;
}
.study_request .row .time {
  margin-left: auto;
}
.study_request .row .t {
  margin-top: 5px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 21px;
  line-height: 30px;
}
@media (max-width: 1262.98px) {
  .study_request .row .t {
    margin-top: 0;
    font-size: 19px;
    line-height: 28px;
  }
}
@media (max-width: 750.98px) {
  .study_request .row .t {
    color: #000000;
    font-size: 17px;
    line-height: 24px;
  }
}
.study_request .row .b {
  margin-top: 7px;
  color: #AEAEB1;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 28px;
}
@media (max-width: 1262.98px) {
  .study_request .row .b {
    margin-top: 8px;
    font-size: 14px;
    line-height: 26px;
  }
}
@media (max-width: 750.98px) {
  .study_request .row .b {
    color: #7C7C81;
    font-size: 13px;
    line-height: 24px;
  }
}
