.news.content {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1422.98px) {
  .news.content {
    grid-gap: 18px;
  }
}
@media (max-width: 750.98px) {
  .news.content {
    grid-gap: 16px;
  }
}
.news.content .card {
  position: relative;
}
.news.content .card img {
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.news.content .card:hover img {
  filter: none;
}
.news.content .card .info-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.news.content .card .info-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 100%;
}
.news.content .card .type {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.14em;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 1262.98px) {
  .news.content .card .type {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card .type {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 16px;
  }
}
.news.content .card .title {
  flex-grow: 1;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 1262.98px) {
  .news.content .card .title {
    font-size: 15px;
    line-height: 22px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card .title {
    font-size: 14px;
    line-height: 20px;
  }
}
.news.content .card .title span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.news.content .card .times {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-size: 13px;
  line-height: 18px;
}
@media (max-width: 1262.98px) {
  .news.content .card .times {
    margin-top: 5px;
    font-size: 12px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card .times {
    margin-top: 10px;
    font-size: 11px;
    line-height: 16px;
  }
}
.news.content .card .time {
  margin-left: 8px;
}
.news.content .card:nth-child(5n-4) {
  grid-column-start: 1;
  grid-column-end: span 2;
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-4) {
    grid-column-start: 1;
    grid-column-end: span 6;
  }
}
.news.content .card:nth-child(5n-2) {
  grid-column-start: 5;
  grid-column-end: span 2;
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-2) {
    grid-column-start: 1;
    grid-column-end: span 6;
  }
}
.news.content .card:nth-child(5n-3) {
  grid-column-start: 3;
  grid-column-end: span 2;
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-3) {
    grid-column-start: 1;
    grid-column-end: span 6;
  }
}
.news.content .card:nth-child(5n-1) {
  grid-column-start: 1;
  grid-column-end: span 3;
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-1) {
    grid-column-end: span 6;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-1) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.news.content .card:nth-child(5n-0) {
  grid-column-start: 4;
  grid-column-end: span 3;
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-0) {
    grid-column-start: 1;
    grid-column-end: span 6;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-0) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.news.content .card:nth-child(5n-4), .news.content .card:nth-child(5n-2), .news.content .card:nth-child(5n-3) {
  height: 421px;
}
@media (max-width: 1422.98px) {
  .news.content .card:nth-child(5n-4), .news.content .card:nth-child(5n-2), .news.content .card:nth-child(5n-3) {
    height: 373px;
  }
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-4), .news.content .card:nth-child(5n-2), .news.content .card:nth-child(5n-3) {
    height: 310px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-4), .news.content .card:nth-child(5n-2), .news.content .card:nth-child(5n-3) {
    height: 325px;
  }
}
.news.content .card:nth-child(5n-1), .news.content .card:nth-child(5n-0) {
  height: 322px;
}
@media (max-width: 1422.98px) {
  .news.content .card:nth-child(5n-1), .news.content .card:nth-child(5n-0) {
    height: 285px;
  }
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-1), .news.content .card:nth-child(5n-0) {
    height: 392px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-1), .news.content .card:nth-child(5n-0) {
    height: 302px;
  }
}
.news.content .card:nth-child(5n-4) img, .news.content .card:nth-child(5n-2) img {
  top: 0;
  left: 0;
  height: 50%;
}
.news.content .card:nth-child(5n-4) .info-outer, .news.content .card:nth-child(5n-2) .info-outer {
  bottom: 0;
  left: 0;
  height: 50%;
  background-color: #F8F8F8;
  padding: 24px 26px 28px;
}
@media (max-width: 1422.98px) {
  .news.content .card:nth-child(5n-4) .info-outer, .news.content .card:nth-child(5n-2) .info-outer {
    padding: 21px 26px 23px;
  }
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-4) .info-outer, .news.content .card:nth-child(5n-2) .info-outer {
    padding: 20px 12px 18px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-4) .info-outer, .news.content .card:nth-child(5n-2) .info-outer {
    padding: 16px 15px 18px;
  }
}
.news.content .card:nth-child(5n-4) .info-inner, .news.content .card:nth-child(5n-2) .info-inner {
  flex-grow: 1;
}
.news.content .card:nth-child(5n-4) .type, .news.content .card:nth-child(5n-4) .times, .news.content .card:nth-child(5n-2) .type, .news.content .card:nth-child(5n-2) .times {
  color: #7C7C81;
}
.news.content .card:nth-child(5n-4) .title, .news.content .card:nth-child(5n-2) .title {
  color: #000000;
}
.news.content .card:nth-child(5n-3) img {
  bottom: 0;
  left: 0;
  height: 50%;
}
.news.content .card:nth-child(5n-3) .info-outer {
  top: 0;
  left: 0;
  height: 50%;
  background-color: #27272B;
  padding: 28px 26px 24px;
}
@media (max-width: 1422.98px) {
  .news.content .card:nth-child(5n-3) .info-outer {
    padding: 23px 26px 21px;
  }
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-3) .info-outer {
    padding: 18px 12px 20px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-3) .info-outer {
    padding: 18px 15px 16px;
  }
}
.news.content .card:nth-child(5n-3) .info-inner {
  flex-grow: 1;
}
.news.content .card:nth-child(5n-3) .type, .news.content .card:nth-child(5n-3) .times {
  color: #7C7C81;
}
.news.content .card:nth-child(5n-3) .title {
  color: #FFFFFF;
}
.news.content .card:nth-child(5n-1) img, .news.content .card:nth-child(5n-0) img {
  top: 0;
  left: 0;
  height: 100%;
}
.news.content .card:nth-child(5n-1) .info-outer, .news.content .card:nth-child(5n-0) .info-outer {
  top: 0;
  left: 0;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 22px 26px 24px;
}
@media (max-width: 1422.98px) {
  .news.content .card:nth-child(5n-1) .info-outer, .news.content .card:nth-child(5n-0) .info-outer {
    padding: 19px 26px 21px;
  }
}
@media (max-width: 1262.98px) {
  .news.content .card:nth-child(5n-1) .info-outer, .news.content .card:nth-child(5n-0) .info-outer {
    padding: 20px 12px 22px;
  }
}
@media (max-width: 750.98px) {
  .news.content .card:nth-child(5n-1) .info-outer, .news.content .card:nth-child(5n-0) .info-outer {
    padding: 20px 20px 22px;
  }
}
.news.content .card:nth-child(5n-1) .type, .news.content .card:nth-child(5n-1) .times, .news.content .card:nth-child(5n-1) .title, .news.content .card:nth-child(5n-0) .type, .news.content .card:nth-child(5n-0) .times, .news.content .card:nth-child(5n-0) .title {
  color: #FFFFFF;
}
