link(rel="stylesheet", href="css/page/contacts/bottom.css")
section(class="contacts bottom")
  div(class="container container-fixed")
    h2(class="h2")
      | Склад
    div(class="row")
      div(class="l")
      div(class="r")
