link(rel="stylesheet", href="css/page/contacts/bottom.css")
section(class="contacts bottom")
  div(class="container container-fixed")
    h2(class="h2")
      | Склад
    div(class="row")
      div(class="l")
        div(class="items")
          div
            h3(class="h3")
              | Адрес
            div(class="text")
              p
                | 142000, Россия, г. Домодедово мкр. Северный, ул. Логистическая 8

          div
            h3(class="h3")
              | Часы работы
            div(class="text")
              p
                | Понедельник - пятница:
                |
                strong
                  | с 09:00 до 18:00 без обеда
              p
                | суббота - воскресенье:
                |
                strong
                  | выходной

      div(class="r tel_and_email")
        div
          span
            | Телефон
          a(href="tel:+74952236440")
            | +7 495 223 64 40
        div
          span
            | E-mail
          a(href="mailto:office@koros-alianse.ru")
            | office@koros-alianse.ru