link(rel="stylesheet", href="css/page/contacts/middle.css")
section(class="contacts middle")
  div(class="container container-fixed")
    div(class="row")
      div(class="l")
        h2(class="h2")
          | Наш офис

        div(class="items")
          div
            h3(class="h3")
              | Часы работы
            div(class="text")
              p
                | Понедельник - пятница:
                |
                strong
                  | с 09:00 до 18:00 без обеда
              p
                | суббота - воскресенье:
                |
                strong
                  | выходной

          div
            h3(class="h3")
              | Адрес
            div(class="text")
              p
                | 142000, Россия, г. Домодедово мкр. Северный, ул. Логистическая 8

          div
            h3(class="h3")
              | Почтовый адрес для корреспонденции
            div(class="text")
              p
                | 142000, Московская обл., г. Домодедово, а/я 191

      div(class="r")
        img(src="images/tmp-contacts-map.jpg", alt="")