link(rel="stylesheet", href="css/page/contacts/top.css")
section(class="contacts top")
  div(class="container container-fixed")
    h1(class="h1")
      | Контакты
    div(class="row")
      div(class="l")
        | Служба КОРОС АЛЬЯНС по поддержке покупателей Staron в кратчайшие сроки отвечает на любые запросы клиентов.
      div(class="r tel_and_email")
        div
          span
            | Телефон
          a(href="tel:+74952236440")
            | +7 495 223 64 40
        div
          span
            | E-mail
          a(href="mailto:office@koros-alianse.ru")
            | office@koros-alianse.ru