link(rel="stylesheet", href="css/page/contacts/top.css")
section(class="contacts top")
  div(class="container container-fixed")
    h1(class="h1")
      | Контакты
    div(class="row")
      div(class="l")
        | Служба КОРОС АЛЬЯНС по поддержке покупателей Staron в кратчайшие сроки отвечает на любые запросы клиентов.
      div(class="r")