@import "././resources/styles/__/variables";

.search.results {
  margin-bottom: 90px;

  .h2 {
    margin: 0 0 32px;
    color: $color-black;
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 30px;
    line-height: 36px;

    @media (max-width: $media-grid-md) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 21px;
      line-height: 24px;
    }
  }

  .nav {
    margin-bottom: 40px;
    display: grid;
    grid-gap: 10px 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    @media (max-width: $media-grid-md) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 30px;
    }
  }

  .a {
    padding: 4px;
    border: 3px solid transparent;
    display: flex;
    align-items: flex-start;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        border-color: $color-gray-500;
      }
    }

    &:active {
      border-color: $color-gray-700;
    }

    .l {
      flex-shrink: 0;
      margin-right: 32px;
      width: 111px;
      height: 111px;
      object-fit: cover;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

      @media (max-width: $media-grid-sm) {
        margin-right: 14px;
        width: 90px;
        height: 90px;
      }
    }

    @media (hover: hover) {
      &:hover .l {
        box-shadow: none;
      }
    }

    &:active .l {
      box-shadow: none;
    }

    .c {
      flex-grow: 1;
      font-family: $font-family-1;
      font-style: normal;
    }

    .r {
      flex-shrink: 0;
      margin: 10px;
      width: 24px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: transparent;

      @media (max-width: $media-grid-sm) {
        display: none;
      }
    }

    @media (hover: hover) {
      &:hover .r {
        color: $color-gray-800;
      }
    }
  }

  .c .title, .c .subtitle, .c .text {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: $media-grid-sm) {
      height: 24px;
    }
  }

  .c .title {
    margin: 10px 0 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: $color-black;

    @media (max-width: $media-grid-md) {
      font-size: 19px;
      line-height: 28px;
    }

    @media (max-width: $media-grid-sm) {
      margin: 6px 0 3px;
      line-height: 24px;
    }
  }

  .c .subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $color-gray-500;

    @media (max-width: $media-grid-md) {
      font-size: 12px;
    }
  }

  .c .text {
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $color-black;

    @media (max-width: $media-grid-md) {
      font-size: 13px;
      line-height: 18px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 0;
    }
  }

  .show-more {
    width: 225px;
    height: 70px;

    @media (max-width: $media-grid-md) {
      width: 195px;
      height: 52px;
    }

    @media (max-width: $media-grid-sm) {
      width: 175px;
      height: 42px;
      font-size: 15px;
    }

    svg {
      margin-left: 5px;
      width: 20px;
      height: 20px;

      @media (max-width: $media-grid-sm) {
        width: 16px;
        height: 16px;
      }
    }
  }
}