@import "././resources/styles/__/variables";

.search.results {
  margin-bottom: 90px;
  display: grid;
  grid-gap: 10px 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @media (max-width: $media-grid-lg) {

  }

  @media (max-width: $media-grid-md) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  @media (max-width: $media-grid-sm) {

  }
}