link(rel="stylesheet", href="css/page/catalog/buttons.css")
script(src="js/page/catalog/buttons.js")
section(class="catalog_buttons")
  a(href="index.html", class="button secondary btn-home")
    include ../../partials/svg/arrow-left
    span
      | Вернуться на главную

  button(type="button", class="button circuit btn-less hidden")
    span
      | Показать меньше
    include ../../partials/svg/arrow-bottom

  button(type="button", class="button circuit btn-more")
    span
      | Показать больше
    include ../../partials/svg/arrow-bottom