link(rel="stylesheet", href="css/page/catalog/buttons.css")
section(class="catalog_buttons")
  a(href="index.html", class="button secondary btn-home")
    include ../../partials/svg/arrow-left
    span
      | Вернуться на главную