-
  collections = [
    {
      title: 'Supreme',
      image: 'images/content-catalog-1.jpg',
      link: 'collection.html',
    },
    {
      title: 'Aspen',
      image: 'images/content-catalog-2.jpg',
      link: 'collection.html',
    },
    {
      title: 'Metallic',
      image: 'images/content-catalog-3.jpg',
      link: 'collection.html',
    },
    {
      title: 'Tempest',
      image: 'images/content-catalog-4.jpg',
      link: 'collection.html',
    },
    {
      title: 'Pebble',
      image: 'images/content-catalog-5.jpg',
      link: 'collection.html',
    },
    {
      title: 'Sanded',
      image: 'images/content-catalog-6.jpg',
      link: 'collection.html',
    },
    {
      title: 'Solid',
      image: 'images/content-catalog-7.jpg',
      link: 'collection.html',
    },
    {
      title: 'Mosaic',
      image: 'images/content-catalog-8.jpg',
      link: 'collection.html',
    },
    {
      title: 'Quarry',
      image: 'images/content-catalog-9.jpg',
      link: 'collection.html',
    },
  ];
link(rel="stylesheet", href="css/page/catalog/cards.css")
section(class="catalog_cards", data-all="11", data-limit="9")
  each collection in collections
    a(href=`${collection.link}`, class="card")
      span(class="title")
        = collection.title
      img(src=`${collection.image}`, alt=`${collection.title}`, class="img")