link(rel="stylesheet", href="css/page/catalog/filter.css")
section(class="catalog_filter")
  div(class="filters")

  button(type="button", class="button circuit filter_reset")
    span
      | Сбросить фильтры
    include ../../partials/svg/reset