.exploitation_and_care.difficult_removable_substances {
  background-color: #F8F8F8;
  padding: 110px 0 130px;
}
@media (max-width: 1422.98px) {
  .exploitation_and_care.difficult_removable_substances {
    padding: 122px 0 112px;
  }
}
@media (max-width: 1262.98px) {
  .exploitation_and_care.difficult_removable_substances {
    padding: 110px 0 102px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care.difficult_removable_substances {
    padding: 86px 0 80px;
  }
}
.exploitation_and_care.difficult_removable_substances svg {
  margin-bottom: 25px;
  width: 86px;
  height: 86px;
  display: block;
}
@media (max-width: 750.98px) {
  .exploitation_and_care.difficult_removable_substances svg {
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
  }
}
.exploitation_and_care.difficult_removable_substances .top {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1262.98px) {
  .exploitation_and_care.difficult_removable_substances .top {
    margin-bottom: 35px;
    flex-direction: column;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care.difficult_removable_substances .top {
    margin-bottom: 0;
  }
}
.exploitation_and_care.difficult_removable_substances .title {
  width: 330px;
}
@media (max-width: 1422.98px) {
  .exploitation_and_care.difficult_removable_substances .title {
    width: 324px;
  }
}
@media (max-width: 1262.98px) {
  .exploitation_and_care.difficult_removable_substances .title {
    margin-bottom: 25px;
    width: 100%;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care.difficult_removable_substances .title {
    margin-bottom: 20px;
  }
}
.exploitation_and_care.difficult_removable_substances .subtitle {
  width: 574px;
}
@media (max-width: 1422.98px) {
  .exploitation_and_care.difficult_removable_substances .subtitle {
    width: 510px;
  }
}
@media (max-width: 1262.98px) {
  .exploitation_and_care.difficult_removable_substances .subtitle {
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care.difficult_removable_substances .subtitle {
    margin-bottom: 30px;
  }
}
.exploitation_and_care.difficult_removable_substances .columns {
  display: grid;
  grid-gap: 95px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
@media (max-width: 1422.98px) {
  .exploitation_and_care.difficult_removable_substances .columns {
    grid-gap: 64px;
  }
}
@media (max-width: 1262.98px) {
  .exploitation_and_care.difficult_removable_substances .columns {
    grid-gap: 16px;
  }
}
@media (max-width: 750.98px) {
  .exploitation_and_care.difficult_removable_substances .columns {
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}
