link(rel="stylesheet", href="css/page/cart/info.css")
script(src="js/page/cart/info.js")
section(class="cart info")
  div(class="title")
    h2(class="h2")
      | Контактная информация

  form(class="form")