link(rel="stylesheet", href="css/page/cart/info.css")
script(src="js/page/cart/info.js")
section(class="cart info")
  div(class="title")
    h2(class="h2")
      | Контактная информация

  div(class="form-wrapper")
    div(class="form-title")
      | Ваши данные
    form(class="form")
      div(class="checkboxes-top")
        div(class="checkboxes-head")
          | Род занятий
        div(class="checkboxes-body")


      div(class="inputs")
        div(class="field")
          include ../../partials/svg/check
          label(class="label", for="cart-name")
            | Имя
          input(class="input", id="cart-name", name="name", type="text")
        div(class="field")
          include ../../partials/svg/check
          label(class="label", for="cart-tel")
            | Телефон *
          input(class="input", id="cart-tel", name="tel", type="tel")
        div(class="field")
          include ../../partials/svg/check
          label(class="label", for="cart-email")
            | Email *
          input(class="input", id="cart-email", name="email", type="email")
        div(class="field")
          include ../../partials/svg/check
          label(class="label", for="cart-organization")
            | Название вашей организации
          input(class="input", id="cart-organization", name="organization", type="text")


      div(class="checkboxes-bottom")
        div(class="checkboxes-head")
          | Меня интересует
        div(class="checkboxes-body")


      div(class="form-textarea")
        textarea(id="cart-message", name="message")

      div(class="form-agree")
        input(type="checkbox", id="cart-agree")
        label

      button(type="submit", class="button default btn-submit")
        span
          | Оформить заказ