link(rel="stylesheet", href="css/page/cart/modal.css")
section(class="modal-popup order_modal")
  div(class="wrapper")
    div(class="head")
      h4(class="h4")
        | Спасибо за заказ!
    div(class="body")
      p(class="p")
        | Мы уже начали работать с вашим заказом.
      p(class="p")
        | В ближайшее время с вами свяжется специалист для уточнения деталей заказа.
      a(href="index.html", class="button default")
        span
          | Хорошо