link(rel="stylesheet", href="css/page/cart/order.css")
script(src="js/page/cart/order.js")
section(class="cart order")
  div(class="title")
    h2(class="h2")
      | Ваш заказ
    button(class="button secondary to-clear")
      span
        | Очистить заказ
      include ../../partials/svg/clear-order

  div(class="positions")