svg(width="42", height="42", viewBox="0 0 42 42", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(d="M10.5 3.5V14H10.5175L10.5 14.0175L17.5 21L10.5 28L10.5175 28.0175H10.5V38.5H31.5V28.0175H31.4825L31.5 28L24.5 21L31.5 14.0175L31.4825 14H31.5V3.5H10.5ZM28 28.875V35H14V28.875L21 21.875L28 28.875ZM21 20.125L14 13.125V7H28V13.125L21 20.125Z", fill="currentColor")