svg(width="17", height="13", viewBox="0 0 17 13", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M5.88461 10.1718L2.22807 6.51527L0.98291 7.75166L5.88461 12.6534L16.4071 2.13092L15.1707 0.894531L5.88461 10.1718Z", fill="currentColor")