svg(width="10", height="16", viewBox="0 0 10 16", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M1.06616 0.999245L8.13232 8.07031L1.06616 15.1414", stroke="currentColor", stroke-width="2")