svg(width="24", height="25", viewBox="0 0 24 25", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M19 6.94711L17.59 5.53711L12 11.1271L6.41 5.53711L5 6.94711L10.59 12.5371L5 18.1271L6.41 19.5371L12 13.9471L17.59 19.5371L19 18.1271L13.41 12.5371L19 6.94711Z", fill="currentColor")