svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M5.5 15L12.5833 10L5.5 5V15ZM7.16667 8.21667L9.69167 10L7.16667 11.7833V8.21667ZM13.8333 5H15.5V15H13.8333V5Z", fill="currentColor")