svg(width="31" height="29" viewBox="0 0 31 29", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M28.5078 13.0156L15.492 26.0315L2.47611 13.0156", stroke="currentColor", stroke-width="3", stroke-linecap="square")
  path(d="M22.0625 7.04102L15.5305 13.5727L8.99881 7.04102", stroke="currentColor", stroke-width="3", stroke-linecap="square")