link(rel="stylesheet", href="css/page/3d/bottom.css")
script(src="js/page/3d/bottom.js")
div(class="visualisation-3d bottom")
  div(class="selects")
    div(class="select select-color")
      include ../../partials/svg/chevrone-top
      div(class="select-placeholder select-placeholder-opened")
        | Выберите цвет интерьера
      div(class="select-placeholder select-placeholder-closed")
        | Выберите цвет интерьера
      div(class="select-body")

    div(class="select select-collection")
      include ../../partials/svg/chevrone-top
      div(class="select-placeholder select-placeholder-opened")
        | Выберите коллекцию
      div(class="select-placeholder select-placeholder-closed")
        | Выберите коллекцию
      div(class="select-body")

    div(class="select select-product")
      include ../../partials/svg/chevrone-top
      div(class="select-placeholder select-placeholder-opened")
        | Выберите модель и цвет камня
      div(class="select-placeholder select-placeholder-closed")
        | Выберите модель и цвет камня
      div(class="select-body")
