link(rel="stylesheet", href="css/page/3d/bottom.css")
script(src="js/page/3d/bottom.js")
div(class="visualisation-3d bottom")
  div(class="selects")

    details(class="select select-color")
      summary(class="summary")
        include ../../partials/svg/chevrone-top
        div(class="select-placeholder")
          | Выберите цвет интерьера
        div(class="select-title hidden")
          div(class="select-title-color")
          div()
            div(class="select-title-text")
              | Цвет
            div(class="select-title-value")
              |
      div(class="select-body")
        div(class="colors hidden", data-interior-type="1")
          div(class="color", style="background-color: #EDEDED", data-src-large="images/3d-interior-1.jpg", data-title="Gray")
          div(class="color", style="background-color: #DBC898", data-src-large="images/3d-interior-1.jpg", data-title="Yellow")
          div(class="color", style="background-color: #A55319", data-src-large="images/3d-interior-1.jpg", data-title="Orange")
          div(class="color", style="background-color: #C41919", data-src-large="images/3d-interior-1.jpg", data-title="Dark red")
        div(class="colors hidden", data-interior-type="2")
          div(class="color", style="background-color: #EDEDED", data-src-large="images/3d-interior-2.jpg", data-title="Gray")
          div(class="color", style="background-color: #DBC898", data-src-large="images/3d-interior-2.jpg", data-title="Yellow")
          div(class="color", style="background-color: #A55319", data-src-large="images/3d-interior-2.jpg", data-title="Orange")
          div(class="color", style="background-color: #C41919", data-src-large="images/3d-interior-2.jpg", data-title="Dark red")
        div(class="colors hidden", data-interior-type="3")
          div(class="color", style="background-color: #EDEDED", data-src-large="images/3d-interior-3.jpg", data-title="Gray")
          div(class="color", style="background-color: #DBC898", data-src-large="images/3d-interior-3.jpg", data-title="Yellow")
          div(class="color", style="background-color: #A55319", data-src-large="images/3d-interior-3.jpg", data-title="Orange")
          div(class="color", style="background-color: #C41919", data-src-large="images/3d-interior-3.jpg", data-title="Dark red")
        div(class="colors hidden", data-interior-type="4")
          div(class="color", style="background-color: #EDEDED", data-src-large="images/3d-interior-4.jpg", data-title="Gray")
          div(class="color", style="background-color: #DBC898", data-src-large="images/3d-interior-4.jpg", data-title="Yellow")
          div(class="color", style="background-color: #A55319", data-src-large="images/3d-interior-4.jpg", data-title="Orange")
          div(class="color", style="background-color: #C41919", data-src-large="images/3d-interior-4.jpg", data-title="Dark red")
        div(class="colors hidden", data-interior-type="5")
          div(class="color", style="background-color: #EDEDED", data-src-large="images/3d-interior-5.jpg", data-title="Gray")
          div(class="color", style="background-color: #DBC898", data-src-large="images/3d-interior-5.jpg", data-title="Yellow")
          div(class="color", style="background-color: #A55319", data-src-large="images/3d-interior-5.jpg", data-title="Orange")
          div(class="color", style="background-color: #C41919", data-src-large="images/3d-interior-5.jpg", data-title="Dark red")

    details(class="select select-collection")
      summary(class="summary disabled")
        include ../../partials/svg/chevrone-top
        div(class="select-placeholder")
          | Выберите коллекцию
        div(class="select-title hidden")
          div(class="select-title-text")
            | Коллекция
          div(class="select-title-value")
            |
      div(class="select-body")
        div(class="collections")
          div(class="collection")
            | Supreme
          div(class="collection")
            | Pebble
          div(class="collection")
            | Tempest
          div(class="collection")
            | Sanded
          div(class="collection")
            | Aspen
          div(class="collection")
            | Solid
          div(class="collection")
            | Metallic
          div(class="collection")
            | Quarry
          div(class="collection")
            | Mosaic

    details(class="select select-product")
      summary(class="summary disabled")
        include ../../partials/svg/chevrone-top
        div(class="select-placeholder")
          | Выберите модель и цвет камня
        div(class="select-title hidden")
          img(alt="", class="select-title-color", src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          div
            div(class="select-title-text")
              | Камень / артикул
            div(class="select-title-value")
              |
      div(class="select-body")
        div(class="products")