link(rel="stylesheet", href="css/page/3d/bottom.css")
script(src="js/page/3d/bottom.js")
div(class="visualisation-3d bottom")
  div(class="selects")
    div(class="select select-color")

    div(class="select select-collection")

    div(class="select select-product")
