link(rel="stylesheet", href="css/page/3d/top.css")
script(src="js/page/3d/top.js")
div(class="visualisation-3d top")
  div(class="cards")
    div(class="card active")
      span
        | Кухни
      img(alt="", src="images/3d-interior-1.jpg", data-src-large="images/3d-interior-1.jpg")
    div(class="card")
      span
        | Офисы
      img(alt="", src="images/3d-interior-2.jpg", data-src-large="images/3d-interior-2.jpg")
    div(class="card")
      span
        | Ванные комнаты
      img(alt="", src="images/3d-interior-3.jpg", data-src-large="images/3d-interior-3.jpg")
    div(class="card")
      span
        | Облицовка стен
      img(alt="", src="images/3d-interior-4.jpg", data-src-large="images/3d-interior-4.jpg")
    div(class="card")
      span
        | HORECA
      img(alt="", src="images/3d-interior-5.jpg", data-src-large="images/3d-interior-5.jpg")