link(rel="stylesheet", href="css/page/news/buttons.css")
script(src="js/page/news/buttons.js")
section(class="news buttons")
  button(type="button", class="button circuit btn-less hidden")
    span
      | Показать меньше
    include ../../partials/svg/arrow-bottom
  button(type="button", class="button circuit btn-more")
    span
      | Показать больше
    include ../../partials/svg/arrow-bottom