-
  links = [
    'Новости',
    'Видео',
    'Мероприятия',
    'Фотоотчёты',
    'Квартирный вопрос',
    'Дачный ответ',
  ];
link(rel="stylesheet", href="css/page/news/top.css")
script(src="js/page/news/top.js")
section(class="news top")
  h1(class="h1")
    | Новости
  details(class="details")
    summary(class="button secondary details-head")
      include ../../partials/svg/ellipsis
      span
        | Категории
    div(class="details-body")
      nav(class="tiles")
        div(class="tile")
          span
            | Все категории
        each link in links
          div(class="tile")
            a(href="news.html")
              = link
