doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    include ../partials/layouts/favicons
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
    script(src="js/layouts/inputmask.min.js")
    link(rel="stylesheet", href="css/swiper-bundle.css")
    script(src="js/layouts/swiper-bundle.min.js")
    script(src="js/layouts/script.js")
    link(rel="stylesheet", href="css/app-normalize.css")
    link(rel="stylesheet", href="css/app-fonts.css")
    link(rel="stylesheet", href="css/app-base.css")
    title
      block title
  body(class="body")
    div(class="page-wrapper")
      include ../layout/header
      include ../layout/main
      include ../layout/footer
    include ../layout/modal
