extends ../layouts/app

block title
  | Docs: Certificates

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: Сертификаты',
      },
    ];
  include ../partials/pages/breadcrumbs

  - h1 = 'Сертификаты';
  - page = 'docs-certificates.html';
  - next = 'docs-guarantee-private.html';

  div(class="container container-fixed")
    include ../partials/docs/top
    div(class="doc middle")
      include ../partials/docs/aside
      include ../page/docs-certificates/content
    include ../partials/docs/bottom