extends ../layouts/app

block title
  | Docs: Guarantee: Commercial

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: Гарантия: Коммерческое использование',
      },
    ];
  include ../partials/pages/breadcrumbs

  - h1 = 'Коммерческое использование';
  - page = 'docs-guarantee-commercial.html';
  - next = 'docs-passport.html';

  div(class="container container-fixed")
    include ../partials/docs/top
    div(class="doc middle")
      include ../partials/docs/aside
      include ../page/docs-guarantee-commercial/content
    include ../partials/docs/bottom