extends ../layouts/app

block title
  | Docs: Pdf: Company

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: PDF: О компании LOTTE ADVANCED MATERIALS',
      },
    ];
  include ../partials/pages/breadcrumbs

  - h1 = 'О компании Lotte advanced materials';
  - page = 'docs-pdf-company.html';
  - next = 'docs-pdf-products.html';

  div(class="container container-fixed")
    include ../partials/docs/top
    div(class="doc middle")
      include ../partials/docs/aside
      include ../page/docs-pdf-company/content
    include ../partials/docs/bottom