extends ../layouts/app

block title
  | Docs: Guide

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: Справочник обработки',
      },
    ];
  include ../partials/pages/breadcrumbs

  - h1 = 'Справочник обработки';
  - page = 'docs-guide.html';
  - next = 'docs-sizes.html';

  div(class="container container-fixed")
    include ../partials/docs/top
    div(class="doc middle")
      include ../partials/docs/aside
      include ../page/docs-guide/content
    include ../partials/docs/bottom