extends ../layouts/app

block title
  | Docs: Sizes

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: Размеры продуктов',
      },
    ];
  include ../partials/pages/breadcrumbs

  - h1 = 'Размеры продуктов';
  - page = 'docs-sizes.html';
  - next = 'docs-pdf-company.html';

  div(class="container container-fixed")
    include ../partials/docs/top
    div(class="doc middle")
      include ../partials/docs/aside
      include ../page/docs-sizes/content
    include ../partials/docs/bottom