extends ../layouts/app

block title
  | Docs: Security

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: Технический паспорт безопасности материалов',
      },
    ];
  include ../partials/pages/breadcrumbs

  - h1 = 'Технический паспорт безопасности материалов';
  - page = 'docs-security.html';
  - next = 'docs-guide.html';

  div(class="container container-fixed")
    include ../partials/docs/top
    div(class="doc middle")
      include ../partials/docs/aside
      include ../page/docs-security/content
    include ../partials/docs/bottom