extends ../layouts/app

block title
  | Docs: Guarantee: Private

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции',
        link: 'catalog.html',
      },
      {
        name: 'Документация: Гарантия: Частное использование',
      },
    ];
  include ../partials/pages/breadcrumbs

  div(class="container container-fixed")
    include ../partials/docs/top
    include ../partials/docs/aside
    include ../page/docs-guarantee-private/content
    include ../partials/docs/bottom