extends ../layouts/app

block title
  | Index page

block main
  include ../page/index/slider
  include ../page/index/scroll
  include ../page/index/benefits
  include ../page/index/trend
  include ../page/index/production