extends ../layouts/app

block title
  | Payment and delivery

block main
  -
    breadcrumbs = [
      {
        name: 'О компании',
        link: '404.html',
      },
      {
        name: 'Оплата и доставка',
      },
    ];
  include ../partials/pages/breadcrumbs

  link(rel="stylesheet", href="css/pages/payment_and_delivery.css")
  include ../page/payment_and_delivery/top
  include ../page/payment_and_delivery/middle
  include ../page/payment_and_delivery/bottom