extends ../layouts/app

block title
  | Search

block main
  -
    breadcrumbs = [
      {
        name: 'Результаты поиска',
      },
    ];
  include ../partials/pages/breadcrumbs

  div(class="container container-fixed")
    include ../page/search/top
    // results
    include ../page/search/results
    // empty
    include ../page/search/empty