extends ../layouts/app

block title
  | Study Handlers

block main
  -
    breadcrumbs = [
      {
        name: 'Обучение',
        link: 'study.html',
      },
      {
        name: 'Для обработчиков',
      },
    ];
  include ../partials/pages/breadcrumbs

  -
    events = [
      {
        type: 'Семинар',
        name: 'Обработка «кварцевого» камня Staron',

        text: 'Как работать с продукцией Staron. Особенности и характеристики искуственного камня. Светопроницаемость камня и его применение в интерьерном дизайне.',
      },
      {
        type: 'Семинар',
        name: 'Особенности работы с камнем в сильно нагреваемых помещениях',

        text: 'Как работать с продукцией Staron. Особенности и характеристики искуственного камня. Светопроницаемость камня и его применение в интерьерном дизайне.',
      },
    ];
  link(rel="stylesheet", href="css/pages/study_directions.css")
  script(src="js/pages/study_directions.js")
  section(class="study_directions")
    div(class="container container-fixed")
      h1(class="h1")
        span(class="title")
          | Обучение
        span(class="subtitle")
          | Для обработчиков
      h2(class="h2 h2-top")
        | Обработчикам
      div(class="subtitle-text")
        | В данном разделе вы найдете ближайшие события центра обучения.
      h2(class="h2 h2-bottom")
        | Грядущих мероприятий
        |
        strong
          = events.length

      div(class="events")
        each event in events
          div(class="event")
            div(class="type")
              = event.type
            div(class="top")
              div(class="name")
                = event.name

            div(class="text")
              = event.text

            details(class="spoiler")

            a(href="study_request.html", class="button default bottom_btn")
              span
                | Записаться
              svg

  include ../page/study/bottom