@import "././resources/styles/__/variables";

.doc.middle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.doc.middle .content {
  font-family: $font-family-1;
  font-style: normal;
  flex-grow: 1;
  max-width: calc(100% - 338px - 60px);

  @media (max-width: $media-grid-lg) {
    max-width: calc(100% - 298px - 50px);
  }

  @media (max-width: $media-grid-md) {
    max-width: calc(100% - 225px - 31px);
  }

  @media (max-width: $media-grid-sm) {
    max-width: 100%;
  }
}

.doc.middle .docs.aside  {
  padding: 38px 20px 38px 0;
  margin-right: 60px;
  width: 338px;
  flex-shrink: 0;

  @media (max-width: $media-grid-lg) {
    margin-right: 50px;
    width: 298px;
  }

  @media (max-width: $media-grid-md) {
    padding-right: 15px;
    margin-right: 31px;
    width: 225px;
  }

  @media (max-width: $media-grid-sm) {
    display: none;
  }

  &::before {
    display: block;
    content: "";
    background-color: $color-gray-050;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: -140px;

    @media (max-width: $media-grid-lg) {
      left: -125px;
    }

    @media (max-width: $media-grid-md) {
      left: -34px;
    }

    @media (max-width: $media-grid-sm) {
      display: none;
    }
  }
}

.docs.aside {
  font-family: $font-family-1;
  font-style: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .link, .title {
    position: relative;
    z-index: 1;
  }

  .link:not(:last-child) {
    margin-bottom: 10px;
  }

  .lvl-1:not(:last-child) {
    padding-bottom: 10px;
  }

  .lvl-2 + .lvl-1 {
    padding-top: 10px;
  }

  .title {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-black;

    svg {
      display: block;
      width: 14px;
      height: auto;
      margin-left: 8px;
      transform: rotate(180deg);
    }
  }

  .title span, .lvl-1 a, .lvl-2 a {
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .title span, .lvl-1 span, .lvl-1 a {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;

    @media (max-width: $media-grid-md) {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .lvl-2 span, .lvl-2 a {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;

    @media (max-width: $media-grid-md) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .link span {
    color: $color-red-700;
  }

  .lvl-1 a, .lvl-2 a {
    text-decoration: none;
    color: $color-black;

    @media (hover: hover) {
      &:hover {
        color: $color-gray-700;
      }
    }

    &:active {
      color: $color-gray-500;
    }
  }
}