@import "././resources/styles/__/variables";

.docs.bottom {
  font-family: $font-family-1;
  font-style: normal;
  position: relative;
  padding: 60px 0 90px;

  @media (max-width: $media-grid-md) {
    padding: 44px 0 85px;
  }

  @media (max-width: $media-grid-sm) {
    padding: 36px 0 80px;
  }

  .info {
    margin-left: auto;
    padding: 40px 32px;
    width: 794px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-gray-050;

    @media (max-width: $media-grid-lg) {
      padding: 40px;
      width: 682px;
    }

    @media (max-width: $media-grid-md) {
      flex-direction: column;
      padding: 30px;
      width: 444px;
    }

    @media (max-width: $media-grid-sm) {
      padding: 36px 30px 40px;
      width: 100%;
    }

    .h2 {
      margin: 0 0 4px;
      color: $color-black;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;

      @media (max-width: $media-grid-md) {
        font-size: 24px;
        line-height: 30px;
      }

      @media (max-width: $media-grid-sm) {
        font-size: 21px;
        line-height: 26px;
      }
    }

    .text {
      margin: 0;
      color: $color-black;
      font-weight: 400;
      font-size: 17px;
      line-height: 32px;

      @media (max-width: $media-grid-md) {
        font-size: 15px;
        line-height: 28px;
      }

      @media (max-width: $media-grid-md) {
        font-size: 14px;
        line-height: 26px;
      }
    }

    .application {
      width: 310px;
      height: 70px;

      @media (max-width: $media-grid-lg) {
        width: 240px;
      }

      @media (max-width: $media-grid-md) {
        margin-top: 18px;
        width: 100%;
        height: 52px;
      }

      @media (max-width: $media-grid-sm) {
        height: 42px;
        font-size: 15px;
      }
    }
  }

  .buttons {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: $media-grid-sm) {
      margin-top: 40px;
      flex-direction: column-reverse;
    }

    .to-home {
      position: absolute;
      bottom: 144px;
      width: 264px;
      height: 70px;

      @media (max-width: $media-grid-md) {
        position: static;
        width: 224px;
        height: 52px;
      }

      @media (max-width: $media-grid-sm) {
        margin-top: 50px;
        width: 100%;
      }

      svg {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    .to-next {
      margin-left: auto;
      width: 154px;
      height: 52px;

      @media (max-width: $media-grid-md) {
        width: 150px;
      }

      @media (max-width: $media-grid-sm) {
        width: 100%;
      }

      svg {
        display: block;
        width: 8px;
        height: 12px;
        margin-left: 15px;
      }
    }
  }
}