@import "././resources/styles/__/variables";

.docs.top {
  font-family: $font-family-1;
  font-style: normal;
  position: relative;
  padding: 0 0 40px;

  @media (max-width: $media-grid-lg) {
    padding-bottom: 36px;
  }

  @media (max-width: $media-grid-md) {
    padding-bottom: 44px;
  }

  @media (max-width: $media-grid-sm) {
    padding-bottom: 36px;
  }

  .title {
    color: $color-black;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-size: 48px;
    line-height: 58px;

    @media (max-width: $media-grid-md) {
      font-size: 36px;
      line-height: 44px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .h1 {
    padding-right: 42px;
    margin: 18px 0 60px;
    color: $color-gray-300;
    font-weight: 600;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;

    @media (max-width: $media-grid-lg) {
      margin-bottom: 50px;
    }

    @media (max-width: $media-grid-md) {
      font-size: 12px;
    }

    @media (max-width: $media-grid-sm) {
      margin-bottom: 44px;
      font-size: 11px;
      line-height: 16px;
    }
  }

  .text {
    max-width: 700px;
    color: $color-black;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 17px;
    line-height: 24px;

    @media (max-width: $media-grid-lg) {
      max-width: 610px;
    }

    @media (max-width: $media-grid-md) {
      max-width: 100%;
      font-size: 15px;
      line-height: 28px;
    }

    @media (max-width: $media-grid-sm) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  .btn {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 41px;
    width: 40px;
    height: 40px;
    background-color: $color-gray-050;
    color: $color-gray-900;

    @media (max-width: $media-grid-sm) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-gray-500;
      }
    }

    &:active {
      color: $color-red-700;
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}