@import "././resources/styles/__/variables";

.product.info {
  width: 536px;
  padding-bottom: 90px;

  @media (max-width: $media-grid-lg) {
    width: 466px;
  }

  @media (max-width: $media-grid-md) {
    width: 300px;
    padding-bottom: 104px;
  }

  @media (max-width: $media-grid-sm) {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 202px;
  }

  // todo
  min-height: 900px;
  background-color: darkkhaki;


  .text {}

  .properties-head {}

  .properties-body {}

  .glues {}

  .buttons {}

  .links {}
}