.where_to_buy.bottom {
  padding: 60px 0 90px;
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom {
    padding-top: 56px;
  }
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom {
    padding-top: 35px;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-head {
  display: none;
  margin-bottom: 46px;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-head {
    display: flex;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-head .btn {
  height: 48px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: #7C7C81;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-head .btn {
    font-size: 21px;
    line-height: 26px;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-head .btn:not(:last-child) {
  margin-right: 30px;
}
.where_to_buy.bottom .where_to_buy-tabs-head .btn.active {
  cursor: default;
  border-bottom-color: #DD2929;
  color: #000000;
}
.where_to_buy.bottom .where_to_buy-tabs-body {
  height: 950px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body {
    height: auto;
    display: block;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-body-dealers {
  margin-right: 16px;
  width: 571px;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1422.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-dealers {
    width: 505px;
  }
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-dealers {
    margin-right: 0;
    width: 100%;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-body-dealers::after {
  content: "";
  z-index: 1;
  position: absolute;
  height: 192px;
  width: 542px;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  pointer-events: none;
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-dealers::after {
    display: none;
  }
}
.where_to_buy.bottom .title-row {
  margin-bottom: 30px;
  width: 542px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 1422.98px) {
  .where_to_buy.bottom .title-row {
    width: 480px;
  }
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .title-row {
    width: 100%;
  }
}
.where_to_buy.bottom .title-row .h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .title-row .h2 {
    font-size: 21px;
    line-height: 26px;
  }
}
.where_to_buy.bottom .title-row .found {
  font-size: 17px;
  line-height: 28px;
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .title-row .found {
    font-size: 15px;
  }
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .title-row .found {
    font-size: 14px;
    line-height: 24px;
  }
}
.where_to_buy.bottom .title-row .found span {
  color: #DD2929;
}
.where_to_buy.bottom .buttons {
  display: none;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: stretch;
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .buttons {
    display: flex;
  }
}
.where_to_buy.bottom .buttons .button {
  width: 198px;
  height: 52px;
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .buttons .button {
    width: 176px;
    height: 42px;
    font-size: 15px;
  }
}
.where_to_buy.bottom .buttons .button:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .buttons .button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.where_to_buy.bottom .buttons .button:not(:last-child) svg {
  transform: rotate(180deg);
}
.where_to_buy.bottom .buttons .button svg {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .buttons .button svg {
    width: 16px;
    height: 16px;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-body-map {
  margin-right: -140px;
  width: 712px;
  height: 950px;
}
@media (max-width: 1422.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-map {
    margin-right: -124px;
    width: 633px;
  }
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-map {
    padding-top: 10px;
    margin-right: 0;
    width: 100%;
    height: 610px;
  }
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-map {
    margin: 0 -20px;
    height: 410px;
    width: auto;
  }
}
.where_to_buy.bottom .where_to_buy-tabs-body-map img {
  width: 712px;
  height: 960px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1422.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-map img {
    width: 633px;
  }
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-map img {
    width: 100%;
    height: 600px;
  }
}
@media (max-width: 750.98px) {
  .where_to_buy.bottom .where_to_buy-tabs-body-map img {
    height: 400px;
  }
}
@media (max-width: 1262.98px) {
  .where_to_buy.bottom .tab_hidden, .where_to_buy.bottom .dealer_hidden {
    display: none;
  }
}
