.where_to_buy.top .h1 {
  margin: 0 0 54px;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 1262.98px) {
  .where_to_buy.top .h1 {
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 750.98px) {
  .where_to_buy.top .h1 {
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 36px;
  }
}
.where_to_buy.top .form {
  padding: 52px 0 48px;
  background-color: #F8F8F8;
}
@media (max-width: 1262.98px) {
  .where_to_buy.top .form {
    padding: 44px 0 60px;
  }
}
@media (max-width: 750.98px) {
  .where_to_buy.top .form {
    padding-bottom: 50px;
  }
}
