.catalog-wrapper .catalog_cards {
  margin-bottom: 52px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1422.98px) {
  .catalog-wrapper .catalog_cards {
    margin-bottom: 48px;
  }
}
@media (max-width: 1262.98px) {
  .catalog-wrapper .catalog_cards {
    margin-bottom: 48px;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750.98px) {
  .catalog-wrapper .catalog_cards {
    margin-bottom: 24px;
  }
}
.catalog-wrapper .catalog_cards .card {
  position: relative;
  z-index: 0;
  text-decoration: none;
}
.catalog-wrapper .catalog_cards .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid transparent;
}
@media (hover: hover) {
  .catalog-wrapper .catalog_cards .card:hover::before {
    border-color: #7C7C81;
  }
}
.catalog-wrapper .catalog_cards .card:active::before {
  border-color: #4A4A51;
}
.catalog-wrapper .catalog_cards .title {
  padding: 0 6px;
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  background-color: #FFFFFF;
  color: #27272B;
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 1262.98px) {
  .catalog-wrapper .catalog_cards .title {
    font-size: 15px;
  }
}
@media (max-width: 750.98px) {
  .catalog-wrapper .catalog_cards .title {
    top: 12px;
    left: 12px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media (hover: hover) {
  .catalog-wrapper .catalog_cards .card:hover .title {
    background-color: #F8F8F8;
  }
}
.catalog-wrapper .catalog_cards .card:active .title {
  background-color: #E0E0E1;
}
.catalog-wrapper .catalog_cards .img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
