.catalog-wrapper .catalog_filter .filters {
  padding: 40px 34px 44px;
  background-color: #F8F8F8;
}
.catalog-wrapper .catalog_filter .btn-filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  color: #27272B;
  margin-bottom: 28px;
}
.catalog-wrapper .catalog_filter .btn-filter-title span {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 19px;
  line-height: 28px;
}
@media (max-width: 1422.98px) {
  .catalog-wrapper .catalog_filter .btn-filter-title span {
    font-size: 17px;
  }
}
@media (max-width: 1262.98px) {
  .catalog-wrapper .catalog_filter .btn-filter-title span {
    font-size: 19px;
  }
}
@media (max-width: 750.98px) {
  .catalog-wrapper .catalog_filter .btn-filter-title span {
    font-size: 17px;
  }
}
.catalog-wrapper .catalog_filter .btn-filter-title svg {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}
.catalog-wrapper .catalog_filter .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.catalog-wrapper .catalog_filter .link {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: #000000;
}
@media (hover: hover) {
  .catalog-wrapper .catalog_filter .link:hover {
    color: #636368;
  }
}
.catalog-wrapper .catalog_filter .link:active {
  color: #4A4A51;
}
.catalog-wrapper .catalog_filter .link span {
  font-family: "Proxima Nova", "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 17px;
  line-height: 24px;
}
.catalog-wrapper .catalog_filter .link svg {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}
.catalog-wrapper .catalog_filter .filter_reset {
  margin-top: 14px;
  width: 100%;
  height: 52px;
}
@media (max-width: 750.98px) {
  .catalog-wrapper .catalog_filter .filter_reset {
    height: 42px;
    font-size: 15px;
  }
}
.catalog-wrapper .catalog_filter .filter_reset svg {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
@media (max-width: 750.98px) {
  .catalog-wrapper .catalog_filter .filter_reset svg {
    height: 16px;
    font-size: 16px;
  }
}
