link(rel="stylesheet", href="css/page/docs-sizes/content.css")
section(class="docs-sizes content")

    div(class="item")
      img(src="images/content-docs-sizes-1.png", alt="", class="right")
      div(class="left")
        div(class="text")
          | Коллекции
        div(class="title")
          | Supreme, Solid, Sanded, Aspen, Pebble, Quarry, Metallic, Tempest
        table(class="table")
          thead
            tr
              th
                | Толщина
              th
                | Ширина
              th
                | Длина
              th
                |
          tbody
            tr
              td
                | 12
              td
                | 760
              td
                | 3 680
              td
                | мм
            tr
              td
                | 1/2
              td
                | 30
              td
                | 145
              td
                | in

    div(class="item")
      img(src="images/content-docs-sizes-2.jpg", alt="", class="right")
      div(class="left")
        div(class="text")
          | Коллекции
        div(class="title")
          | Solid, Sanded, Aspen
        table(class="table")
          thead
            tr
              th
                | Толщина
              th
                | Ширина
              th
                | Длина
              th
                |
          tbody
            tr
              td
                | 12
              td
                | 760
              td
                | 3 680
              td
                | мм
            tr
              td
                | 1/2
              td
                | 30
              td
                | 145
              td
                | in