link(rel="stylesheet", href="css/page/product/images.css")
script(src="js/page/product/images.js")
section(class="product images")
  div(class="images-wrapper")
    div(class="img-big")
      img(alt="", src="images/content-collection-1.jpg")
    div(class="img-small img-0 active")
      img(alt="", src="images/content-collection-1.jpg")
    div(class="img-small img-1")
      img(alt="", src="images/content-collection-2.jpg")
    div(class="img-small img-2")
      img(alt="", src="images/content-collection-3.jpg")
