link(rel="stylesheet", href="css/page/product/info.css")
section(class="product info")

  div(class="title")
    div(class="title-left")
      div(class="collection-text")
        | Коллекция
      div(class="collection-title")
        | Supreme
    div(class="title-right")
      div(class="product-text")
        | Выбранный продукт
      div(class="product-title")
        | Natural Bridge
      div(class="product-article")
        | VN144

  div(class="text")
    p
      | Чистые цвета и уникальные оттенки: от белоснежного до глубокого черного. Без включений и блеска.
    p
      | Наиболее востребованы для частных интерьеров в современном стиле, а также для создания функциональных элементов дизайна общественных помещений.

  div(class="properties-head")
    | Технические характеристики

  div(class="properties-body")
    div
      | длина (мм): 3680
    div
      | толщина (мм): 12
    div
      | вес плиты (кг): 62,9
    div
      | ширина (мм): 760
    div
      | площадь (м2): 2,8

  div(class="quantity-wrapper")

  div(class="glues")
    div(class="glues-head")
      | Объем поставки клея
    div(class="glues-body")
      div(class="glues-left")
        | *с данным продуктом в комплекте вы можете заказать подходящий к нему
        |
        a(href="404.html")
          | клей
      div(class="glues-right")

  div(class="buttons")

  div(class="links")
