link(rel="stylesheet", href="css/page/product/info.css")
section(class="product info")

  div(class="text")

  div(class="properties-head")

  div(class="properties-body")

  div(class="glues")

  div(class="buttons")

  div(class="links")
